.videoSlider {
  :global {
    .slick-slide {
      position: relative;
    }
  }

  .subVideos {
    height: 78px;
  }
  
  .video {
    height: 263px
  }
}

.videoContainer {
  position: relative

  video {
    width: 100%;
  }

  .videoIcon {
    display: none;
    position: absolute;
    top: 94px;
    left: 200px;
    font-size: 75px;
  }

  &:hover {
    .videoIcon {
      display: block;
    }
  }
}
