ul.checkboxGroup {
  [type="checkbox"]{
      visibility: hidden;
      position: absolute;
  }

  [type="checkbox"]:checked ~ .check::before{
    background: $color-primary-electric-yellow;
  }

  display: flex;
  position: relative;
  justify-content: space-around;
  height: 100%;
  align-items: center;

  li {
    position: relative;

    label {
      position: relative;
      cursor: pointer;
      @include transition(0.1s linear);
      display: flex;
      align-items: center;

      .check {
        position: relative;
        border: 1px solid $color-neutral-charcoal;
        height: 20px;
        width: 20px;
        @include transition(0.1s linear);
        margin-left: 8px;

        &:before {
          display: block;
          position: absolute;
          content: '';
          height: 100%;
          width: 100%;
          @include transition(0.1s linear);
        }
      }
    }

    &:hover {
      .check {
        border: 1px solid $color-neutral-medium-grey;
      }
    }
  }
}


