.videoContainer {
  margin: 56px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &_noContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 64px auto;
    font-family: $font-family-primary;
    font-size: 21px;
  }
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-dark-five, 0.4);
  z-index: 999;
}

.overlayShow {
  display: block;
}

.inputArea {
  display: block;
}

.loadButton {
  display: block;
  margin: 0 auto;
}

.libraryLoading {
  height: min-content;
}
