%icons {
	color: $color-white;
	margin: 0 4px;
}

%round {
	width: 6px;
	height: 6px;
	display: inline-block;
	margin: 0 10px;
	border-radius: 6px;
}

%tabElement {
	flex: auto;
	text-align: center;
	padding: 8px 0;
}

.main {
	margin: 45px 0;
}

.statistic {
	height: 400px;
	background: $color-white;
}
.labels {
	p {
		line-height: 1.6;
		text-align: right;
		color: $color-white;
	}
}
.selectedTabs {
	background-color: $color-aqua-blue;
	color: $color-black;
}
.selectedPanel {
	padding: 0;
	margin: 0;
}
.selectedTabForVideoTabs {
	background-color: $color-charcoal-grey;
}
.closeButton {
	color: $color-white;
	font-size: 13px;
	font-family: $font-family-clanOTBook;
	padding: 10px 12px;
	background: $color-dark-three;
	cursor: pointer;
}
.tablList {
	border: 1px solid $color-aqua-blue;
}
.header {
	font-size: 18px;
	color: $color-white;
	font-weight: bold;
	font-family: $font-family-sans-serif;
	margin-bottom: 45px;
}
.videoImage {
	position: relative;
}
.videoTabs {
	background: $color-white;
	height: 400px;
}
.videoIcon {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
	font-size: 85px;
	transform: translate(-50%, -50%);
}
.videoBriefLegend {
	font-size: 12px;
	color: $color-white;
	font-family: $font-family-clanOT;
	margin: 13px;
}
.activeIcon {
	@extend %icons;
	opacity: 1;
}
.deactiveIcon {
	@extend %icons;
	opacity: 0.25;
}
.roundTealish {
	@extend %round;
	background: $color-tealish;
}
.roundGrey {
	@extend %round;
	border: solid 0.7px $color-black;
	background-image: linear-gradient(to top, $color-charcoal-grey, $color-dark);
}
.roundWhite {
	@extend %round;
	margin: 0px 5px 0px 0px;
	width: 11px;
	height: 11px;
	border-radius: 11px;
	background: $color-white;
}
.secondTitle {
	width: 100%;
	padding: 9px 0;
	text-align: center;
	color: $color-tealish;
	font-size: 12px;
	font-family: $font-family-clanOT;
	border-bottom: 2px solid $color-tealish;
}
.videoBottomLegend {
	text-align: center;
	float: left;
	font-size: 12px;
	width: 100%;
	color: $color-white;
	font-family: $font-family-clanOT;
	height: 40px;
}
.avarageText {
	font-family: $font-family-clanOT;
	font-size: 12px;
	color: $color-tealish;
}
.title {
	font-size: 15px;
	font-family: $font-family-clanOT;
	font-weight: bold;
	text-align: center;
	margin-top: 46px;
}
.body {
	margin-top: 33px;
}
.boxes {
	display: block;
}
.box {
	width: 26px;
	height: 20px;
	box-shadow: 0 0 6px 0 $color-tealish, inset 0 0 6px 2px $color-tealish;
	display: inline-block;
	margin: 1px;
}
.selectedPanelForVideoTabs {
	height: 310px;
	background: $color-charcoal-grey;
}
.videoBriefLegendRight {
	margin-top: 60px;
	font-size: 12px;
	color: $color-white;
	font-family: $font-family-clanOT;
	text-align: left;
	li {
		padding: 10px 0;
	}
}
.videoBriefLegendBottom {
	font-size: 12px;
	margin: 10px 20px;
	p {
		width: 50%;
		padding-top: 8px;
		float: left;
	}
}
.lineTopLabel {
	font-size: 12px;
	font-family: $font-family-clanOT;
	margin: 13px 0px;
}

.avarageSecondText {
	font-size: 8px;
	color: $color-tealish;
	width: 60px;
}

.legendSecondTitle {
	font-size: 8px;
	color: $color-white;
}
.barChartPosition {
	width: 75%;
	margin-top: 20;
	float: left;
}
.avaragePosition {
	float: left;
	width: 25%;
	margin-left: -20px;
	margin-top: 20px;
	font-size: 12;
}
.legendRound {
	display: inline-block;
	margin: 0 10px;
	border-radius: 6px;
	width: 9px;
	height: 9px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.compareVideoHeadings {
	text-align: center;
	color: $color-tealish;
	padding: 16px 0;
	font-family: $font-family-clanOT;
	font-weight: bold;
	font-size: 12px;
}

.compareArea {
	position: relative;
	padding: 50px 0;
}
.compareAvarageArea {
	position: absolute;
	top: 40%;
	height: 90px;
	border-top: 1px solid #00bdd6;
	border-left: 1px solid #00bdd6;
	border-right: 1px solid #00bdd6;

	p {
		margin-top: -20px;
		text-align: center;
		color: #00bdd6;
		font-size: 12px;
	}
}

.tab {
	display: flex;
	border: 1px solid #00c8d6;
}
.tabElement {
	@extend %tabElement;
	background-color: #22212f;
}

.tabElementActive {
	@extend %tabElement;
	background-color: #00c8d6;
}
.percentageLegend {
	margin-top: 35px;
	font-size: 12px;
	font-family: $font-family-clanOTBook;
}
.differenceText {
	font-family: $font-family-clanOT;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: $color-white;
}
