.videoContainer {
  margin: 50px -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sidebar {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: $color-dusk;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  width: 424px;
  z-index: 1000;
  right: -426px; // 2px for shadow
  top: 0;

  &.fixed {
    overflow: hidden;
  }
}

.sidebarMain {
  position: relative;
  height: 100%;
  width: 100%;

  &.fixed {
    display: flex;
  }
}

.sidebarDurationRange {
  width: 100%;
}

.sidebarHeader {
  position: relative;
  width: 100%;
  .text {
    padding: 0 32px;
    line-height: 80px;
    font-family: $font-family-ClanOT;
    font-weight: bold;
    font-size: 14px;
    span {
      cursor: pointer;
    }
  }

  &.fixed {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 11;
  }
}

.sidebarVisible {
  right: 0;
}

.sidebarContent {
  &.fixed {
    width: 100%;
    height: calc(100% - 80px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color-dark-five, 0.4);
  z-index: 999;
}

.overlayShow {
  display: block;
}

.inputArea {
  display: block;
}

.cancel {
  cursor: pointer;
  margin: 32px 0;
  font-family: $font-family-ClanOT;
  font-size: 14px;
  font-weight: bold;
  color: $color-white;
}

.sidebarApplyButton {
  border: 1px solid $color-cool-grey !important;
}
.loadButton {
  display: block;
  margin: 0 auto;
}
