.section {
  position: relative;
  height: 480px;
  overflow: hidden;
  margin-top: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;

  > div {
    display: inline-block;
    width: 104px;
    height: 78px;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 28px;
    }

    .videoContainer{
      position: relative;
      width: 104px;
      height: 52px;
      overflow: hidden;
      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 8px;
    }

    span {
      font-size: 14px;
      margin: 8px 0px 0px;
      display: flex;
      justify-content: left;
      align-items: baseline;

      i {
        margin-right: 8px;
      }
    }
  }
}

.nextButton,
.prevButton {
  position: absolute;
  cursor: pointer;
  border-radius: 20px;
  right: 40px;
  top: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  z-index: 100;
}

.prevButton {
  left: 40px;
  right: auto;
}

.disabled {
  opacity: .5;
  cursor: initial;
}

.fullVideo {
  width: 100%;
}