.header {
  background: $color-dark-grey-blue;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  padding: 23px 40px;
  font-family: $font-family-ClanOT;

  div {
    display: flex;
    align-items: center;
    font-size: 14px;
    a {
      color: $color-white;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      .text {
        margin-left: 16px;
        font-size: 14px;
      }
      span {
        font-size: 30px;
      }
    }
  }
}

.profile {
  justify-content: flex-end;
  color: $color-white;
  font-size: 14px;
  font-family: $font-family-ClanOT;
  font-weight: bold;

  .profileImage {
    border: 2px solid $color-white;
    vertical-align: middle;
    margin-right: 16px;
    box-sizing: border-box;
  }
}
