.arrowContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  .leftArrows{
    margin-left: 13px;
    margin-top: 2px;
  }

  .rightArrows{
    margin-right: 13px;
    margin-top: 2px;
  }
}
