
header.frameHeader {
  display: flex;
  @include flex-direction(column);
  @include align-items(left);
  @include justify-content(center);
  position: relative;
  clear: both;
  height: auto;
  color: $color-neutral-charcoal;

  &.centered {
    @include grid-column(10);
    @include grid-push(1);
    text-align: center;

    h2 {
      @include margin(80px auto 10px auto);
    }
  }

  h2 {
    @include margin(32px 0 null null);
    @include padding(0);
    position: relative;
    font-size: 32px;
    font-family: $font-family-sans-serif-bold;
    line-height: 32px;
 }

  h3 {
    font-size: 16px;
    font-weight: normal;
    @include margin(16px null 16px null);
    width: 100%;
  }
}

header.buyer {
  h2 {
    @include frame($color-primary-electric-yellow, 12px, 32px, -30px, -25px);
  }
}

header.creator {
  h2 {
    @include frame($color-primary-electric-blue, 12px, 40px, -30px, -25px);
  }
}
