.stepCounter {
  @include margin(null null 0 null);
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;

  .stats {
    font-size: 24px;
    text-align: center;
    color: $color-accent-purple;
    font-family: $font-family-sans-serif-bold;
  }

  .back {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    &:before {
      font-family: $font-family-qf-icons;
      content: "\e910";
      color: $color-neutral-medium-grey;
      position: absolute;
      left: -20px;
    }

    &:hover {
      &:before {
        color: rgba($color-neutral-medium-grey, 0.5);
      }
    }
  }

}
