.emailLoginForm {
  fieldset {
		margin: 0 auto 20px;
		max-width: 340px;
	  padding: 0 10px;

    @media #{$medium-up} {
      @include grid-column(8);
      float: none;
			margin: 0 auto 20px;
			max-width: none;
    }
  }

  .notefield {
    input {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 20px;
    }

    .error {
      top: 0;
    }
  }

  footer {
    @include clearfix;
		padding: 0 10px;
    margin: 0 auto;
		max-width: 340px;

		@media #{$medium-up} {
			width: 340px;
			max-width: none;
		}

    button {
      font-size: 15px;
      font-weight: normal;
      width: 100%;
    }

    .buyerSignupButton {
      background-color: $color-primary-electric-yellow;
    }
    .creatorSignupButton {
      background-color: $color-primary-electric-blue;
    }
    .loginButton {
      background-color: $color-neutral-charcoal;
      color: white;

      &:hover {
        color: $color-accent-mango;
      }
    }

    .message {
      margin-top: 30px;
      width: 100%;

            .validation {
                font-size: 16px;
                color: red;
                padding: 10px;
            }

      .buyerLogin {
        display: flex;
        justify-content: center;

        a {
          font-size: 13px;
          font-weight: normal;
          text-decoration: none;
          color: $color-neutral-charcoal;

          &:hover {
            color: $color-accent-mango;
          }
        }
      }

      .messageContainer {
        display: flex;
        justify-content: space-between;
        a {
          font-size: 15px;
          font-weight: normal;
          text-decoration: none;
          color: $color-neutral-charcoal;

          &:hover {
            color: $color-accent-mango;
          }
        }
      }
    }
  }
}

.signupError {
  font-size: 12px;
  color: red;
  margin-bottom: 8px;
}

.contactForm {

	.contact {
		display: flex;
		flex-direction: column;

		@media #{$medium-up} {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	.tile {
		width: 100%;
		position: relative;
		z-index: 0;

		&::before {
			content: '';
			display: block;
			padding-top: 100%;

			@media #{$small-up} {
				padding-top: 80%;
			}
			@media #{$medium-up} {
				padding-top: 100%;
			}
		}

		@media #{$medium-up} {
			width: 50%;
		}

		@media #{$large-up} {
			width: 33.3333%;
		}
	}

	.tile1 {

	}

	.tile2 {
		background: url("#{$s3_static}contact/contact-page-tile-2-bkgd.png") no-repeat right bottom #fc9048;
		background-size: 420px 321px;
	}

	.tile3 {
		background-color: $color-primary-electric-blue;
	}

	.tile4 {
		background: url("#{$s3_static}contact/contact-page-tile-4-bkgd.png") no-repeat right bottom $color-neutral-charcoal;
		background-size: cover;

		.tileContent {
			label {
				color: $color-neutral-white;
			}

			input[type='text'] {
				&:focus {
					background: $color-neutral-white;
					opacity: 1;

					&::placeholder {
						color: $color-neutral-medium-grey;
					}
				}

				&::placeholder {
					color: $color-neutral-white;
				}

				&.filled {
					color: $color-neutral-white;
					background: transparent;
					opacity: 1;

					&:focus {
						color: $color-neutral-charcoal;
						background: $color-neutral-white;
					}
				}
			}
		}
	}

	.tile5 {
		background-color: $color-primary-electric-yellow;
	}

	.tile6 {

		div.tileContent {
			padding-top: 15%;

			@media #{$medium-up} {
				padding-top: 29%;
			}

			@media #{$large-up} {
				padding-top: 26%;
			}
		}
	}

	.tileContent {
		align-items: center;
		display: flex;
		flex-direction: column;
		// ustify-content: center;
		z-index: 1;
		padding: 29% 10px;
		@include position(absolute, 0px null null 0px);
		@include size(100%);

		@media #{$small-up} {
			padding: 29% 40px;
		}

		@media #{$medium-up} {
			padding: 29% 20px 0;
		}

		@media #{$large-up} {
			padding: 26% 30px 0;
		}

		@media #{$xlarge-up} {
			padding: 29% 40px 0;
		}

    .referrerWrapper {
      width: 100%;
    }

		input[type='text'], textarea {
			background: transparent;
			border: 0px;
			color: $color-neutral-charcoal;
			font-size: 24px;
	  	line-height: 1.5;
			text-align: center;
			opacity: 0.5;

			&:focus {
				background: $color-neutral-white;
				opacity: 1;

				&::placeholder {
					color: $color-neutral-medium-grey;
				}
			}

			&::placeholder {
				color: $color-neutral-charcoal;
			}

			&.filled {
				opacity: 1;
				background: transparent;

				&:focus {
					background: $color-neutral-white;
				}
			}

			+ span {
				text-align: center;
     		width: 100%;
			}
		}

		textarea {
			width: 100%;
			margin-top: 7px;
		}

		label {
			display: block;
			font-family: $font-family-sans-serif-bold;
			font-size: 18px;
			padding-bottom: 20px;
			margin-bottom: 0px;
      text-align: center;

			span {
				font-family: $font-family-sans-serif;
				font-size: 14px;
			}
		}

		:global .Select {
			width: 100%;
		}

		:global .Select-control {
			background: #FFF;
			border: 0px;
			height: 56px;
			outline: none;

			&:hover {
				box-shadow: 0px 0px 0px transparent;
			}
		}

		:global .is-open .Select-control {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			border-bottom: 0px;
		}

		// :global .is-open .Select-value span {
		// 	color: #FFF;
		// 	-webkit-text-stroke-color: transparent;
		// }

		:global .Select-control .Select-value {
			@include padding(null 24px);
		}

		:global .Select-control .Select-placeholder {
			background-color: $color-neutral-white;
			color: $color-neutral-charcoal;
			font-size: 24px;
	    height: 56px;
			line-height: 53px;
			text-align: center;
		}

		:global .Select-arrow-zone {
			display: none;
		}

		:global .Select-value span {
			align-items: center;
			color: $color-neutral-charcoal;
			display: flex;
			font-size: 24px;
	    height: 48px;
			justify-content: center;
			line-height: 50px;
			text-decoration: underline;
	    text-decoration-color: $color-neutral-charcoal;

			&::after {
				content: "";
				display: inline-block;
				@include size(14px);
				transform: rotate(45deg);
				transform-origin: center center;
				border-right: 2px solid $color-neutral-charcoal;
				border-bottom: 2px solid $color-neutral-charcoal;
				position: relative;
				left: 12px;
				top: -2px;
			}
		}

		:global .Select-menu-outer {
			background: #FFF;
			border: 1px solid #d9d9d9;
			border-radius: 2px;
		}

		:global .Select-option {
			background: #FFF;
			color: #979797;

		  &:hover {
		    background-color: #e7e7e7;
		  }
		}

		:global .Select-option.is-selected {
			color: #353535;
		}

	}

	.submit {
    display: block;
		background: #979797;
		border: 0px;
		cursor: pointer;
		font-family: $font-family-sans-serif-bold;
		width: 100%;
		@include position(absolute, null null 0px 0px);

		&:hover {
			background: $color-accent-purple;
			color: $color-neutral-white;
		}
	}
}

.homeContact {
  width: 100%;
  fieldset {
    @include grid-column(12);

    @include grid-media($medium-grid) {
      @include grid-column(8);
      @include grid-push(2);
    }

    position: relative;
    z-index: 100;
    margin-bottom: 20px;

    .hide {
      display: none;
    }
  }

  [type="text"], [type="email"], [type="password"] {
    color: white;
    background-color: black;
    border: none;
    border-bottom: 1px solid grey !important;
    &:focus {
      border: none;
      border-bottom: 1px solid grey !important;
    }
  }

  textarea {
    color: white;
    background-color: black;
    border-radius: 2px;
    border: 1px solid $color-neutral-medium-grey;
    margin-top: 40px;
  }

  footer {
    margin-top: 40px;
  }
}
