.progressContainer {
  display: flex;
  justify-content: space-between;
}

.radarChartContainer {
  width: 100%;
}

.progressInner {
  max-width: 400px;
  width: 100%;
}

.groupProgressBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 860px;
  margin: 85px auto 75px;
  p {
    font-size: 18px;
    font-family: $font-family-ClanOTBold;
  }
}

.groupChart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 0 20px;
  max-width: 1052px;
  margin: 30px auto;
}

.chartPos {
  position: relative;
  display: flex;
  &:last-child {
    justify-content: end;
  }
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.label {
  border-radius: 17px;
  background-color: #fff;
  color: #505050;
  font-family: $font-family-ClanOTBold;
  font-size: 14px;
  padding: 8px 24px;
  margin: 15px 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &.dark {
    background-color: #545b79;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  }
  &.light {
    box-shadow: 0 1px 2px 0 #bebebe;
  }
}

.progressBarArea {
  width: 100%;

  .progressBarInner {
    margin-bottom: 60px;
    width: 100%;
    position: relative;

    &.reverse {
      .progressText {
        .leftTitle {
          float: right;
        }

        .rightTitle {
          float: left;
        }

        span {
          &:first-child {
            text-align: right;
          }
        }
      }

      .progressBar {
        display: flow-root;
      }

      .percentageBlue {
        float: right;
      }
    }

    .progressBar {
      background-color: #21243b; // $color-dark-six
      border-radius: 12px;
      height: 12px;
      margin-top: 10px;
    }

    .percentageBlue {
      border-radius: 12px;
      height: 12px;
      background-color: #545b79; // $dusk-two
      -webkit-transition: width 0.5s, height 0.5s;
      transition: width 0.5s, height 0.5s;
    }

    .progressText {
      // color: $color-white;
      font-size: 14px;
      font-family: $font-family-ClanOTNews;

      .leftTitle {
        float: left;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        display: flex;
        align-items: center;

        .dot {
          width: 16px;
          height: 16px;
          margin-right: 10px;
          border-radius: 50%;
        }
      }

      .rightTitle {
        float: right;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }

      &::after {
        content: '';
        clear: both;
        display: table;
      }
    }
  }
}

.progressCountArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 40px;

  .progressCount {
    font-family: ClanOT;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: 1px solid $color-cool-grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    margin-bottom: 58px;
    box-sizing: border-box;
  }
}

.emptyData {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.progressInner {
  &:first-child {
    .progressBarArea {
      .progressText {
        .leftTitle {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row-reverse;

          .dot {
            margin-left: 10px;
            margin-right: 0px;
          }
        }
      }
    }
  }
}

.radarChartContainer {
  .groupChart {
    .chartPos {
      &:first-child {
        margin-left: -18px;
      }
      &:last-child {
        margin-right: -18px;
      }
    }
  }
}
