.labels {
  margin-bottom: 47px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.removeMargin {
  margin-bottom: 0px;
}

.round {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 8px;
}

.secondsText {
  font-size: 14px;
  font-family: $font-family-ClanOTNews;
  // color: $color-white;
}
