.labels {
  padding: 24px 0;
}

.round {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 5px;
}

.secondsText {
  font-size: 14px;
  font-family: $font-family-ClanOTNews;
  color: $color-white;
}
