.stadiumChart {
  // transition: stroke 0.3s ease-in-out;
  rect {
    &:hover {
      cursor: pointer;
    }
  }
}

.stadiumCharTooltip {
  display: none;
  position: fixed;
  z-index: 2;
  font-family: Helvetica;
  background: #ffffff;
  color: black;
  padding: 8px 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: calc(50%);
    top: calc(100% - 2px);
    box-sizing: border-box;
    border: 10px solid black;
    border-color: transparent transparent #ffffff #ffffff;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    transform: rotate(-45deg) translate(-50%, -50%);
    box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.5);
  }
}
