.stadiumChart {
  // transition: stroke 0.3s ease-in-out;
  rect {
    &:hover {
      cursor: pointer;
    }
  }
}

.stadiumCharTooltip {
  font-family: $font-family-ClanOT;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  display: none;
  position: fixed;
  z-index: 2;
  padding: 8px 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: calc(50%);
    top: calc(100% - 2px);
    box-sizing: border-box;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    transform: rotate(-45deg) translate(-50%, -50%);
  }
  &.dark {
    color: $dark_tooltipColor;
    box-shadow: 0 1px 2px 0 $dark_tooltipShadowColor;
    background-color: $dark_tooltipBackgroundColor;

    &:after {
      border: 7px solid $dark_tooltipBackgroundColor;
      border-color: transparent transparent $dark_tooltipBackgroundColor
        $dark_tooltipBackgroundColor;
    }
  }
  &.light {
    color: $light_tooltipTextColor;
    box-shadow: 0 1px 2px 0 $light_tooltipShadowColor;
    background-color: $light_tooltipBackgroundColor;

    &:after {
      border: 7px solid $light_tooltipBackgroundColor;
      border-color: transparent transparent $light_tooltipBackgroundColor
        $light_tooltipBackgroundColor;
    }
  }
}
