$line-size: 24;
$min-width: 280;
$min-height: 110;

:export {
  lineSize: $line-size;
  minWidth: $min-width;
  minHeight: $min-height;
}

.colorList {
  display: flex;
	flex-direction: column;
	margin: 0px auto;

  .colorListItem {
    display: flex;
    align-items: center;
    margin: 25px 0;
    font-size: 14px;
    font-family: $font-family-ClanOTNews;

    .round {
      width: 16px;
      height: 16px;
      display: inline-flex;
      border-radius: 100%;
      vertical-align: middle;
      margin-right: 10px;
    }
    .infoText {
      font-family: $font-family-ClanOTNews;
      font-size: 14px;
      // color: #fffffe;
      font-weight: normal;
    }
  }
}

.stadiumContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
