$line-size: 40;
$min-width: 420;
$min-height: 160;

:export {
  lineSize: $line-size;
  minWidth: $min-width;
  minHeight: $min-height;
}

.colorList {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 70px;

  .colorListItem {
    display: flex;
    align-items: center;
    margin: 25px 0;
    font-size: 14px;
    font-family: $font-family-ClanOTNews;

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: black;
      margin-right: 5px;
    }

    &:nth-child(1):before {
      background-color: #acb0be;
    }

    &:nth-child(2):before {
      background-color: #d0506c;
    }

    &:nth-child(3):before {
      background-color: #8567f0;
    }

    &:nth-child(4):before {
      background-color: #51adc0;
    }

    &:nth-child(5):before {
      background-color: #3178b0;
    }
  }
}

.stadiumCharts {
  position: relative;
  width: #{$min-width + ($line-size * 9)}px;
  height: #{$min-height + ($line-size * 9)}px;

  &:before {
    content: attr(data-title);
    width: #{$min-width - $line-size}px;
    height: #{$min-height - $line-size}px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5a6386;
    border-radius: 1000px;
    color: #fff;
    font-size: 14px;
    background-color: #303a5d;
    z-index: 11;
    overflow: hidden;
  }

  .stadiumChart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: #{$line-size / 2}px;
    border-radius: 1000px;

    .tick{
      position: absolute;
      top: -20px;
      transform: translate(-50%, -50%);
      padding: 6px 12px;
      box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.5);
      color: #23294c;
      background-color: #fff;
      border-radius: 10px;
      pointer-events: none;
      opacity: 0;
      font-size: 12px;

      &:after {
        content: '';
        position: absolute;
        right: -5px;
        top: calc(50% - 6px);
        z-index: 1;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #fff;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -#{$line-size}px;
      left: -#{$line-size}px;
      bottom: 0;
      right: 0;
      border: 1px solid #5a6386;
      border-radius: 1000px;
      background-color: #242b49;
    }

    &:nth-child(1) {
      width: #{$min-width}px;
      height: #{$min-height}px;
      z-index: 10;
      .bar {
        stroke: #acb0be;
        rx: #{($min-height / 2) + ($line-size * 0)};
      }

      &:hover {
        .tick{
          top: #{($line-size / 2) + ($line-size * 3)}px;
          opacity: 1;
          z-index: 20;
          left: #{$line-size  * 2}px;
        }
      }
    }

    &:nth-child(2) {
      width: #{$min-width + ($line-size * 2)}px;
      height: #{$min-height + ($line-size * 2)}px;
      z-index: 9;
      .bar {
        stroke: #d0506c;
        rx: #{($min-height / 2) + ($line-size * 1)};
      }

      &:hover {
        .tick{
          top: #{($line-size / 2) + ($line-size * 5)}px;
          opacity: 1;
          z-index: 20;
          left: #{$line-size  * 3}px;
        }
      }
    }

    &:nth-child(3) {
      width: #{$min-width + (($line-size * 2) * 2)}px;
      height: #{$min-height + (($line-size * 2) * 2)}px;
      z-index: 8;
      .bar {
        stroke: #8567f0;
        rx: #{($min-height / 2) + ($line-size * 2)};
      }

      &:hover {
        .tick{
          top: #{($line-size / 2) + ($line-size * 7)}px;
          opacity: 1;
          z-index: 20;
          left: #{$line-size  * 4}px;
        }
      }
    }

    &:nth-child(4) {
      width: #{$min-width + (($line-size * 2) * 3)}px;
      height: #{$min-height + (($line-size * 2) * 3)}px;
      z-index: 7;
      .bar {
        stroke: #51adc0;
        rx: #{($min-height / 2) + ($line-size * 3)};
      }

      &:hover {
        .tick{
          top: #{($line-size / 2) + ($line-size * 9)}px;
          opacity: 1;
          z-index: 20;
          left: #{$line-size  * 5}px;
        }
      }
    }

    &:nth-child(5) {
      width: #{$min-width + (($line-size * 2) * 4)}px;
      height: #{$min-height + (($line-size * 2) * 4)}px;
      z-index: 6;
      .bar {
        stroke: #3178b0;
        rx: #{($min-height / 2) + ($line-size * 4)};
      }

      &:hover {
        .tick{
          top: #{($line-size * 23/2)}px;
          opacity: 1;
          z-index: 20;
          left: #{$line-size  * 6}px;
        }
      }
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }

    svg {
      width: calc(100% + #{$line-size * 2px});
      height: calc(100% + #{$line-size * 1px});
      margin: -#{$line-size}px;
      position: relative;
      z-index: 2;
    }

    .bar {
      position: relative;
      background-color: #242b49;
      border: 5px solid #242b49;
      stroke-width: $line-size;
      stroke-dasharray: 300%;
      stroke-dashoffset: 300%;
      width: calc(100% - #{$line-size * 2px});
      height: calc(100% - #{$line-size * 2px});
      x: $line-size / 2;
      y: $line-size / 2;
    }

    &[data='0'] {
      .bar {
        stroke-dashoffset: 0;
      }
    }

    @for $i from 1 through 100 {
      &[data='#{$i}'] {
        .bar {
          stroke-dashoffset: #{(300% * ($i / 100))};
        }
      }
    }
  }
}
