.panopticBarChart {
  position: relative;
  width: 100%;
  background-color: $color-dark-grey-blue;
  position: relative;

  &:before,
  &:after{
    font-size: 12px;
    background-color: $color-dark-grey-blue;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 5px;
    padding: 10px 0;
    transform: rotateZ(-90deg) translateX(-100%);
    transform-origin: 0 0;
  }

  &:before{
    content: attr(data-first-legend);
    top: 12%;
  }

  &:after{
    content: attr(data-second-legend);
    top: 41%;
  }

  .chartSection {
    height: 310px;
    margin-left: 28px;
    margin-top: 5px;
    position: relative;

    &:after {
      content: '';
      background-color: $color-dusk;
      height: 276px;
      position: absolute;
      width: 1px;
      top: 1;
      right: -26;
    }
  }
  .chartSectionBadge {
    display: block;
    margin: 40px 0 56px 24px;
    text-align: center;

    span {
      background-color: $color-dusk;
      border-radius: 17px;
      font-family: $font-family-ClanOT;
      font-size: 14px;
      font-weight: bold;
      padding: 8px 24px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    }
  }

  .barChartHeader {
    .title {
      font-size: 18px;
      line-height: 42px;
    }
    .selects {
      display: flex;
      float: right;
      position: relative;
      z-index: 12;
      > div {
        text-align: left;
        margin: 0 0 0 24px;
      }
    }
  }
}

.barChartFooter {
  .references {
    display: table;
    margin: 0 auto;
    .referenceItem {
      display: inline-block;
      font-size: 14px;
      line-height: 1.8rem;
      text-align: center;
      span {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-bottom: -2px;
        margin-right: 5px;
        border-radius: 10px;
      }
    }
    :nth-child(2) {
      margin-left: 45px;
    }
  }
}

.barChartContainer {
  position: relative;
}

.wrapperBarChart {
  height: 291px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.groupChartsWrapper {
  padding-left: 20px;
  padding-right: 1px;
  position: relative;
  z-index: 3;
}
