.header {
	width: 100%;
	background: $color-dark-grey-blue;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

	div {
		line-height: 80px;
		font-size: 14px;
		font-family: $font-family-ClanOT;

		a {
			color: $color-white;
			text-decoration: none;
			display: inline-flex;
			align-items: center;
			justify-content: center;

			.text {
				margin-left: 20px;
				font-size: 14px;
			}

			span {
				font-size: 30px;
			}
		}
	}
}

.profile {
	color: $color-white;
	font-size: 14px;
	font-family: $font-family-ClanOT;
	font-weight: bold;

	.profileImage {
		border: 2px solid $color-white;
		vertical-align: middle;
	}

	span {
		padding-left: 16px;
	}
}

