# annoyances
**/.DS_Store/**
.DS_Store
package-lock.json

# IDE
*.komodoproject
.komodotools

# Built pug files
src/server/views/index.pug

# npm, node
node_modules
**/node_modules/**
node_modules/*
**/node_modules

db_data/*

.env

*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.idea
.project
.strong-pm
coverage
npm-debug.log

#src/server/ssl/*
#!src/server/ssl/README.md

src/webpack/local-stats.json

src/build/*

# tests
.nyc_output
#src/test-results/*.xml
coverage
