* @voravor @jpraccio0722 @jazzyguo @quickwally

/src/client/ @voravor @jpraccio0722 @musdy @yasardemirkent @jazzyguo @quickwally

/Dockerfile @voravor @jpraccio0722

/package.json @voravor @jpraccio0722

/.circleci/* @voravor @jpraccio0722

/CODEOWNERS @voravor @jpraccio0722
