.radialChart {
  text-align: center;
  width: calc(100% - 20px);
  float: left;
  margin: 0;
  padding: 10px 20px;
  border-left: 1px solid $color-dusk;
  &:first-child {
    border: none;
  }
  .radialChartRadius {
    border-radius: 20px;
    display: inline-block;
    padding: 10px 20px;
    .topTitle {
      font-size: 24px;
      font-family: $font-family-primary;
      margin-top: -30px;
    }
    span {
      line-height: 20px;
      padding: 2px;
    }
  }
  .pointerContainer {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    .pointerWrapper {
      display: block;
      position: relative;
      .pointerHeadText {
        margin-bottom: 18px;
        text-align: center;
        font-family: $font-family-ClanOTNews;
        font-size: 12px;
      }
      .pointer {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        .pointerText {
          position: relative;
          width: 100%;
          height: 100%;
          display: block;

          .pointerTextInner {
            display: flex;
            flex-direction: column;
            align-items: center;
            transform-origin: bottom left;
            margin-left: 1px;
            margin-top: -32px;
            width: 55px;
            height: 27px;
            .svgLine {
              stroke: $color-cool-grey;
              stroke-width: 1;
            }
            .svgLineText {
              color: $color-white;
              font-family: $font-family-ClanOTNews;
              font-size: 12px;
              align-self: center;
              background: $color-dark-grey-blue;
              margin-bottom: 5px;
              margin-left: 10px;
            }
          }
        }
        .pointerInner {
          position: absolute;
          bottom: 10px;
          left: calc(50% - 3px);
          height: 76px;
          width: 6px;
          // background: #d0506c;
          transform-origin: calc(0% + 3px) 100%;
          transform: rotate(-90deg);
          .pointerArrow {
            width: 26px;
            height: 86px;
            position: absolute;
            left: calc(50% - 12px);
            bottom: -10px;
          }
          &.left .pointerTextInner {
            transform: rotate(90deg);
            transform-origin: bottom right;
            margin-left: -51px;
            margin-top: -35px;
            .svgLineText {
              margin-left: -15px;
            }
            svg {
              transform: scale(-1, 1);
            }
          }
        }
      }
    }
  }
}

.redRound {
  background-color: $color-coral-pink;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}
.infoText {
  font-family: $font-family-ClanOTNews;
  font-size: 14px;
  padding-top: 25px;
  display: block;
  width: 75%;
  margin: 0 auto;
  color: #fffffe;
  font-weight: normal;
}
.textBold {
  font-family: $font-family-ClanOTBold;
  font-weight: bold;
}
