.flipContainer {
  perspective: 0;
  transform: perspective(1000px);
  transform-style: preserve-3d;

  .front,
  .back {
    background: $color-dark-grey-blue;
    width: 100%;
    height: calc(100%);
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  }
}

.flipContainer:hover .back,
.flipContainer.hover .back {
  transform: rotateY(0deg);
}

.flipContainer:hover .front,
.flipContainer.hover .front {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.front,
.back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  transform: rotateY(-180deg);
  width: 240px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
