.formArea {
  .selectionArea {
    margin-bottom: 40px;
    width: 100%;
  }

  .label {
    font-size: 12px;
  }

  .titleInput {
    width: 100%;
  }

  .selectionLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-ClanOT;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: $color-dusk;
    color: white;
    text-decoration: none;
    opacity: 0.5;
    cursor: disabled;
    border: none;
    &.active {
      opacity: 1;
    }
    .icon {
      opacity: 0.5;
      margin-left: 10px;
      span {
        font-size: 20px;
      }
    }
  }
}
