.formArea {
  .selectionArea {
    margin-bottom: 40px;
    width: 100%;
  }

  input {
    width: 100%;
  }

  .label {
    height: 15px;
    font-family: $font-family-ClanOT;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 16px;
  }

  .titleInput {
    width: 100%;
  }

  .selectionLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-ClanOT;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: $color-dusk;
    color: white;
    text-decoration: none;
    opacity: 0.5;
    cursor: disabled;
    border: none;
    &.active {
      opacity: 1;
    }
    .icon {
      opacity: 0.5;
      margin-left: 10px;
      span {
        font-size: 20px;
      }
    }
  }
}

.formGroup {
  margin-bottom: 40px;
  .selectBoxContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: $color-dark-five;
    border-radius: 8px;
    border: solid 1px $color-dusk;
    cursor: pointer;
    margin-bottom: 16px;
    .selectBox {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
    label {
      margin-left: 16px;
      font-family: $font-family-ClanOT;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
    }
    .selectCircle {
      width: 16px;
      height: 16px;
      border: 1px solid $color-cool-grey;
      background-color: $color-dark-five;
      border-radius: 16px;
      margin-right: 16px;
    }
  }

  .selected {
    background-color: $color-dusk;
    border: solid 1px $color-cool-grey;
    .selectCircle {
      border: 1px solid $color-cool-blue;
      background-color: $color-cool-blue;
    }
  }

  .input {
    height: 40px;
    font-family: $font-family-ClanOTNews;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    &::placeholder {
      color: $color-dusk;
    }
  }
}
