.bubbleChart {
  position: relative;
  height: 280px;
  margin-bottom: 60px;

  .bubbleChartItem {
    position: absolute;
    top: 50%;
    left: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    background: $color-dark-five;
    transition: 300ms;

    &:nth-child(1) {
      transform: translate(-120px, -100px);
    }

    &:nth-child(2) {
      width: 113px;
      height: 113px;
      transform: translate(15px, -140px);
    }

    &:nth-child(3) {
      width: 101px;
      height: 101px;
      transform: translate(8px, -19px);
    }

    &:nth-child(4) {
      width: 86px;
      height: 86px;
      transform: translate(-71px, 42px);
    }

    &:nth-child(5) {
      width: 101px;
      height: 101px;
      transform: translate(-180px, 18px);
    }

    .bubbleChartIcon {
      font-size: 30px;
    }

    .bubbleChartTooltip {
      overflow: hidden;
      height: 0;
      opacity: 0;
      position: absolute;
      bottom: 80%;
      padding: 0;
      z-index: 2;

      transition: opacity 300ms;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 8px);
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        border-radius: 4px;
      }

      &:after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 1px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -140%) rotate(45deg);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
      }

      span {
        position: relative;
        z-index: 2;
        display: block;
        font-size: 12px;
        color: $color-dark-five;
        line-height: 20px;
        font-family: $font-family-ClanOT;
        text-align: center;
        white-space: nowrap;

        &:last-child {
          &:before {
            content: '';
            width: 100%;
            height: 10px;
            background-color: #fff;
            position: absolute;
            bottom: -20%;
          }
        }
      }
    }

    &:hover {
      .bubbleChartTooltip {
        height: auto;
        opacity: 1;
        padding: 8px 12px 12px;
      }
    }
  }
}