.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0;
  li {
    font-size: 18px;
    font-family: $font-family-ClanOTNews;
    cursor: pointer;
    list-style: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;

  .image {
    position: relative;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 50%;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      max-height: 100%;
    }
  }

  h1 {
    color: #fff;
    font-family: $font-family-primary;
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
    font-stretch: condensed;
    margin-top: 24px;
  }
}
.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;

  .image {
    position: relative;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border: 1px solid #fff;
    border-radius: 50%;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      max-height: 100%;
    }
  }

  h1 {
    color: #fff;
    font-family: $font-family-primary;
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
    font-stretch: condensed;
    margin-top: 24px;
  }
}

.form {
  font-family: $font-family-ClanOT;

  .input {
    display: block;
    margin-bottom: 24px;
    position: relative;

    input {
      width: 100%;
      background-color: #21243b;
      color: #ffffff;
      border: 1px solid $color-dusk-two;

      &:valid {
        border-color: #fff;
      }
    }
    p {
      position: absolute;
      right: 10px;
      font-family: $font-family-ClanOTNews;
      font-size: 14px;
      color: #ffffff;
      line-height: 40px;
      top: 0;
      cursor: pointer;
    }
  }

  .forgotPasswordLink {
    color: #fff;
    font-family: $font-family-ClanOTBold;
    font-weight: bold;
    font-size: 14px;
    margin-top: 40px;
    text-decoration: none;
    .active {
      color: #2fd7c4;
    }
  }
}

.link {
  color: #fff;
  font-family: $font-family-ClanOTBold;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 40px;
  text-decoration: none;
}

.submitArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.accountTable {
  width: 100%;
  margin-top: 40px;
  ul {
    border: solid 1px #545b79;
    background-color: #21243b;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      padding: 20px 24px;
      border-bottom: solid 1px #545b79;
      &:last-child {
        border: none;
      }
      .image {
        position: relative;
        width: 32px;
        height: 32px;
        overflow: hidden;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-right: 24px;

        img {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
          max-height: 100%;
        }
      }
      p {
        font-size: 14px;
        color: #ffffff;
        font-family: $font-family-ClanOTBold;
        font-weight: bold;
        list-style: none;
      }
    }
  }
}
