.dropdownButton {
    &:focus,
    &:active {
      outline: none;
    }
}

.dropdownIcon {
  &:after {
    font-family: $font-family-qf-icons;
    content: "\e92a";
    display: inline-block;
    transition: transform 300ms;
    transform: rotate(90deg);
    font-size: 10px;
    color: $color-accent-mango;
    margin-left: 4px;
  }
  &.closed {
    &:after {
        transform: rotate(270deg);
    }
  }
}
