.flat-icon {
  line-height: 1em;
}

.down-path1:before {
  content: '\e903';
}

.down-path2:before {
  content: '\e904';
  margin-left: -1em;
}

.down-path3:before {
  content: '\e905';
  margin-left: -1em;
}

.left-path1:before {
  content: '\e906';
}

.left-path2:before {
  content: '\e907';
  margin-left: -1em;
}

.left-path3:before {
  content: '\e908';
  margin-left: -1em;
}

.right-path1:before {
  content: '\e909';
}

.right-path2:before {
  content: '\e90a';
  margin-left: -1em;
}

.right-path3:before {
  content: '\e90b';
  margin-left: -1em;
}
