.vitalityContainer {
  width: 100%;
  position: relative;
}

.vitalityContainer::before {
  content: attr(data-vertical-title);
  position: absolute;
  z-index: 200;
  left: 14px;
  top: calc(50% + 70px);
  transform: rotate(-90deg);
  transform-origin: top left;
  font-family: $font-family-ClanOT;
  // color: #fff;
  font-size: 14px;
  height: 20px;
  width: 150px;
}

.percentageCol {
  position: relative;
  margin-top: 40px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  display: flex;
  min-height: 339px;

  .legend {
    border-radius: 17px;
    font-family: $font-family-ClanOTBold;
    font-size: 14px;
    padding: 8px 24px;
    margin: 15px 0 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &.dark {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      color: #fff;
      background-color: #545b79;
    }

    &.light {
      color: #505050;
      box-shadow: 0 1px 2px 0 #bebebe;
      background-color: #fff;
    }

    .colorBubble {
      width: 14px;
      height: 14px;
      border-radius: 14px;
      margin-right: 8px;
    }

    &.dark {
      .colorBubble {
        border: 1px solid #fff;
      }
    }

    &.light {
      box-shadow: 0 1px 2px 0 #bebebe;
      .colorBubble {
        border: 1px solid #505050;
      }
    }
  }

  .divider {
    width: 1px;
    height: 100%;
    background-color: #c6c9d7;
    position: absolute;
    right: -1px;
  }
}

.doughnutChartText {
  width: 239px;
  height: 78px;
  margin-top: 32px;
  font-family: $font-family-ClanOTNews;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #505050;
}

.centerText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .bigText {
      font-size: 15px;
      font-family: Futura;
      font-size: 24px;
      font-weight: 800;
      text-align: center;
    }
    .littleText {
      font-family: ClanOT;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #505050;
    }
  }
}
.emptyData {
  position: absolute;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  font-weight: bold;
}
