.button {
  border: 1px solid $color-cool-blue;
  color: $color-white;
  background-color: $color-dark-grey-blue;
  padding: 11px 24px;
  border-radius: 8px;
  outline: none;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 8px 0 $color-cool-blue;
  }

  &:active {
    box-shadow: inset 0 0 16px 0 rgba(0, 0, 0, 0.5);
  }
}
.button:disabled,
.button[disabled] {
  border: 1px solid $color-cool-grey;
  color: $color-cool-grey !important;
  &:hover {
    box-shadow: 0 0 0 0;
  }
}
.buttonText {
  font-size: 14px;
  margin: 0 6px;
}
.icon {
  font-size: 14px;
  margin: 0 6px;
}
