.doughnutContainer {
  display: flex;
  align-content: center;
  justify-content: center;

  .chartWrapper {
    z-index: 1;
  }
}

.displayFlex {
  display: flex;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 72px;
}

.ciclePin {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 50%;
}

.circleContainer {
  position: absolute;
  width: 140px;
  height: 140px;
  left: 50%;
  z-index: 999;
}

.circleWrapper {
  width: 140px;
  height: 140px;
  position: relative;
  display: flex;
  justify-content: center;
}

.circleTick {
  width: 10px;
  height: 24px;
  border-radius: 5px;

  &.light {
    box-shadow: 0 2px 6px 0 $light_tooltipShadowColor;
    background-color: $cvScoreTick_BackgroundColor;
  }

  &.dark {
    box-shadow: 0 2px 6px 0 $dark_tooltipShadowColor;
    background-color: $cvScoreTick_BackgroundColor;
  }
}
