.doughnutContainer {
  display: flex;
  align-content: center;
  justify-content: center;

  .chartWrapper {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.labelContainer {
  margin-left: 50px;
  margin-top: 10px;
  width: 200px;
}
