.Select {
  font-family: $font-family-ClanOTNews;
  font-size: 14px;
  margin: 10px 0;
  > div {
    min-height: 40px;
    color: $color-white;
    background-color: $color-dark-five;
    border-radius: 8px;
    border: 0;
  }
  div {
    fill: #242b49;
    color: $color-white;
    background-color: $color-dark-five;
  }

  > div > div > span {
    // span:first-child {
    display: none;
    // }
  }
}

.DropdownIndicator {
  // width: 30px;
  // height: 38px;
  background-color: transparent !important;
  padding: 12px 16px 12px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selected {
  div {
    color: $color-white;
  }
}
