.Select {
  font-family: $font-family-ClanOTNews;
  font-size: 14px;
  // margin: 10px 0;
  // > div {
  //   min-height: 40px;
  //   color: $color-white;
  //   background-color: $color-dark-five;
  //   border-radius: 8px;
  //   border: 0;
  // }
  div {
    // fill: #21243B;
    // color: $color-white;
    // background-color: $color-dark-five;
  }

  > div > div > span {
    // span:first-child {
    display: none;
    // }
  }
}

.DropdownIndicator {
  // width: 30px;
  // height: 38px;
  background-color: transparent !important;
  padding: 12px 16px 12px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selected {
  // div {
  //   color: $color-white;
  // }
}

.iconIndicator {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  &:before {
    color: inherit !important; // color: $color-dusk;
  }
}
.active {
  &:before {
    color: $color-white !important;
  }
}
.focus {
  transform: rotate(180deg);
}

.groupLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
  padding-left: 8px;
  font-family: $font-family-ClanOTNews;
  font-weight: normal;
  font-size: 14px;
  max-width: 100%;
  cursor: pointer;

  > span {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
    transform-origin: center center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    top: -5px;
    overflow: hidden;
  }
}
