.Select {
	font-family: $font-family-ClanOTNews;
	font-size: 14px;
	margin: 10px 0;
	div {
		color: $color-dusk;
		background-color: $color-dark-five;
		border-radius: 0;
		border: 0;
	}
}

.selected {
	div {
		color: $color-white;
	}
}
