.pacingCardContainer {
	padding: 50px 40px;
	box-sizing: border-box;
	font-family: $font-family-ClanOTNews;
	background-color: $color-dark-grey-blue;
}

.componentTitle {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	font-family: $font-family-ClanOT;
	margin-bottom: 50px;
}

.colorList {
	display: flex;
	flex-direction: column-reverse;
	padding-left: 40px;

	.colorListItem {
		display: flex;
		align-items: center;
		margin: 25px 0;
		font-size: 14px;
		font-family: $font-family-ClanOTNews;

		&:before {
			content: "";
			display: inline-block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: black;
			margin-right: 5px;
		}

		&:nth-child(1):before {
			background-color: #acb0be;
		}

		&:nth-child(2):before {
			background-color: #ff556f;
		}

		&:nth-child(3):before {
			background-color: #8567f0;
		}

		&:nth-child(4):before {
			background-color: #51adc0;
		}

		&:nth-child(5):before {
			background-color: #3178b0;
		}
	}
}

$line-size: 20;
$min-width: 210;
$min-height: 80;

.stadiumCharts {
	position: relative;
	width: #{$min-width + ($line-size * 9)}px;
	height: #{$min-height + ($line-size * 9)}px;

	&:before {
		content: attr(title);
		width: #{$min-width - $line-size}px;
		height: #{$min-height - $line-size}px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #5a6386;
		border-radius: 1000px;
		color: #fff;
		font-size: 14px;
		background-color: #303a5d;
		z-index: 11;
		overflow: hidden;
	}

	.stadiumChart {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: #{$line-size / 2}px;
		border-radius: 1000px;

		&:before {
			content: "";
			position: absolute;
			top: -#{$line-size}px;
			left: -#{$line-size}px;
			bottom: 0;
			right: 0;
			border: 1px solid #5a6386;
			border-radius: 1000px;
			background-color: #242b49;
		}

		&:after {
			content: attr(title);
			position: absolute;
			top: -10px;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 12px;

			box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.5);
			color: #23294c;
			background-color: white;
			border-radius: 10px;
			pointer-events: none;
			opacity: 0;
			z-index: 3;
		}

		&:nth-child(1) {
			width: #{$min-width}px;
			height: #{$min-height}px;
			z-index: 10;
			.bar {
				stroke: #acb0be;
				rx: #{($min-height / 2) + ($line-size * 0)};
			}
		}

		&:nth-child(2) {
			width: #{$min-width + ($line-size * 2)}px;
			height: #{$min-height + ($line-size * 2)}px;
			z-index: 9;
			.bar {
				stroke: #ff556f;
				rx: #{($min-height / 2) + ($line-size * 1)};
			}
		}

		&:nth-child(3) {
			width: #{$min-width + (($line-size * 2) * 2)}px;
			height: #{$min-height + (($line-size * 2) * 2)}px;
			z-index: 8;
			.bar {
				stroke: #8567f0;
				rx: #{($min-height / 2) + ($line-size * 2)};
			}
		}

		&:nth-child(4) {
			width: #{$min-width + (($line-size * 2) * 3)}px;
			height: #{$min-height + (($line-size * 2) * 3)}px;
			z-index: 7;
			.bar {
				stroke: #51adc0;
				rx: #{($min-height / 2) + ($line-size * 3)};
			}
		}

		&:nth-child(5) {
			width: #{$min-width + (($line-size * 2) * 4)}px;
			height: #{$min-height + (($line-size * 2) * 4)}px;
			z-index: 6;
			.bar {
				stroke: #3178b0;
				rx: #{($min-height / 2) + ($line-size * 4)};
			}
		}

		&:hover {
			&:after {
				opacity: 1;
			}
		}

		svg {
			width: calc(100% + #{$line-size * 2px});
			height: calc(100% + #{$line-size * 2px});
			margin: -#{$line-size}px;
			position: relative;
			z-index: 2;
		}

		.bar {
			position: relative;
			background-color: #242b49;
			border: 5px solid #242b49;
			stroke-width: $line-size;
			stroke-dasharray: 300%;
			stroke-dashoffset: 300%;
			width: calc(100% - #{$line-size * 2px});
			height: calc(100% - #{$line-size * 2px});
			x: $line-size / 2;
			y: $line-size / 2;
		}

		&[data="0"] {
			.bar {
				stroke-dashoffset: 0;
			}
		}

		@for $i from 1 through 100 {
			&[data="#{$i}"] {
				.bar {
					stroke-dashoffset: #{(300% * ($i / 100))};
				}
			}
		}
	}
}
