@mixin type($background-color) {
  background-color: $background-color;
  &.place-top {
    &:after {
      border-top-color: $background-color;
      border-top-style: solid;
      border-top-width: 6px;
    }
  }
  &.place-bottom {
    &:after {
      border-bottom-color: $background-color;
      border-bottom-style: solid;
      border-bottom-width: 6px;
    }
  }
  &.place-left {
    &:after {
      border-left-color: $background-color;
      border-left-style: solid;
      border-left-width: 6px;
    }
  }
  &.place-right {
    &:after {
      border-right-color: $background-color;
      border-right-style: solid;
      border-right-width: 6px;
    }
  }
}

@mixin border($border-color) {
  border: 1px solid $border-color;
  &.place-top {
    &:before {
      border-top: 8px solid $border-color;
    }
  }
  &.place-bottom {
    &:before {
      border-bottom: 8px solid $border-color;
    }
  }
  &.place-left {
    &:before {
      border-left: 8px solid $border-color;
    }
  }
  &.place-right {
    &:before {
      border-right: 8px solid $border-color;
    }
  }
}
:global {
  .__react_component_tooltip {
    border-radius: 8px;
    display: inline-block;
    font-size: 12px;
    left: -999em;
    opacity: 0;
    padding: 12px;
    position: fixed;
    pointer-events: none;
    top: -999em;
    visibility: hidden;
    z-index: 999;
    width: 206px;
    
    font-family: $font-family-ClanOT;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

    &.allow_hover,
    &.allow_click {
      pointer-events:auto;
    }
    &:before,
    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
    }
    &.show {
      opacity: 1;
      margin-top: 0px;
      margin-left: 0px;
      visibility: visible;
    }
    &.type-dark {
      color: $dark_tooltipColor;
      box-shadow: 0 1px 2px 0 $dark_tooltipShadowColor;
      @include type($dark_tooltipBackgroundColor);
    }
    &.type-light {
      color: $light_tooltipColor;
      box-shadow: 0 1px 2px 0 $light_tooltipShadowColor;
      @include type($light_tooltipBackgroundColor);
    }
    // Place
    &.place-top {
      margin-top: -10px;
      &:before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        bottom: -8px;
        left: 50%;
        margin-left: -10px;
      }
      &:after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: -6px;
        left: 50%;
        margin-left: -8px;
      }
    }
    &.place-bottom {
      margin-top: 10px;
      &:before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        top: -8px;
        left: 50%;
        margin-left: -10px;
      }
      &:after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: -6px;
        left: 50%;
        margin-left: -8px;
      }
    }
    &.place-left {
      margin-left: -10px;
      &:before {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        right: -8px;
        top: 50%;
        margin-top: -5px;
      }
      &:after {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        right: -6px;
        top: 50%;
        margin-top: -4px;
      }
    }
    &.place-right {
      margin-left: 10px;
      &:before {
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        left: -8px;
        top: 50%;
        margin-top: -5px;
      }
      &:after {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        left: -6px;
        top: 50%;
        margin-top: -4px;
      }
    }
    .multi-line {
      display: block;
      padding: 2px 0px;
      text-align: center;
    }
  }
}

.toolTip {
  text-align: center;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  // background-color: #545b79;
  // color: #ffffff;
  font-family: $font-family-ClanOT;
  font-size: 12px;
  font-weight: bold;
  padding: 16px;
  line-height: 26px;
  position: absolute;
  bottom: 38px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  width: 480px;

  &.display {
    opacity: 1;
    visibility: visible;
  }

  .toolTipTick {
    position: absolute;
    width: 0;
    height: 0;
    left: calc(50%);
    top: calc(100% - 2px);
    box-sizing: border-box;
    // border: 10px solid black;
    // border-color: transparent transparent $color-dusk $color-dusk;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    transform: rotate(-45deg) translate(-50%, -50%);
    box-shadow: -3px 3px 4px -1px rgba(0, 0, 0, 0.5);
  }
}