.toolTip {
  min-width: 94px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  font-family: $font-family-ClanOTNews;
  font-size: 12px;
  padding: 6px 12px;
  line-height: 20px;
  position: absolute;
  bottom: 32px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  border-radius: 8px;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  .toolTipTick {
    position: absolute;
    width: 0;
    height: 0;
    left: calc(50%);
    top: calc(100% - 2px);
    box-sizing: border-box;
    // border: 10px solid black;
    // border-color: transparent transparent $color-dusk $color-dusk;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
    transform: rotate(-45deg) translate(-50%, -50%);
    box-shadow: -3px 3px 4px -1px rgba(0, 0, 0, 0.5);
  }
}
