.doughnutWithLabelsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.fitLabelContainer {
  height: 288px;
  min-width: 200px;
  margin-top: 6px;
  margin-left: 72px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
