$headerHeight: 83px;
.main {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: calc(100vh - 160px);
	background-color: #22212f;
	display: table;
}
.centeredArea {
	color: $color-white;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.quickviewHeader {
	height: 125px;
	width: 90%;
	margin: 0 50px;
}
.quickviewHeader_cellLeft, .quickviewHeader_cellMid, .quickviewHeader_cellRight {
  font-family: $font-family-clanOTNews;
  font-size: 22px;
  color: $color-pale-grey;
}
.quickviewHeader_cellLeft {
	text-align:left;
	width:33%;
	float:left;
	clear:none;
	padding-top: 60px;
}
.qf-iconLeft-Arrow {
	padding-right: 20px;
	width:40px;
}
.qf-iconRight-Arrow {
	padding-left: 20px;
	width:40px;
}
.qf-iconMale, .qf-iconFemale {
	width: 48px;
	height: 48px;

.genderSelect {
  display:inline;
  list-style: none;
}
.genderSelect li {
  text-indent: 30px;
  width: 106px;
  float:left;
  clear:none;
  border-bottom: 3px solid transparent;
}
.genderSelect li i {
	padding-left: 10px;
}}
.genderSelect li:hover {
  border-bottom: 3px solid $color-tealish;
}
.male {
  height: 30px;
  color: $color-neutral-white;
}
.female {
  height: 30px;
  color: $color-neutral-white;
}
.quickviewHeader_cellMid {
	text-align:center;
	width:33%;
	float:left;
	clear:none;
	padding-top: 60px;
}
.quickviewHeader_cellRight {
	text-align:right;
	width:33%;
	float:left;
	clear:none;
	padding-top: 60px;
}
.listBlockLeft, .listBlockRight {
	color: #ddd;
}
.listBlockMid {
	width: 135px;
	height: 135px;
}
.quickviewContent {
	padding-top:20px;
}
.quickviewContent hr {
	border:2px solid #22212f;
	padding-left:30px;
	padding-right:30px;
}
.VersusList {
	width: 60%;
	height: calc(100vh - #{$headerHeight + 8});
	left: 0;
	top: $headerHeight;
	float:left;
}
.RankingsList {
	margin-left: 2%;
	width: 34%;
	height: calc(100vh - #{$headerHeight + 8});
	left: 0;
	top: $headerHeight;
	float:left;
}
.quickviewHeader_cellMid .dd_child {
  height: 23px;
  font-family: $font-family-clanOT;
  font-size: 18px;
  color: var(--pale-grey);

}