$headerHeight: 83px;
.main {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: calc(100vh - 160px);
	background-color: $color-dark;
	display: table;
}
.centeredArea {
	color: $color-white;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.quickviewHeader {
	height: 150px;
	width: 90%;
	margin: 0 50px;
}
.quickviewHeader {
	hr {
		border: 2px solid transparent;
		clear: both;
		display: block;
	    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
	    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
	    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
	}
	.quickviewHeader_cellLeft, .quickviewHeader_cellMid, .quickviewHeader_cellRight {
		font-family: $font-family-clanOTNews;
		font-size: 22px;
		color: $color-pale-grey;
		width:33%;
	}
	.quickviewHeader_cellLeft {
		text-align:left;
		float:left;
		clear:none;
		padding-top: 80px;
		padding-bottom: 5px;
		span {
			padding-left:15px;
			text-indent: 15px;
		}
	}
	.quickviewHeader_cellRight {
		padding-top: 90px;
		padding-bottom: 5px;
		span {

		}
	}
	.quickviewHeader_cellMid {
		float:left;
		tr {
			height: 84px;
			margin-bottom: 10px;
		}
		td {
			vertical-align: middle;
		}
		.vCentered1 {
		}
		.vCentered2 {
		}
		.vCentered3 {
			margin:4px;
			font-family: $font-family-clanOT;
			font-size: 18px;
			width: 127px;
			height: 46px;
			box-shadow: 0 0 4px 2px rgba(33, 188, 213, 0.5), inset 0 0 4px 2px $color-tealish;
		}
	}
}
.qf-iconLeft-Arrow {
	padding-right: 20px;
	width:40px;
}
.qf-iconRight-Arrow {
	padding-left: 20px;
	width:40px;
}
.quickviewHeader_cellLeft {
	.genders {
		width: 106px;
		float:left;
		clear:none;
		display:inline;
		margin-bottom: 5px;
		margin-right:15px;
		text-indent: 15px;
		border-bottom: 3px solid transparent;
		color: $color-neutral-white;
		font-family: $font-family-clanOTNews !important;		
	}
	.genders:hover {
		margin-bottom: 5px;
		border-bottom: 3px solid $color-tealish;
	}
	icon {
		font-size: 30px;
	}
}
.quickviewHeader_cellMid {
	text-align:center;
	width:33%;
	float:left;
	clear:none;
	padding-top: 60px;
}
.quickviewHeader_cellRight {
	text-align:right;
	width:33%;
	float:left;
	clear:none;
	padding-top: 60px;
}
.quickviewContent {
	padding-top:20px;
	hr {
		border:2px solid $color-dark;
		padding-left:30px;
		padding-right:30px;
	}

	.VersusList {
		width: 60%;
		height: calc(100vh - #{$headerHeight + 8});
		left: 0;
		top: $headerHeight;
		float:left;
	}
	.RankingsList {
		margin-left: 2%;
		width: 34%;
		height: calc(100vh - #{$headerHeight + 8});
		left: 0;
		top: $headerHeight;
		float:left;
	}
}
