.main {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: calc(100vh - 160px);
	background-color: $color-charcoal-grey;
	display: table;
}
.centeredArea {
	color: $color-white;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
