.headerContainer {
  display: flex;
  margin-top: 72px;
  align-items: center;
  > div {
    flex: 1;
  }
  &:last-child div {
    flex: 1;
    margin-right: auto;
  }
}

.dotItem {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
  color: $color-white;
  font-size: 14px;
  font-family: $font-family-ClanOTNews;

  span {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
  }
}

.quickCardTitle {
  display: flex;
  font-weight: normal;
  justify-content: space-between;
}

.cardWrapper{
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
	background-color: $color-dark-grey-blue;
	margin-left: 20px;
	margin-right: 20px;
	width: calc(100% - 40);
	display: flex;
}

.sectionBadge {
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	span {
		font-weight: bold;
		background-color: $color-dusk;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
		border-radius: 50px;
		font-size: 14px;
		padding: 8px 24px;
	}
}




.content {
  float: left;
  width: 100%;
	margin-bottom: 70px;

	.cardBlock{
		padding-left: 0px;
		margin-left: 0px;

		&:first-child{
			padding-left: 140px;
			width: calc(50% - 141px); // itemWrapper:first-child border-right is 1px

			.itemWrapper{
				&:after{
					content: "";
					position: absolute;
					right: 0px;
					top: 25%;
					width: 1px;
					height: 50%;
					background-color: $color-dusk;
				}
			}
		}
		&:last-child{
			padding-right: 140px;
			width: calc(50% - 140px);
		}
	}

  .card {
    position: relative;
    padding: 64px 0px;
	}

  .items {
		padding: 40px 0px 0px;

		.itemWrapper{
			padding: 72px 0px;
			width: 100%;
			border-bottom: 1px solid $color-dusk;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.infoItem {
			width: 340px;
			padding-bottom: 40px;
			margin-bottom: 40px;
			display: flex;
			flex-direction: column;

			.itemValue{
				margin: 32px 0px 38px;
				color: $color-white;
				font-family: $font-family-primary;
				font-size: 32px;
				font-weight: 800;
				font-style: normal;
				font-stretch: condensed;
				line-height: normal;
				letter-spacing: normal;
			}

			.infoText{
				margin: 32px 0px 0px 35px;
				font-family: $font-family-ClanOTNews;
				color: $color-white;
				font-size: 14px;
				line-height: 1.86;
				font-weight: bold;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				text-align: center;
				max-height: 60px;
				width: 270px;
				overflow: hidden;
			}

			.progressBar {
				width: 250px;
				margin-left: 45px;
				background-color: $color-dark-five;
				border-radius: 10px;
			}
			.percentageBlue {
				border-radius: 10px;
				height: 10px;
				background-color: $color-cool-blue;
				-webkit-transition: width .5s, height .5s;
				transition: width .5s, height .5s;
			}
			.progressText {
				color: $color-white;
				font-size: 14px;
				font-family: $font-family-ClanOTNews;
				.leftTitle {
					float: left;
				}

				.rightTitle {
					float: right;
				}
				&::after {
					content: "";
					clear: both;
					display: table;
				}
			}

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}

			> div {
				text-align: center;

				&:nth-child(1) {
					color: $color-cool-grey;
					font-size: 18px;
					font-family: $font-family-ClanOTNews;
					margin-bottom: 16px;
				}
				&:nth-child(2) {
					color: $color-white;
					font-size: 48px;
					font-family: $font-family-primary;
				}
			}
		}
  }

  .differenceCircle {
    position: absolute;
    right: -10px;
    transform: translateX(50%);
    margin-top: -90px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $color-dark-five;

    color: $color-white;
    font-size: 12px;
    font-family: $font-family-ClanOTNews;

    & > div > div {
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 4px;
    }
  }
}

.bar {
  display: flex;
  align-items: center;
  height: 56px;
  color: $color-white;
  font-family: $font-family-ClanOT;
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 48px;

  & > div  {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 200px;
    border-right: 1px solid $color-dark-grey-blue;
    color: $color-white;
    cursor: pointer;
    text-decoration: none;

    .iconWrapper {
      margin-right: 16px;
      span {
        font-size: 30px;
      }
    }
  }

  .barList {
    display: flex;
    width: 100%;
    justify-content: space-between;

    a {
      cursor: pointer;
			min-height: 56px;
			min-width: 164px;
      color: $color-cool-grey;
      font-family: $font-family-ClanOT;
			text-align: center;
      text-decoration: none;
			text-transform: capitalize;
			border: 1px solid $color-dusk;
			background-color: $color-dark-five;
			font-size: 14px;
			font-weight: bold;
			border-radius: 8px;
			display: flex;
			align-items: center;
			justify-content: center;

			&:hover, &:active{
				color: $color-white;
				background-color: $color-dusk;
			}

			i{
				font-size: 30px;
			}
    }

    .active {
      color: $color-white;
      font-family: $font-family-ClanOT;
			background-color: $color-dark-five;
    }
  }
}
