.main {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: calc(100vh - 160px);
	background-color: $color-charcoal-grey;
	display: table;
}
.centeredArea {
	color: $color-white;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.bordered {
	border: 1px dashed #aaa;
}
.listBlockLeft, .listBlockRight {
	color: #ddd;
}
.listBlockMid {
	width: 135px;
	height: 135px;
}