$headerHeight: 83px;
.main {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: calc(100vh - 160px);
	background-color: $color-charcoal-grey;
	display: table;
}
.centeredArea {
	color: $color-white;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.bordered {
	border: 1px dashed #aaa;
}
.listBlockLeft, .listBlockRight {
	color: #ddd;
}
.listBlockMid {
	width: 135px;
	height: 135px;
}
.quickviewHeader {
	
}
.quickviewContent {

}
.VersusList {
	width: 60%;
	border: 1px solid #fff;
	height: calc(100vh - #{$headerHeight + 8});
	left: 0;
	top: $headerHeight;
	float:left;
}
.RankingsList {
	margin-left: 2%;
	width: 34%;
	border: 1px solid #fff;
	height: calc(100vh - #{$headerHeight + 8});
	left: 0;
	top: $headerHeight;
	float:left;
}
