.bar {
	width: 100%;
	border: 1px solid #eee;
}

.labelPlace {
	display: flex;
	div:first-child {
		flex: none;
		text-align: left;
		height: 25px;
		border-right: 1px dashed;
		margin-left: 0px;
	}
	div {
		flex: auto;
		text-align: right;
		font-size: 10px;
		height: 25px;
		border-right: 1px dashed;
		margin-left: 8px;
		p {
			margin-right: -8px;
			background-color: $color-charcoal-grey;
		}
	}
}
