.versusVideo {
	width: 291px;
}
.versusList {
	position: relative;
}
.versusRow {
  @include grid-column(12);
  height: 175px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}
.versusCellLeft, .versusCellRight, .versusCellMid {
	float:left;
	clear:none;
}
.versusCellLeft, .versusCellRight {
  @include grid-column(5);
}
.versusCellMid {
  @include grid-column(2);	
}
.versusTitle, .versusTitleBold, .versusSubTitle {
  height: 23px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-pale-grey;
  float:left;
}
.versusTitleBold {
  font-family: $font-family-clanOTNews;
}
.versusTitle {
  font-family: $font-family-clanOT;
}
.versusSubTitle {
  font-family: $font-family-clanOT;
  font-weight: bold;
  color: $color-pale-grey;
}
.versusCategory {
  height: 29px;
  font-family: $font-family-sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-pale-grey;
}
.cols-3in1 {
	@include grid-column(3);
}