.versusVideo {
	width: 291px;
}
.versusList {
	position: relative;
	background-color: #22212f;
}
.versusRow {
  width: 757px;
  background-color: #2f2e3c;
  margin-bottom: 50px;
  float: none;
  clear: both;
  margin-left:20px;
}
.versusCellLeft, .versusCellRight, .versusCellMid {
	float:left;
	clear:none;
}
.versusCellLeft .video, .versusCellRight .video, .versusCellMid .video {
	margin:0;
}
.versusCellLeft, .versusCellRight {
	width:290px;
}
.versusCellMid {
	width: 175px;
	height: 135px;
	margin-top: 20px;
	background-color: transparent !important;
}
.customVideo {
	display: inline-flex;
	position: relative;
	margin:0;
}
.versusTitle, .versusTitleBold, .versusSubTitle {
  height: 23px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-pale-grey;
  float:left;
}
.versusTitleBold {
  font-family: ClanOT-News;
  width:290px;
  text-align: center;
}
.versusTitle {
  font-family: ClanOT;
  width:175px;
  text-align: center;
}
.versusSubTitle {
  width:290px;
  font-family: ClanOT;
  font-weight: bold;
  text-align: center;
  color: $color-pale-grey;
  float:left;
  margin-top: 12px;
}
.versusCategory {
  height: 29px;
  width:175px;
  text-align: center;
  font-family: $font-family-sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-pale-grey;
  float:left;
  margin-top: 12px;
}
