.versusVideo {
	width: 291px;
}
.versusTitle, .versusTitleBold, .versusSubTitle {
  height: 23px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-pale-grey;
  float:left;
}
.versusTitleBold {
  font-family: $font-family-clanOTNews;
}
.versusTitle {
  font-family: $font-family-clanOT;
}
.versusSubTitle {
  font-family: $font-family-clanOT;
  font-weight: bold;
  color: $color-pale-grey;
}
.versusCategory {
  height: 29px;
  font-family: $font-family-sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-pale-grey;
}
.cols-3in1 {
	@include grid-column(3);
}