$arrowWidth: 10px;
$arrowHeight: 14px;
$arrowBackground: #fff;

@mixin arrowBody($width, $height, $top, $left) {
  border: none;
  background-color: $arrowBackground;
  height: $height;
  width: $width;
  top: $top;
  left: $left;
}

@mixin arrowStyle($width, $height, $top, $left, $way) {
  left: $left;
  top: $top;
  border-width: $height $width;
  border-#{$way}-color: $arrowBackground;
}

.flipContainer {
  perspective: 0;
  transform: perspective(1000px);
  transform-style: preserve-3d;

  .front,
  .back {
    background: $color-dark-grey-blue;
    width: 100%;
    height: calc(100%);
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  }
}

.flipContainer:hover .back,
.flipContainer.hover .back {
  transform: rotateY(0deg);
}

.flipContainer:hover .front,
.flipContainer.hover .front {
  transform: rotateY(180deg);
}

.flipContainer,
.front,
.back {
  width: calc(25% - 40px);
  height: 134px;
}

.flipper {
  transition: 0.6s;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

.front,
.back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  transform: rotateY(-180deg);
  width: 240px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back .text,
.front .text {
  font-family: $font-family-ClanOTNews;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.86;
  text-align: center;
  color: $color-white;
  margin: 0px 20px;
}

.stats {
  margin: 30px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;

    .headline {
      width: 100%;
      overflow: hidden;
      font-family: $font-family-ClanOT;
      font-size: 14px;
      font-weight: bold;
      color: $color-white;
      margin: 0px 0px 0px 0px;
    }

    .changes {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      margin-top: 16px;

      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: $color-white;
        position: relative;
        width: 24px;
        height: 24px;

        &:before {
          content: '';
          position: absolute;
          left: 0px;
          top: 0px;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        }
      }

      .label {
        font-family: $font-family-ClanOT;
        color: $color-white;
        margin: 0px 0px 0px 10px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .bars {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    white-space: pre-line;
    height: 46px;
    flex-direction: row;
    width: 50%;
    margin-top: -20px;

    .barStyle {
      height: 33px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      background-color: $color-dusk;
      text-align: center;
      position: relative;

      &:after {
        content: attr(data-label);
        width: 12px;
        overflow: hidden;
        position: absolute;
        top: calc(100% + 8px);
        left: -2px;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $color-white;
        opacity: 0.5;
        font-family: $font-family-ClanOTNews;
      }

      &.barSelectedStyle {
        &:after {
          opacity: 1;
          font-weight: bold;
        }
      }
    }
  }

  &.increase {
    .circle {
      &:before {
        background-color: $color-cool-blue;
      }
    }

    .bars {
      .barStyle {
        &.barSelectedStyle {
          background-color: $color-cool-blue;
        }
      }
    }
  }

  &.decrease {
    .circle {
      &:before {
        background: $color-coral-pink;
      }
    }

    .bars {
      .barStyle {
        &.barSelectedStyle {
          background-color: $color-coral-pink;
        }
      }
    }
  }

  &.noChange {
    .circle {
      &:before {
        background: $color-dusk;
      }
    }
    .content .changes .label {
      color: $color-dusk;
    }

    .bars {
      .barStyle {
        &.barSelectedStyle {
          background-color: $color-dusk;
        }
      }
    }
  }
}

.arrow {
  width: $arrowWidth;
  height: $arrowHeight;
  position: relative;
  display: inline-block;

  &:before,
  &:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
  }

  &.arrowUp {
    &:before {
      @include arrowBody(30%, 50%, 50%, 50% - 30%/2);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    }
    &:after {
      @include arrowStyle($arrowWidth/2, $arrowHeight/2, -50%, 0, bottom);
    }
  }

  &.arrowDown {
    &:before {
      @include arrowBody(30%, 50%, 0, 50% - 30%/2);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    }
    &:after {
      @include arrowStyle($arrowWidth/2, $arrowHeight/2, 50%, 0, top);
    }
  }

  &.arrowLeft {
    &:before {
      @include arrowBody(50%, 30%, 50% - 30%/2, 50%);
    }
    &:after {
      @include arrowStyle($arrowWidth/2, $arrowHeight/2, 0, -50%, right);
    }
  }

  &.arrowRight {
    &:before {
      @include arrowBody(50%, 30%, 50% - 30%/2, 0);
    }
    &:after {
      @include arrowStyle($arrowWidth/2, $arrowHeight/2, 0, 50%, left);
    }
  }
}
