.lables {
  padding: 24px 0;
}
.inputGroup {
  // width: 100%;
  position: relative;
  form {
    display: flex;
    align-items: center;
    > div {
      margin-left: 15px;
    }
  }
}

.round {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-right: 5px;
  border: 1px solid $color-dark-five;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.platformName {
  font-family: $font-family-ClanOTNews;
  font-size: 14px;
}

.radialChartsContainer {
  position: relative;
  .doughnutTabs {
    border: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  .radialChart {
    transition: 500ms;
    text-align: center;
    width: calc(25% - 41px);
    float: left;
    padding: 30px 20px;
    border-left: 1px solid $color-dusk;
    list-style: none;
    position: relative;
    cursor: pointer;

    .subtitle {
      background-color: $color-dark-five;
      padding: 8px 24px;
      border-radius: 22px;
      display: inline-flex;
      margin-top: 24px;
      position: relative;
    }
    h1 {
      position: relative;
    }
    &:first-child {
      border: none;
    }
    .doughnutChartContainer {
      position: relative;
      margin-top: 40px;
      p {
        font-family: $font-family-ClanOTNews;
        font-size: 14px;
        width: 75%;
        display: block;
        margin: 0 auto;
      }
      .textBold {
        font-family: $font-family-ClanOTBold;
        font-weight: bold;
      }
      canvas {
        margin: 0 auto;
      }
    }
    &:hover {
      // transform: scaleX(1.10) scaleY(1.22);
      &:before {
        content: '';
        position: absolute;
        left: -10px;
        right: -10px;
        top: -10px;
        bottom: -10px;
        height: calc(100% + 20px);
        width: calc(100% + 20px);
        background-color: $color-dusk;
      }
    }
  }
  .doughnutPanelTab {
    transition: 500ms;
    text-align: center;
    width: 100%;
    min-height: 400px;
    background-color: $color-dark-grey-blue;

    .doughnutPanelHeader {
      width: auto;
      height: 40px;
      padding: 12px 40px;
      background-color: $color-dusk;
      display: flex;
      color: $color-white;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

      div {
        i {
          background-color: #242b49;
          border-radius: 20px;
          padding: 8px;
          border: 2px solid #51adc0;
          margin-right: 20px;
        }
      }
      .panelTitle {
        font-family: $font-family-ClanOTBold;
        font-size: 14px;
        color: $color-white;
      }
    }
  }
}

.temperatureHeader {
  display: flex;
  width: calc(100% - 80px);
  padding: 48px 40px 20px;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
  }

  h2 {
    font-family: $font-family-ClanOTBold;
    font-size: 18px;
  }

  .inputWrapper {
    width: 344px;

    form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      margin: 0;
    }
  }
}

.inputWrapper > form > div {
  width: calc(50% - 8px);
}

.temperatureContentContainer {
  width: calc(100% - 40px);
  padding: 56px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    border: none;
  }

  .temperatureContentWrapper {
    position: relative;
    width: calc(33.33% - 41px);
    border-left: 1px solid $color-dusk;
    padding: 20px;
    &:first-child {
      border: none;
    }

    .textTop {
      font-size: 14px;
      font-family: $font-family-ClanOTBold;
      position: absolute;
      top: -40px;
      left: calc(50% - 22.5px);
    }

    .textRight {
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      color: $color-cool-grey;
      position: absolute;
      top: calc(50% - 14px);
      right: -50px;
    }

    .textBottom {
      font-size: 14px;
      font-family: $font-family-ClanOTBold;
      position: absolute;
      bottom: -40px;
      left: calc(50% - 12px);
    }

    .textLeft {
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      color: $color-cool-grey;
      position: absolute;
      top: calc(50% - 14px);
      left: -40px;
    }

    .horizontalLine {
      width: 204px;
      height: 4px;
      background-color: $color-dark-five;
      position: absolute;
      top: calc(50% - 2px);
    }

    .verticalLine {
      width: 4px;
      height: 204px;
      background-color: $color-dark-five;
      position: absolute;
      top: 0;
      left: calc(50% - 2px);
    }

    .temperatureContent {
      display: block;
      margin: 0 auto;
      width: 204px;
      height: 204px;
      background-color: $color-dusk;
      border-radius: 100%;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
      position: relative;

      .redRound {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }

      .purpleRound {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }

      .duskRound {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.infoWrapperContainer {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  .infoWrapper {
    width: calc(33.33% - 41px);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .infoText {
      padding: 8px 24px;
      background-color: $color-dark-five;
      color: $color-white;
      border-radius: 24px;
    }
  }
}

.radialAndStackChartWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 80px 0;
  width: 40%;

  .secondsText {
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
    color: $color-white;
  }
}

.stackedChart {
  canvas {
    margin: 0 auto;
    background-color: $color-dark-five;
  }
}

.stackedChartSideBar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;

  .stackedChartSideBarContent {
    width: 50%;
    height: 100%;
    background-color: $color-dusk;
    position: absolute;
    top: 0;
    right: 0;

    .closeIconWrapper {
      display: flex;
      padding: 40px;
      align-items: center;
      justify-content: flex-end;

      span {
        font-size: 30px;
      }
    }

    .filterAreaWrapper {
      padding: 0 112px;

      .dividedSelects {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .label {
        font-size: 12px;
        font-family: $font-family-ClanOTBold;
        color: $color-white;
      }
    }
  }
}

.dividedSelects > div {
  width: calc(50% - 12px);
}

.dropDowns {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    margin-right: 32px;
    color: $color-cool-grey;
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
  }

  .ddWrapper {
    position: relative;
    margin-right: 32px;

    .ddHeader {
      .ddHeaderTitle {
        font-family: $font-family-ClanOTBold;
        font-size: 18px;
        line-height: normal;
        text-decoration: underline;
      }
    }

    .ddList {
      position: absolute;
      top: 16px;
      left: 0;
      z-index: 2;
      width: 160px;
      padding: 0;
      list-style: none;
      background-color: $color-dusk;

      .ddListItem {
        padding: 11px 16px;
      }
      .ddListItem.active {
        background-color: $color-white;
        color: $color-dusk;
      }
    }
  }
}

.dateRange {
  top: 100%;
  position: absolute;
  right: auto;
  margin-top: -50px;
}

.dateDropRange {
  top: 20%;
  position: absolute;
  right: calc(50% - 14.5em);
}

.dropDateSelect {
  width: 300px;
  border: none;
  outline: none;
  background-color: transparent;

  div {
    background-color: transparent;
  }
}

.dropDateSelect > div {
  text-decoration: underline;
  &:nth-child(3) {
    font-size: 14px !important;
    background-color: $color-dark-five;
    text-decoration: none;
  }
}

.dropDateSelect > div > div {
  outline: none;
  font-family: $font-family-ClanOTBold;
  font-size: 18px;
  > div {
    text-decoration: underline;
  }
  span {
    visibility: hidden;
    width: 0;
  }
  svg {
    visibility: hidden;
    width: 0;
  }
}
