.container {
  padding: 23px 40px;
  font-family: $font-family-ClanOTNews;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  flex: 3;
  font-size: 18px;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.backTo {
  flex: 3;
  font-size: 14px;
  font-family: $font-family-ClanOTBold;
  font-weight: 700;

  a {
    // color: $color-white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .text {
      font-family: $font-family-ClanOT;
      margin-left: 20px;
      font-size: 14px;
      font-weight: bold;
    }

    span {
      font-size: 30px;
    }
  }
}

.links {
  flex: 6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;

  a {
    margin: 0 36px;
    color: $color-white;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    font-family: $font-family-ClanOTNews;
  }

  .activeLink {
    color: $color-white;
    font-size: 14px;
    font-family: $font-family-ClanOTBold;
    font-weight: 700;

    // &:hover {
    //   font-family: $font-family-ClanOTBold;
    //   font-weight: normal;
    // }

    &:before {
      content: '';
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: -33px;
      background-color: $color-cool-blue;
    }
  }

  // a:hover {
  //   @extend .activeLink;
  //   font-family: $font-family-ClanOTNews;
  //   font-weight: normal;
  // }
}

.profile {
  position: relative;
  flex: 3;
  color: $color-white;
  font-size: 14px;
  font-family: $font-family-ClanOT;
  font-weight: bold;

  .profileImage {
    width: 34px;
    border: 2px solid $color-white;
    vertical-align: middle;
    box-sizing: border-box;
  }

  span {
    padding-left: 16px;
  }
}

.switchInner {
  font-family: $font-family-ClanOT;
  font-size: 14px;
  span {
    padding: 16px;
  }

  width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -240px;
}

.dropdown {
  position: absolute;
  right: 0;
  z-index: 100;
  transform: translate(0, 10px);
  width: 206px;
  border: solid 1px;

  ul {
    padding: 0;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 21px 24px;
      border-bottom: 1px solid #acb0be;
      &:last-child {
        border: none;
      }
      .text,
      a {
        cursor: pointer;
        font-family: $font-family-ClanOTBold;
        font-size: 14px;
        line-height: 24px;
        text-decoration: none;
      }
      .icon {
      }
    }
  }
}

.glossaryBorder {
  display: flex;
  align-items: center;
  a {
    padding: 5px 36px;
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    font-family: $font-family-ClanOTNews;
    border-right: 2px solid;
    &:last-child {
      border: none;
    }
  }

  .activeLink {
    color: $color-white;
    font-size: 14px;
    font-family: $font-family-ClanOTBold;
    font-weight: 700;

    &:before {
      content: '';
      width: calc(100% - 72px);
      height: 4px;
      position: absolute;
      bottom: -28px;
      background-color: $color-cool-blue;
    }
  }
}

.glossaryHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .headerTitle {
    display: flex;
    flex: 3;
    justify-content: center;
  }
  .glossaryLinks {
    display: flex;
    align-items: center;
  }
}

.headerTitle {
  font-size: 14px;
  font-weight: bold;
  font-family: $font-family-ClanOT;
}
