.container {
  padding: 23px 40px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  font-family: $font-family-ClanOTNews;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  flex: 3;
  font-size: 18px;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.backTo {
  flex: 3;
  font-size: 14px;
  font-family: $font-family-ClanOT;

  a {
    // color: $color-white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .text {
      margin-left: 20px;
      font-size: 14px;
    }

    span {
      font-size: 30px;
    }
  }
}

.links {
  flex: 6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  a {
    margin: 0 36px;
    color: $color-white;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    font-family: $font-family-ClanOTNews;
  }

  .activeLink {
    color: $color-white;
    font-size: 14px;
    font-family: $font-family-ClanOTBold;

    &:hover {
      font-family: $font-family-ClanOTBold;
      font-weight: normal;
    }

    &:before {
      content: '';
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: -30px;
      background-color: $color-cool-blue;
    }
  }

  a:hover {
    @extend .activeLink;
    font-family: $font-family-ClanOTNews;
    font-weight: normal;
  }
}

.profile {
  position: relative;
  flex: 3;
  color: $color-white;
  font-size: 14px;
  font-family: $font-family-ClanOT;
  font-weight: bold;

  .profileImage {
    border: 2px solid $color-white;
    vertical-align: middle;
  }

  span {
    padding-left: 16px;
  }
}

.switchInner {
  font-family: $font-family-ClanOT;
  font-size: 14px;
  span {
    padding: 16px;
  }

  width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -140px;
}

.dropdown {
  position: absolute;
  right: 0;
  z-index: 100;
  transform: translate(0, 10px);
  width: 206px;
  border: solid 1px;

  ul {
    padding: 0;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 21px 24px;
      border-bottom: 1px solid #acb0be;
      &:last-child {
        border: none;
      }
      .text {
        font-family: $font-family-ClanOTBold;
        font-size: 14px;
        line-height: 24px;
      }
      .icon {
      }
    }
  }
}
