.percentageContainer{
  float: left;
  background-color: $color-dark-grey-blue;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;

  .percentage{
    text-align: center;
    font-family: $font-family-primary;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .percentageGraph{
    float: left;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &:before{
      content: "0";
      float: left;
      margin-right: 8px;
    }

    &:after{
      content: "100";
      float: right;
      margin-left: 8px;
    }

    &:before,
    &:after{
      font-family: $font-family-ClanOTBold;
      font-size: 12px;
    }

    .percentageGraphWrapper{
      position: relative;
      float: left;
      height: 40px;
      display: flex;
			align-items: flex-end;

			svg{
				position: absolute;
				z-index: 2;
				left: 0;
				top: -1px;
				transform: scaleY(-1);
			}

      &:before{
        content: "CV Score";
        font-family: $font-family-ClanOTBold;
        font-size: 12px;
        position: absolute;
        bottom: -20px;
        transform: translateX(-50%);
        z-index: 3;
        white-space: nowrap;

        transition: 500ms;
      }

      &:after{
        content: "";
        width: 3px;
        height: 110%;
        background: #fff;
        position: absolute;
        top: -5%;
        margin-left: -1.5px;
        z-index: 3;

        transition: 500ms;
      }

      .percentageGraphBar{
        position: relative;
        float: left;
        width: 3px;
        height: 100%;
        margin: 0 .5px;

        transition: 500ms;

        &:after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0,0,0,0.2);
        }

        @for $i from 1 through 29 {
          &[data-index="#{$i}"]{
            @if $i > 15 {
              &:after{
                opacity: #{($i / 15) - 1};
              }
            } @else if $i < 15 {
              &:after{
                opacity: #{1 - ($i / 15)};
              }
            }

          }
        }

        &[data-index="15"]{
          &:after{
            opacity: 0;
          }
        }
      }
    }
  }
}
