.percentageContainer {
  float: left;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;

  .percentage {
    text-align: center;
    font-family: $font-family-primary;
    font-size: 32px;
    margin-bottom: 30px;
  }

  .percentageGraph {
    float: left;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &:before {
      content: '0';
      float: left;
			margin-right: 8px;
			margin-bottom: -4px;
    }

    &:after {
      content: '100';
      float: right;
			margin-left: 8px;
			margin-bottom: -4px;
		}

		&.noLabel {
      &:before,
      &:after {
        content: '';
      }
    }

    &:before,
    &:after {
      font-family: $font-family-ClanOTBold;
      font-size: 12px;
    }

    .percentageGraphWrapper {
      position: relative;
      float: left;
      height: 40px;
      display: flex;
      align-items: flex-end;
    }
  }

	.cvScoreLabel {
		font-family: $font-family-ClanOTBold;
		font-size: 12px;
		white-space: nowrap;
		transition: 500ms;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 16px;
	}
}
