.pacingCardContainer {
  padding: 48px 40px;
  box-sizing: border-box;
  font-family: $font-family-ClanOTNews;
  background-color: $color-dark-grey-blue;
}

.pacingCardInner {
  display: flex;
  align-items: center;
  justify-content: center;
  .pacingCardInnerItem {
    flex: 1;
    &:last-child() {
      display: flex;
      align-items: center;
    }
  }
}

.componentTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: $font-family-ClanOTBold;
  margin-bottom: 50px;

  .title {
    font-family: $font-family-ClanOT;
    font-size: 18px;
    font-weight: bold;
  }
}

.selects {
  position: relative;
  display: flex;
  z-index: 12;
  > div {
    margin: 0 0 0 24px;
  }
}

$line-size: 20;
$min-width: 210;
$min-height: 80;
