/* Padding */
.p-2 {
  padding: 2px;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.p-32 {
  padding: 32px;
}

.p-64 {
  padding: 64px;
}

.pt-2 {
  padding-top: 2px;
}

.pt-4 {
  padding-top: 4px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-48 {
  padding-top: 48px;
}

.pt-64 {
  padding-top: 64px;
}

.pr-2 {
  padding-right: 2px;
}

.pr-4 {
  padding-right: 4px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-32 {
  padding-right: 32px;
}

.pr-64 {
  padding-right: 64px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pl-2 {
  padding-left: 2px;
}

.pl-4 {
  padding-left: 4px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-32 {
  padding-left: 32px;
}

.pl-64 {
  padding-left: 64px;
}

.ph-2 {
  padding-left: 2px;
  padding-right: 2px;
}

.ph-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.ph-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.ph-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.ph-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.ph-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.ph-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.pv-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.pv-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pv-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pv-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pv-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pv-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* Margin */

.m-2 {
  margin: 2px;
}

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 8px;
}

.m-16 {
  margin: 16px;
}

.m-32 {
  margin: 32px;
}

.m-48 {
  margin: 48px;
}

.m-64 {
  margin: 64px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-64 {
  margin-top: 64px;
}
.mt-72 {
  margin-top: 72px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-88 {
  margin-top: 88px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-24 {
  margin-right: 24px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-64 {
  margin-right: 64px;
}

.mb-2 {
  margin-bottom: 2px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-72 {
  margin-bottom: 72px;
}

.ml-0 {
  margin-left: 0;
}

.ml-2 {
  margin-left: 2px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-32 {
  margin-left: 32px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-48 {
  margin-left: 48px;
}

.ml-64 {
  margin-left: 64px;
}

.mh-0 {
  margin-left: 0;
  margin-right: 0;
}

.mh-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.mh-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mh-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mh-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mh-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.mh-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.mh-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.mv-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mv-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mv-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mv-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mv-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mv-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mv-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.mv-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mv-72 {
  margin-top: 72px;
  margin-bottom: 72px;
}

/* Width */

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}
