.font-primary {
  font-family: $font-family-primary;
}
.font-secondary-first {
  font-family: $font-family-ClanOT;
}
.font-secondary-second {
  font-family: $font-family-ClanOTNews;
}
.display-block {
  display: block !important;
}
.text-bold {
  font-weight: bold;
}
.shadow-1 {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
}
.circleImage {
  border-radius: 100%;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}

.clearFix {
  clear: both;
}

.text-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.mt-50 {
  margin-top: 50px;
}

.font-size-12 {
  font-size: 12px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-24 {
  font-size: 24px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

$custom-col-3: (
  columns: 12,
  gutter: 24px,
);
$custom-col-6-24-gutter: (
  columns: 12,
  gutter: 24px,
);
$custom-col-6: (
  columns: 12,
  gutter: 0px,
);
$custom-col-12: (
  columns: 12,
  gutter: 40px,
);
$custom-col-12-gutter-20: (
  columns: 12,
  gutter: 20px,
);
$custom-col-5: (
  columns: 12,
  gutter: 0px,
);
$custom-col-7: (
  columns: 12,
  gutter: 0px,
);
$custom-col-12-no-gutter: (
  columns: 12,
  gutter: 0px,
);
.grid-container {
  @include grid-container;
}
.grid-collapse {
  @include grid-collapse;
}
.col-1 {
  @include grid-column(1);
}
.col-2 {
  @include grid-column(2);
}
.col-3 {
  @include grid-column(3, $custom-col-3);
}
.col-4 {
  @include grid-column(4);
}
.col-5-no-gutters {
  @include grid-column(5, $custom-col-5);
}
.col-5 {
  @include grid-column(5);
}
.col-6 {
  @include grid-column(6);
}
.col-6-no-gutters {
  @include grid-column(6, $custom-col-6);
}
.col-6-custom-gutters {
  @include grid-column(6, $custom-col-6-24-gutter);
}
.col-7 {
  @include grid-column(7);
}
.col-8 {
  @include grid-column(8);
}
.col-7-no-gutters {
  @include grid-column(7, $custom-col-7);
}
.col-9 {
  @include grid-column(9);
}
.col-10 {
  @include grid-column(10);
}
.col-11 {
  @include grid-column(11);
}
.col-12 {
  @include grid-column(12, $custom-col-12);
}
.col-12-gutter-20 {
  @include grid-column(12, $custom-col-12-gutter-20);
}

.col-12-no-gutter {
  @include grid-column(12, $custom-col-12-no-gutter);
}
