.colWrapper {
	position: relative;
	width: 33.33%;

	> p {
		font-size: 14px;
		font-family: $font-family-ClanOTNews;
		line-height: 26px;
		margin-top: 50px;
		text-align: center;
		padding: 0 50px;
	}

	&:first-child .temperatureContentWrapper {
		border: none;
	}
}

.temperatureContentWrapper {
	position: relative;

	> .chartInfo {
		font-family: $font-family-ClanOTNews;
		font-size: 14px;
		line-height: 1.86;
		text-align: center;
		color: $color-white;
		margin-top: 80px;
		padding: 0 80px;
	}

	&:not(:last-child):after {
		content: '';
		display: block;
		position: absolute;
		width: 1px;
		height: 204px;
		right: -10px;
		top: 0;
		background-color: $color-dusk;
	}	
}

.textTop {
	font-size: 14px;
	font-family: $font-family-ClanOT;
	font-weight: bold;
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
}
.textRight {
	font-size: 14px;
	font-family: $font-family-ClanOTNews;
	color: $color-cool-grey;
	position: absolute;
	top: calc(50% - 14px);
	right: -35px;
}

.textBottom {
	font-size: 14px;
	font-family: $font-family-ClanOTBold;
	position: absolute;
	bottom: -35px;
	left: 50%;
	transform: translateX(-50%);
}

.textLeft {
	font-size: 14px;
	font-family: $font-family-ClanOTNews;
	color: $color-cool-grey;
	position: absolute;
	top: calc(50% - 14px);
	left: -35px;
}

.horizontalLine {
	width: 204px;
	height: 4px;
	background-color: $color-dark-five;
	position: absolute;
	top: calc(50% - 2px);
}

.verticalLine {
	width: 4px;
	height: 204px;
	background-color: $color-dark-five;
	position: absolute;
	top: 0;
	left: calc(50% - 2px);
}

.temperatureContent {
	display: block;
	margin: 0 auto;
	width: 204px;
	height: 204px;
	background-color: $color-dusk;
	border-radius: 100%;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
	position: relative;

	.round {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		position: absolute;
		top: calc(50% - 20px);
		left: calc(50% - 20px);
		border: 1px solid $color-dark-five;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
		transition: transform 1s ease-in-out;
	}
}

.borderless {
	border: none;

	&:after {
		opacity: 0
	}
}

.verticalTextLeft {
	writing-mode: vertical-lr;
	text-orientation: mixed;
	transform: rotateZ(180deg);
}

.verticalTextRight {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}
