.barContainer {
	display: block;
}
.xAxis {
	top: -30px;
	position: relative;
}
.line {
	width: 100%;
	height: 1px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	border: solid 1px $color-dark;
}
.label {
	text-align: center;
	padding: 15px;
	color: #fff;
	font-weight: 700;
}
