@font-face {
  font-family: 'Glyphicons Halflings';
  font-weight: normal;
  src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/fonts/glyphicons-halflings-regular.woff2');
}

@font-face {
  font-family: 'ClanOT';
  src: url($staticUrl + 'fonts/clanot/ClanOT-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClanOTBold';
  src: url($staticUrl + 'fonts/clanot/ClanOT-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClanOTNews';
  src: url($staticUrl + 'fonts/clanot/ClanOT-News.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url($staticUrl + 'fonts/futura/Futura-CondensedExtraBold.eot');
  src: url($staticUrl + 'fonts/futura/Futura-CondensedExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url($staticUrl + 'fonts/futura/Futura-CondensedExtraBold.woff2')
      format('woff2'),
    url($staticUrl + 'fonts/futura/Futura-CondensedExtraBold.woff')
      format('woff'),
    url('
     $staticUrl +  fonts/futura/Futura-CondensedExtraBold.ttf')
      format('truetype'),
    url($staticUrl + 'fonts/futura/Futura-CondensedExtraBold.svg')
      format('svg');
  font-weight: 800;
  font-style: normal;
}
