.m-5 {
	margin: 5px;
}
.m-10 {
	margin: 10px;
}
.m-25 {
	margin: 25px;
}

.col1-3 {
	float: left;
	width: 33%;
}

.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-25 {
	margin-top: 25px;
}

.p-5 {
	padding: 5px;
}
.p-10 {
	padding: 10px;
}
.p-25 {
	padding: 25px;
}

.pl-5 {
	padding-left: 5px;
}
.pl-10 {
	padding-left: 10px;
}
.pl-25 {
	padding-left: 25px;
}

.pt-5 {
	padding-top: 5px;
}
.pt-10 {
	padding-top: 10px;
}
.pt-25 {
	padding-top: 25px;
}

.color-white {
	color: $color-white;
}

.bg-tealish {
	background: $color-tealish;
}

.bg-charcoal-grey {
	background: $color-charcoal-grey;
}
.bg-dark-three {
	background: $color-dark-three;
}

.border-bt-dark {
	border-bottom: solid 2px $color-dark;
}

.border-bt-tealish {
	border-bottom: solid 1px $color-tealish;
}

.box-shadow-black-1 {
	box-shadow: inset 0 1px 5px 2px $color-black;
}

.col-1 {
	@include grid-column(1);
}
.col-2 {
	@include grid-column(2);
}
.col-3 {
	@include grid-column(3);
}
.col-4 {
	@include grid-column(4);
}
.col-5 {
	@include grid-column(5);
}
.col-6 {
	@include grid-column(6);
}
.col-7 {
	@include grid-column(7);
}
.col-8 {
	@include grid-column(8);
}
.col-9 {
	@include grid-column(9);
}
.col-10 {
	@include grid-column(10);
}
.col-11 {
	@include grid-column(11);
}
.col-12 {
	@include grid-column(12);
}
.col-1-5 {
	float: left;
	width: 20%;
}
