.m-5 {
	margin: 5px;
}
.m-10 {
	margin: 10px;
}
.m-25 {
	margin: 25px;
}

.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-25 {
	margin-top: 25px;
}
.mt-50 {
	margin-top: 50px;
}
.mb-25 {
	margin-bottom: 25px;
}
.p-5 {
	padding: 5px;
}
.p-10 {
	padding: 10px;
}
.p-25 {
	padding: 25px;
}

.pl-5 {
	padding-left: 5px;
}
.pl-10 {
	padding-left: 10px;
}
.pl-25 {
	padding-left: 25px;
}

.pt-5 {
	padding-top: 5px;
}
.pt-10 {
	padding-top: 10px;
}
.pt-25 {
	padding-top: 25px;
}
.pt-50 {
	padding-top: 50px;
}
.pt-75 {
	padding-top: 75px;
}
.pt-100 {
	padding-top: 100px;
}

.pb-10 {
	padding-bottom: 10px;
}

.containerMargin {
	margin: 0 12px;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.headerVideoTabs {
	font-family: $font-family-clanOT;
	color: $color-dark-three;
}

.color-white {
	color: $color-white;
}

.color-tealish {
	color: $color-tealish;
}

.color-dark-three {
	color: $color-dark-three;
}

.font-bold {
	font-weight: bold;
}

.bg-tealish {
	background: $color-tealish;
}

.bg-color-custom {
	background: #1c1925;
}

.bg-charcoal-grey {
	background-color: $color-charcoal-grey;
}
.bg-dark-three {
	background: $color-dark-three;
}

.border-bt-dark {
	border-bottom: solid 2px $color-dark;
}

.border-bt-tealish {
	border-bottom: solid 1px $color-tealish;
}

.box-shadow-black-1 {
	box-shadow: inset 0 1px 5px 2px $color-black;
}

.col-1 {
	@include grid-column(1);
}
.col-2 {
	@include grid-column(2);
}
.col-3 {
	@include grid-column(3);
}
.col-4 {
	@include grid-column(4);
}
.col-5 {
	@include grid-column(5);
}
.col-6 {
	@include grid-column(6);
}
.col-7 {
	@include grid-column(7);
}
.col-8 {
	@include grid-column(8);
}
.col-9 {
	@include grid-column(9);
}
.col-10 {
	@include grid-column(10);
}
.col-11 {
	@include grid-column(11);
}
.col-12 {
	@include grid-column(12);
}
.col-1-5 {
	float: left;
	width: calc(20% - 6px);
	margin: 0 3px;
}
.col-1-3 {
	float: left;
	width: 33.33%;
}
.grid-collapse {
	@include grid-collapse;
}
