$font-family-sans-serif: "AnonymousPro";
$font-family-sans-serif-bold: "AnonymousProBold";
$font-family-icons: "Glyphicons Halflings";
$font-family-qf-icons: "icomoon";

//variable injected via webpack/config
$s3_static: $staticUrl;

$output-bourbon-deprecation-warnings: false;
$hover-transition: 0.2s;

//COLORS
// PRIMARY
$color-primary-electric-yellow: #fffa00;
$color-primary-electric-blue: #58e7f2;
$color-primary-amgreen: #21a368;
$color-primary-electric-green: #31e05a;

// ACCENT
$color-accent-mango: #fb952f;
$color-accent-violet: #a190af;
$color-accent-sunflower: #ffd800;
$color-accent-seaform: #5cb3cf;
$color-accent-cherry: #fb4a2f;
$color-accent-purple: #72479d;

// NEUTRAL
$color-neutral-white: #ffffff;
$color-neutral-pearl-grey: #f5f5f5;
$color-neutral-sterling-grey: #d9d9d9;
$color-neutral-medium-grey: #979797;
$color-neutral-charcoal: #353535;
$color-neutral-true-black: #000000;

//SOCIAL
$color-facebook-blue: #3a589a;
$color-twitter-blue: #3f99ff;
$color-google-red: #e9544f;
$color-snapchat-yellow: #fffb00;
$color-instagram-purple: #8a3ab9;

//FORM:
$color-form-error-red: #f34a35;

$color-white: #ffffff;
$color-tealish: #21bcd5;
$color-dark: #22212f;
$color-pale-grey: #fcfbff;
$color-dark-two: #242331;
$color-charcoal-grey: #2f2e3d;
$color-black: #000000;
$color-aqua-blue: #00c8d6;
$color-dark-three: #161620;
