$font-family-sans-serif: "Circular-Book", sans-serif;
$font-family-sans-serif-bold: "Circular-Bold", sans-serif;
$font-family-icons: "Glyphicons Halflings";
$font-family-qf-icons: "icomoon";

//variable injected via webpack/config
$s3_static: $staticUrl;

$output-bourbon-deprecation-warnings: false;
$hover-transition: 0.2s;

//COLORS
// PRIMARY
$color-primary-electric-yellow: #fffa00;
$color-primary-electric-blue: #58e7f2;
$color-primary-amgreen: #21A368;
$color-primary-electric-green: #31e05a;


// ACCENT
$color-accent-mango: #fb952f;
$color-accent-violet: #a190af;
$color-accent-sunflower: #ffd800;
$color-accent-seaform: #5cb3cf;
$color-accent-cherry: #fb4a2f;
$color-accent-purple: #72479d;

// NEUTRAL
$color-neutral-white: #ffffff;
$color-neutral-pearl-grey: #f5f5f5;
$color-neutral-sterling-grey: #d9d9d9;
$color-neutral-medium-grey: #979797;
$color-neutral-charcoal: #353535;
$color-neutral-true-black: #000000;

//SOCIAL
$color-facebook-blue: #3a589a;
$color-twitter-blue: #3f99ff;
$color-google-red: #e9544f;
$color-snapchat-yellow: #FFFB00;
$color-instagram-purple: #8a3ab9;

//FORM:
$color-form-error-red: #f34a35;
