.temperatureHeader {
  display: flex;
  width: calc(100% - 80px);
  padding: 48px 40px 20px;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
  }

  h2 {
    font-family: $font-family-ClanOTBold;
    font-size: 18px;
  }

  .inputWrapper {
    position: relative;
    width: 200px;
  }
}

.redRound {
  background-color: $color-coral-pink;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.purpleRound {
  background-color: $color-lighter-purple;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.duskRound {
  background-color: $color-cool-blue;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}
