.temperatureHeader{
  display: flex;
  width: calc(100% - 80px);
  padding: 48px 40px 20px;
  justify-content: space-between;
  align-items: center;

  p{
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
  }

  h2{
    font-family: $font-family-ClanOTBold;
    font-size: 18px;
  }

  .inputWrapper{
    width: 200px;
  }
}

.temperatureContentContainer{
  width: calc(100% - 40px);
  padding: 56px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:first-child{
    border: none;
  }

  .temperatureContentWrapper{
    position: relative;
    width: calc(33.33% - 41px);
    border-left: 1px solid $color-dusk;
    padding: 20px;
    &:first-child{
      border: none;
    }

    .textTop{
      font-size: 14px;
      font-family: $font-family-ClanOTBold;
      position: absolute;
      top: -40px;
      left: calc(50% - 22.5px);
    }

    .textRight{
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      color: $color-cool-grey;
      position: absolute;
      top: calc(50% - 14px);
      right: -50px;
    }

    .textBottom{
      font-size: 14px;
      font-family: $font-family-ClanOTBold;
      position: absolute;
      bottom: -40px;
      left: calc(50% - 12px)
    }

    .textLeft{
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      color: $color-cool-grey;
      position: absolute;
      top: calc(50% - 14px);
      left: -40px;
    }

    .horizontalLine{
      width: 204px;
      height: 4px;
      background-color: $color-dark-five;
      position: absolute;
      top: calc(50% - 2px);
    }

    .verticalLine{
      width: 4px;
      height: 204px;
      background-color: $color-dark-five;
      position: absolute;
      top: 0;
      left: calc(50% - 2px);
    }

    .temperatureContent{
      display: block;
      margin: 0 auto;
      width: 204px;
      height: 204px;
      background-color: $color-dusk;
      border-radius: 100%;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
      position: relative;

      .redRound{
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }

      .purpleRound{
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }

      .duskRound{
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.radialChartsContainer {
  .doughnutTabs {
    border:none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }


  .radialChart {
    transition: 500ms;
    text-align: center;
    width: calc(25% - 41px);
    float: left;
    margin: 30px 0;
    padding: 0 20px;
    border-left: 1px solid $color-dusk;
    list-style: none;

    .subtitle{
      background-color: $color-dark-five;
      padding: 8px 24px;
      border-radius: 22px;
      display: inline-flex;
      margin-top: 24px;
    }

    &:first-child {
      border: none;
    }
    .doughnutChartContainer {
      position: relative;
      margin-top: 40px;
      p {
        font-family: $font-family-ClanOTNews;
        font-size: 14px;
        width: 75%;
        display: block;
        margin: 0 auto;
      }
      .textBold{
        font-family: $font-family-ClanOTBold;
        font-weight: bold;
      }
      canvas{
        margin: 0 auto;
      }
    }
    &:hover{
      transform: scaleX(1.10) scaleY(1.22);
      background-color: $color-dusk;
    }

  }
  .doughnutPanelTab{
    transition: 500ms;
    text-align: center;
    width: 100%;
    min-height: 400px;
    background-color: $color-dark-grey-blue;

    .doughnutPanelHeader{
      width: auto;
      height: 40px;
      padding: 12px 40px;
      background-color: $color-dusk;
      display: flex;
      color: $color-white;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

      div{
        i{
          background-color: #242b49;
          border-radius: 20px;
          padding: 8px;
          border: 2px solid #51adc0;
          margin-right: 20px;
        }
      }
      .panelTitle{
        font-family: $font-family-ClanOTBold;
        font-size: 14px;
        color: $color-white;
      }
    }
  }
}

.redRound{
  background-color: $color-coral-pink;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px
}

.purpleRound{
  background-color: $color-lighter-purple;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px
}

.duskRound{
  background-color: $color-cool-blue;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px
}

.temperatureHeader{
  display: flex;
  width: calc(100% - 80px);
  padding: 48px 40px 20px;
  justify-content: space-between;
  align-items: center;

  p{
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
  }

  h2{
    font-family: $font-family-ClanOTBold;
    font-size: 18px;
  }

  .inputWrapper{
    width: 200px;
  }
}

.temperatureContentContainer{
  width: calc(100% - 40px);
  padding: 56px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:first-child{
    border: none;
  }

  .temperatureContentWrapper{
    position: relative;
    width: calc(33.33% - 41px);
    border-left: 1px solid $color-dusk;
    padding: 20px;
    &:first-child{
      border: none;
    }

    .textTop{
      font-size: 14px;
      font-family: $font-family-ClanOTBold;
      position: absolute;
      top: -40px;
      left: calc(50% - 22.5px);
    }

    .textRight{
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      color: $color-cool-grey;
      position: absolute;
      top: calc(50% - 14px);
      right: -50px;
    }

    .textBottom{
      font-size: 14px;
      font-family: $font-family-ClanOTBold;
      position: absolute;
      bottom: -40px;
      left: calc(50% - 12px)
    }

    .textLeft{
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      color: $color-cool-grey;
      position: absolute;
      top: calc(50% - 14px);
      left: -40px;
    }

    .horizontalLine{
      width: 204px;
      height: 4px;
      background-color: $color-dark-five;
      position: absolute;
      top: calc(50% - 2px);
    }

    .verticalLine{
      width: 4px;
      height: 204px;
      background-color: $color-dark-five;
      position: absolute;
      top: 0;
      left: calc(50% - 2px);
    }

    .temperatureContent{
      display: block;
      margin: 0 auto;
      width: 204px;
      height: 204px;
      background-color: $color-dusk;
      border-radius: 100%;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
      position: relative;

      .redRound{
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }

      .purpleRound{
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }

      .duskRound{
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }
    }

  }

}

