  form {
    footer {
      @include align-items(center);

      button {
        &:disabled {
          background-color: $color-neutral-sterling-grey;
          color: $color-neutral-white;
        }
      }
    }
  }

  .yellow {
    @include qf-button($color-primary-electric-yellow);
  }

  .blue {
    @include qf-button($color-primary-electric-blue);
    color: $color-neutral-white;
  }

  .purple {
    @include qf-button($color-accent-purple);
    color: $color-neutral-white;
    &:hover {
      color: $color-neutral-white;
      background: rgba($color-accent-purple, 0.5)
    }
  }

  .green {
    @include qf-button($color-primary-amgreen);
  }

  .grey {
    @include qf-button($color-neutral-sterling-grey);
  }

  .white {
    @include qf-button($color-neutral-white);
  }

  .black {
    @include qf-button($color-neutral-charcoal);
    color: white;
    font-weight: $font-family-sans-serif-bold !important;

    &:hover {
      color: rgba(white, 0.5)
    }
  }

  .green {
    @include qf-button($color-primary-electric-green);
    color: white;
    font-family: $font-family-sans-serif-bold;

    &:hover {
      color: rgba($color-primary-electric-green, 0.5);
    }
  }

  .message {
    width: 56px;
    height: 24px;
    border-radius: 12px;
    background-color: $color-accent-purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-family: $font-family-sans-serif-bold;
    color: #ffffff;
    cursor: pointer;

    &:hover {
      color: rgba(white, 0.5);
    }


  }

