.legend{
  display: flex;
  align-items: center;

  & + .legend{
    margin-left: 32px;
  }

  p {
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
  }

  .legendDot {
    width: 16px;
    height: 16px;
    display: inline-flex;
    border-radius: 100%;
    vertical-align: middle;
		margin-right: 10px;

		@each $name, $value in $colors {
			&.dot-#{$name} {
				background: $value;
			}
		}
  }
}



