.sliderClass {
	position: relative;
  padding-bottom: 32px;
  height: min-content;
	.whichSlideText {
		font-family: $font-family-ClanOT;
		font-weight: bold;
		font-size: 14px;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.disable {
		cursor: not-allowed;
		opacity: 0.5;
  }
  
  .thumbnailContainer {
    .thumbnail {
      opacity: 0.4;
  
      img {
        height: 56px !important;
        margin-right: 5px;
      }
    }
    .activeThumb {
      opacity: 0.9;
    }
  }
  .slick-slide {
    outline: none !important;
  }
  .rc-slider-handle {
    position: absolute;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;
    border-radius: 50%;
    border: none !important;
    background-color: #fff;
    -ms-touch-action: pan-x;
    touch-action: pan-x;
  }
  .rc-slider-handle:focus {
    border-color: #57c5f7;
    box-shadow: 0 0 0 1px #96dbfa;
    outline: none;
  }
  .rc-slider-handle-click-focused:focus {
    border-color: #96dbfa;
    box-shadow: unset;
  }
  .rc-slider-handle:hover {
    border-color: #57c5f7;
  }
  .rc-slider-handle:active {
    border-color: #57c5f7;
    box-shadow: 0 0 1px #57c5f7;
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .rc-slider-dot {
    display: none !important;
  }
  .rc-slider-dot-active {
    border-color: #96dbfa;
  }
}
