.fieldset {
  @include clearfix;

  position: relative;
  z-index: 100;

  //@include margin(30px null null null);

  legend {
    @include position(relative);
    @include frame($color-primary-electric-yellow, 12px, 32px, -40px, -30px);
    @include margin(80px null 30px null);
    font-size: 35px;
    font-family: $font-family-sans-serif-bold;
    text-align: center;
  }

  label {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 55px;
  }

}

.fieldsetPair {
  @extend .fieldset;
  display: flex;
  margin-top: 0;

  .fieldRow {
    display: flex;
    @include justify-content(space-between);
    > div {
      width: 48%;
      margin-bottom: 24px;
    }
  }

}
