%absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 472px;
  overflow: hidden;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid $color-dusk;
  box-sizing: border-box;

  &.noBorder {
    border: none;
  }

  .content {
    .video {
      @extend %absolute;
      height: 472px;
      background: black;
    }
  }
  .barOpacity {
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    height: 52px;
    background-color: $color-dark-grey-blue;
    opacity: 0.8;
    z-index: 11;
    padding: 0 24px;

    & > div {
      position: absolute;
      right: 24px;
      top: 15px;
      font-family: $font-family-ClanOT;
      font-weight: bold;
      // color: #ffffff;
      font-size: 12px;
    }
  }
  .bar {
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    height: 52px;
    background-color: transparent;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    font-family: $font-family-ClanOT;
    font-weight: bold;
    // color: #ffffff;
    font-size: 14px;

    .barTitle {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .barChart {
      float: right;
    }

    .centerText {
      font-family: $font-family-ClanOTNews;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      // color: $color-white;
      width: calc(100% - 48px);
      text-align: center;
      position: absolute;
    }
  }
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.barChartInfo {
  background-color: transparent;
  border: none;
  // color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-family: $font-family-primary;
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
  }
}
