.profileImage {
  .dropzone {
    border: 0 !important;
    border-radius: 0 !important;
    height: 200px !important;
    background-color: $color-neutral-medium-grey;
    > div > div {
      color: $color-neutral-sterling-grey !important;
      p {
        font-weight: normal !important
      }
    }
  }
  .image {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.profileImage.profilePicture {
  .dropzone {
    height: 100% !important;
    border-radius: 50% !important;
    background-color: $color-neutral-white;
    > div > div {
      color: $color-accent-mango !important;
      margin-top: 15px;
    }
  }
  .image {
    height: 100px;
    border-radius: 50%;
  }
}

.uploadDialog {
  max-width: 588px;
  margin: 0 auto;
  position: relative;
  button {
    width: max-content !important;
    padding: 0 32px !important;
  }
}

