.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;

  .card {
    margin: 80px auto;
    width: 588px;
    padding: 56px 102px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px $color-dusk-two;
    background-color: $color-dark-grey-blue;
  }
}
