.marketView {
  .container {
    padding: 51px 49px 50px 46px;
  }
}

.useCase {

}

.time {

}

.platform {

}

.audience {

}

.competitor {
  .upContainer {
    width: 100%;
    height: 341px;
    display: flex;

    .videoInfo { 
      width: 100%;
      margin-left: 27px;
    }

    .videoHeader {
      display: flex;
      height: 22px;
      line-height: 22px;
      margin-bottom: 10px;

      .social {
        margin-left: auto;
        margin-top: 3px;
        
        span {
          margin-left: 8px;

          &.deactiveIcon{
            opacity: 0.25;
          }
        }
      }
    }
  }

  .cardView {
    height: 310px;
    padding-left: 0px;

    .title {
      // margin-top: 20px;
      // margin-bottom: 30px;
    }
  }
}


.videoContainer {
  width: 468px;
}

%round {
	width: 6px;
	height: 6px;
	display: inline-block;
	margin: 0 10px;
	border-radius: 6px;
}

.roundTealish {
	@extend %round;
	background: $color-tealish;
}

.roundGrey {
	@extend %round;
	border: solid 0.7px $color-black;
	background-image: linear-gradient(to top, $color-charcoal-grey, $color-dark);
}
