.marketViewCard {
  position: relative;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: $color-dark-grey-blue;
  padding: 40px 20px;
  font-family: $font-family-ClanOTNews;
  height: 705px;

  .marketViewCardTitle {
    font-family: $font-family-primary;
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
  }

  .marketViewCardSubTitle {
    font-family: $font-family-primary;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
  }

  .marketViewCardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-ClanOT;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: $color-dusk;
    color: white;
    text-decoration: none;
    transition: 300ms;
    .icon {
      margin-left: 10px;
      span {
        font-size: 20px;
      }
    }
    &:hover {
      background-color: white;
      color: $color-dark-five;
    }
  }

  .marketViewCardDescription {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    span {
      position: absolute;
      bottom: 100px;
      left: 20px;
      right: 20px;
    }
  }

  .pieChartContainer {
    margin-top: 60px;
    canvas {
      width: 216px !important;
      height: 216px !important;
      margin: 0 auto;
    }
  }

  .marketViewCardDate {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    span {
      display: flex;
      align-items: center;
      font-size: 14px;
      border-radius: 17px;
      background-color: $color-dusk;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      padding: 8 24px;
    }
  }
}

.alignTabs {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  .tab {
    font-family: $font-family-ClanOTNews;
    font-size: 14px;
    margin: 0 35px;
    text-decoration: none;
    color: white;
    position: relative;
  }
}

.activeLink:before {
  content: ' ';
  width: 100%;
  height: 4px;
  position: absolute;
  top: -8px;
  background-color: $color-cool-blue;
}

.colors {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;

  span {
    display: inline-block;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    cursor: pointer;
    position: relative;

    &.hasTriangle {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -20px;
        left: 6px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 6px 0 6px;
        border-color: #ffffff transparent transparent transparent;
      }
    }
  }
}

.chartContainer {
  padding: 48px 40px;
  box-sizing: border-box;
  font-family: $font-family-ClanOTNews;
  background-color: $color-dark-grey-blue;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: $font-family-ClanOT;
  margin-bottom: 50px;
  float: none;
}

.selects {
  position: relative;
  display: flex;
  z-index: 12;
  > div {
    margin: 0 0 0 24px;
  }
}

.colorList {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 40px;

  .colorListItem {
    display: flex;
    align-items: center;
    margin: 25px 0;
    font-size: 14px;
    font-family: $font-family-ClanOTNews;

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: black;
      margin-right: 5px;
    }

    &:nth-child(1):before {
      background-color: #51adc0;
    }

    &:nth-child(2):before {
      background-color: #8567f0;
    }

    &:nth-child(3):before {
      background-color: #d0506c;
    }

    &:nth-child(4):before {
      background-color: #acb0be;
    }

    &:nth-child(5):before {
      background-color: #5a6386;
    }
  }

  &.colorListHorizontal {
    flex-direction: row;
    padding-left: 0;

    .colorListItem {
      margin: 0 15px;
    }
  }

  &.colorListSmall {
    justify-content: center;
    padding-left: 0;
    margin: 50px -45px;

    .colorListItem {
      font-size: 12px;
      margin-right: 12px;
    }

    &:before {
      width: 7px;
      height: 7px;
      margin-right: 2.5px;
    }
  }
}

.doughnutChart {
  position: relative;
}

.hoverImage {
  position: relative;
  width: 100%;
  height: 140px;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 300ms;
    opacity: 1;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);

    &:nth-child(2) {
      opacity: 0;
    }
  }

  &:hover {
    img {
      &:nth-child(1) {
        opacity: 0;
      }
      &:nth-child(2) {
        opacity: 1;
      }
    }
  }
}

.cardContainer {
  @include grid-container;
  margin: 56px;
  padding-bottom: 50px;
  .card {
    @include grid-column(4);
    border: 1px solid $color-dusk;
    background-color: $color-dark-five;
    .marketCardHeader {
      padding-top: 48px;
      text-align: center;
      font-family: $font-family-primary;
      font-size: 32px;
      color: $color-white;
    }
    .progressArea {
      margin: 20px 48px 32px;
      .title {
        text-align: center;
        font-family: $font-family-ClanOTNews;
        font-size: 14px;
        padding: 20px 0;
      }
      .progressBar {
        background-color: $color-dusk;
        border-radius: 10px;
      }
      .percentageBlue {
        border-radius: 10px;
        height: 10px;
        background-color: $color-cool-blue;
        -webkit-transition: width 0.5s, height 0.5s;
        transition: width 0.5s, height 0.5s;
      }
      .percentageRed {
        border-radius: 10px;
        height: 10px;
        background-color: $color-coral-pink;
        -webkit-transition: width 0.5s, height 0.5s;
        transition: width 0.5s, height 0.5s;
      }
      .progressText {
        color: $color-white;
        font-size: 14px;
        font-family: $font-family-ClanOTNews;
        .leftTitle {
          float: left;
        }

        .rightTitle {
          float: right;
        }
        &::after {
          content: '';
          clear: both;
          display: table;
        }
      }
    }
  }
  .cardDescription {
    margin: 0 48px 48px 48px;
    font-family: $font-family-ClanOTNews;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 85px;
    height: 100%;
  }
}

.bubbleChart {
  position: relative;
  height: 280px;
  margin-bottom: 60px;
  .bubbleChartItem {
    position: absolute;
    top: 50%;
    left: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    background: $color-dark-five;
    transition: 300ms;
    &:nth-child(1) {
      transform: translate(-120px, -100px);
    }
    &:nth-child(2) {
      width: 113px;
      height: 113px;
      transform: translate(15px, -140px);
    }
    &:nth-child(3) {
      width: 101px;
      height: 101px;
      transform: translate(8px, -19px);
    }
    &:nth-child(4) {
      width: 86px;
      height: 86px;
      transform: translate(-71px, 42px);
    }
    &:nth-child(5) {
      width: 101px;
      height: 101px;
      transform: translate(-180px, 18px);
    }
    .bubbleChartIcon {
      font-size: 30px;
    }
    .bubbleChartTooltip {
      overflow: hidden;
      height: 0;
      opacity: 0;
      position: absolute;
      bottom: 80%;
      padding: 0;
      z-index: 2;
      transition: opacity 300ms;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 8px);
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        border-radius: 4px;
      }
      &:after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 1px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -140%) rotate(45deg);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
      }
      span {
        position: relative;
        z-index: 2;
        display: block;
        font-size: 12px;
        color: $color-dark-five;
        line-height: 20px;
        font-family: $font-family-ClanOT;
        text-align: center;
        white-space: nowrap;
        &:last-child {
          &:before {
            content: '';
            width: 100%;
            height: 10px;
            background-color: #fff;
            position: absolute;
            bottom: -20%;
          }
        }
      }
    }
    &:hover {
      .bubbleChartTooltip {
        height: auto;
        opacity: 1;
        padding: 8px 12px 12px;
      }
    }
  }
}

.detailTopPerformingPropertyContainer {
  padding-top: 20px;
}
