.mainCardContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  margin-top: 72px;
}

.marketViewCard {
  position: relative;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: $color-dark-grey-blue;
  padding: 40px 20px 0;
  font-family: $font-family-ClanOTNews;
  width: calc(33% - 24px);
  margin: 0 12px;
  display: flex;
  flex-direction: column;

  .marketViewCardTitle {
    font-family: $font-family-primary;
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
  }

  .marketViewCardSubTitle {
    font-family: $font-family-ClanOTNews;
    font-size: 14px;
    text-align: center;
  }

  .marketViewCardChartTitle {
    font-family: $font-family-primary;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
  }

  .marketViewCardLink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-ClanOTBold;
    font-size: 14px;
    width: calc(100% + 40px);
    height: 56px;
    background-color: $color-dusk;
    color: white;
    text-decoration: none;
    transition: 300ms;
    margin-left: -20px;
    .icon {
      margin-left: 10px;
      span {
        font-size: 20px;
      }
    }
    &:hover {
      background-color: white;
      color: $color-dark-five;
    }
  }

  .marketViewCardDescription {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    width: 70%;
    margin: auto auto 40px;
  }

  .pieChartContainer {
    // margin-top: 60px;
    canvas {
      width: 216px !important;
      height: 216px !important;
      margin: 0 auto;
    }
  }

  .marketViewCardDate {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    span {
      display: flex;
      align-items: center;
      font-size: 14px;
      border-radius: 17px;
      background-color: $color-dusk;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      padding: 8 24px;
    }
  }
}

.alignTabs {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  .tab {
    font-family: $font-family-ClanOTNews;
    font-size: 14px;
    margin: 0 35px;
    text-decoration: none;
    color: white;
    position: relative;
  }
}

.activeLink:before {
  content: ' ';
  width: 100%;
  height: 4px;
  position: absolute;
  top: -8px;
  background-color: $color-cool-blue;
}

.colors {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;

  span {
    display: inline-block;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    cursor: pointer;
    position: relative;

    &.hasTriangle {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -20px;
        left: 6px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 6px 0 6px;
      }
    }
  }
}

.chartContainer {
  position: relative;
  padding: 48px 40px;
  box-sizing: border-box;
  font-family: $font-family-ClanOTNews;
  background-color: $color-dark-grey-blue;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: $font-family-ClanOT;
  margin-bottom: 50px;
  float: none;
}

.selects {
  position: relative;
  display: flex;
  z-index: 12;
  > div {
    margin: 0 0 0 24px;
  }
}

.doughnutChart {
  position: relative;
}

.hoverImage {
  position: relative;
  width: 100%;
  height: 140px;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 300ms;
    opacity: 1;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.5);

    &:nth-child(2) {
      opacity: 0;
    }
  }

  &:hover {
    img {
      &:nth-child(1) {
        opacity: 0;
      }
      &:nth-child(2) {
        opacity: 1;
      }
    }
  }
}

.card {
  @include grid-column(4);
  border: 1px solid $color-dusk;
  background-color: $color-dark-five;
  .marketCardHeader {
    padding-top: 48px;
    text-align: center;
    font-family: $font-family-primary;
    font-size: 32px;
  }
  .progressArea {
    margin: 20px 48px 32px;
    .title {
      text-align: center;
      font-family: $font-family-ClanOTNews;
      font-size: 14px;
      padding: 20px 0;
    }
    .progressBar {
      background-color: $color-dusk;
      border-radius: 10px;
    }
    .percentageBlue {
      border-radius: 10px;
      height: 10px;
      background-color: $color-cool-blue;
      -webkit-transition: width 0.5s, height 0.5s;
      transition: width 0.5s, height 0.5s;
    }
    .percentageRed {
      border-radius: 10px;
      height: 10px;
      background-color: $color-coral-pink;
      -webkit-transition: width 0.5s, height 0.5s;
      transition: width 0.5s, height 0.5s;
    }
    .progressText {
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      .leftTitle {
        float: left;
      }

      .rightTitle {
        float: right;
      }
      &::after {
        content: '';
        clear: both;
        display: table;
      }
    }
  }
}
.cardDescription {
  margin: 0 48px 48px 48px;
  font-family: $font-family-ClanOTNews;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 85px;
  height: 100%;
}

.bubbleChart {
  position: relative;
  margin-bottom: 50px;
}

.bubbleVisual {
  position: relative;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &:before {
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
}

.bubbleTooltip {
  font-family: $font-family-ClanOT;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: black;
  font-weight: bold;

  &:first-child {
    text-transform: capitalize;
  }
}

.detailTopPerformingPropertyContainer {
  position: relative;
  padding-top: 20px;
}

.sliderModuleContainer {
  display: flex;
}

.sliderModuleContainer,
.sliderModuleContainerBody {
  flex-direction: column;
}
.chartSectionBadge {
  display: block;
  margin: 40px 0 56px;
  text-align: center;

  span {
    background-color: $color-dusk;
    border-radius: 17px;
    font-family: $font-family-ClanOT;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 24px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  }
}
.colorList {
  display: flex;
  flex-direction: column;
  padding-left: 40px;

  .colorListItem {
    display: flex;
    align-items: center;
    margin: 25px 0;
    font-size: 14px;
    font-family: $font-family-ClanOTNews;

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: black;
      margin-right: 5px;
    }

    &:nth-child(1):before {
      background-color: #51adc0;
    }

    &:nth-child(2):before {
      background-color: #8567f0;
    }

    &:nth-child(3):before {
      background-color: #d0506c;
    }

    &:nth-child(4):before {
      background-color: #acb0be;
    }

    &:nth-child(5):before {
      background-color: #5a6386;
    }
  }

  &.floatRight {
    float: right;
    .colorListItem {
      margin: 0 0 0 30px;
    }
  }
  &.colorListHorizontal {
    flex-direction: row;
    padding-left: 0;
    .colorListItem {
      margin: 0 15px;
    }
  }

  &.colorListSmall {
    justify-content: center;
    padding-left: 0;
    margin: 40px 0;

    .colorListItem {
      font-size: 12px;
      margin-right: 12px;
    }

    &:before {
      width: 7px;
      height: 7px;
      margin-right: 2.5px;
    }
  }
}
