.frontContainer {
  position: relative;
  .noContent {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-family: $font-family-primary;
      font-size: 21px;
    }
  }
}

.chartWrapper {
  height: 100%;
}

.containerClass {
  display: flex;
}

.videoWrapper {
  position: relative;
  flex: 1 1 auto;
  margin-left: 0px;
}

.videoStatsWrapper {
  width: 320px;
  height: 472px;
  flex: 0 0 auto;
  margin-left: 40px;
  margin-right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .videoStat {
    border-radius: 8px;
    min-height: 100px;
    width: 100%;
    flex-direction: row;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .progressBar {
      width: 250px;
      margin-left: 0px;
      background-color: $color-dark-five;
      border-radius: 10px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 100%;
        top: 0px;
        left: calc(50% - 2px);
        background: $color-white;
      }
    }

    .percentageIncrease {
      border-radius: 10px;
      height: 10px;
      background-color: #2fd7c4;
      -webkit-transition: width 0.5s, height 0.5s;
      transition: width 0.5s, height 0.5s;
    }

    .percentageDecrease {
      background-color: #5292e5;
    }

    .progressText {
      width: 250px;
      // color: $color-white;
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      margin-bottom: 12px;

      .leftTitle {
        font-family: $font-family-ClanOT;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        // color: $color-white;
        float: left;
      }

      .rightTitle {
        font-family: $font-family-primary;
        font-size: 18px;
        font-weight: 800;
        font-style: normal;
        font-stretch: condensed;
        line-height: normal;
        letter-spacing: normal;
        // color: $color-white;
        float: right;
      }

      &::after {
        content: '';
        clear: both;
        display: table;
      }
    }

    .averageText {
      font-family: $font-family-ClanOTNews;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      // color: $color-white;
      margin-top: 8px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.videoDetailHeader {
  height: 392px;
}

.chartHeader {
  padding: 40px 44px;
  font-family: $font-family-ClanOTNews;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-family: $font-family-ClanOT;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .legend {
    display: flex;
    justify-content: flex-end;
    .legendInner {
      margin-left: 32px;
      font-family: $font-family-ClanOTNews;
      font-size: 14px;
      display: flex;
      align-items: center;
      span {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: 8px;
        border-radius: 10px;
      }
    }
  }
}

.chartLabels {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  .label {
    text-align: center;
    margin: 0 auto;
  }
}

.selectedRadialTab {
  background: transparent;
  color: $color-white;
}

.dataWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .panelChart {
    transition: 500ms;
    text-align: center;
    flex: 1 auto;
    margin: 30px 0;
    padding: 0 20px;
    border-left: 1px solid $color-dusk;
    list-style: none;

    h1 {
      font-size: 24px;
    }

    &:first-child {
      border: none;
    }

    .doughnutChartContainer {
      position: relative;
      margin-top: 40px;

      canvas {
        margin: 0 auto;
      }

      p {
        font-family: $font-family-ClanOTNews;
        font-size: 14px;
        width: 75%;
        display: block;
        margin: 0 auto;
      }

      .textBold {
        font-family: $font-family-ClanOTBold;
        font-weight: bold;
      }
    }
  }
}

.radialChartsContainer {
  .doughnutTabs {
    border: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  .radialChart {
    transition: 500ms;
    text-align: center;
    width: calc(25% - 41px);
    float: left;
    margin: 30px 0;
    padding: 0 20px;
    border-left: 1px solid $color-dusk;
    list-style: none;

    .subtitle {
      background-color: $color-dark-five;
      padding: 8px 24px;
      border-radius: 22px;
      display: inline-flex;
      margin-top: 24px;
    }

    &:first-child {
      border: none;
    }
    .doughnutChartContainer {
      position: relative;
      margin-top: 40px;
      p {
        font-family: $font-family-ClanOTNews;
        font-size: 14px;
        width: 75%;
        display: block;
        margin: 0 auto;
      }
      .textBold {
        font-family: $font-family-ClanOTBold;
        font-weight: bold;
      }
      canvas {
        margin: 0 auto;
      }
    }
    &:hover {
      transform: scaleX(1.1) scaleY(1.22);
      background-color: $color-dusk;
    }
  }
  .doughnutPanelTab {
    transition: 500ms;
    text-align: center;
    width: 100%;
    min-height: 400px;
    background-color: $color-dark-grey-blue;

    .doughnutPanelHeader {
      width: auto;
      height: 40px;
      padding: 12px 40px;
      background-color: $color-dusk;
      display: flex;
      color: $color-white;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

      div {
        i {
          background-color: #21243b;
          border-radius: 20px;
          padding: 8px;
          border: 2px solid #2fd7c4;
          margin-right: 20px;
        }
      }
      .panelTitle {
        font-family: $font-family-ClanOTBold;
        font-size: 14px;
        color: $color-white;
      }
    }
  }
}

.dot {
  color: $color-white;
  font-size: 14px;
  margin-top: 24px;
  font-family: $font-family-ClanOTNews;
}
.sliderContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 215px;

  .image {
    margin-top: 10px;
    .originalImage {
      padding: 5px 0px 5px 5px;
      background-color: $color-dark-five;
    }
    .hover {
      display: none;
    }
    &:hover {
      .hover {
        top: 10px;
        display: block;
        position: absolute;
        transform: scale(1.2);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.tabList {
  background: $color-dusk;
  margin: 0;
  padding: 27px 23px;
  color: $color-cool-grey;
  font-family: $font-family-ClanOTNews;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.selectedTab {
  background: transparent;
  font-weight: bold;
  color: $color-white;
}
.radarChartContainer {
  margin: 0 auto;
  padding-top: 35px;
  background-color: $color-dark-grey-blue;
  height: 303px;
}
.cancelButton {
  float: right;
  cursor: pointer;
  background-color: #21243b;
  border-radius: 20px;
  padding: 8px;
  border: 2px solid #2fd7c4;
}
.tabPanel {
  background-color: $color-dark-grey-blue;
  padding: 10px 30px;
  height: 318px;
  overflow-y: scroll;

  .tabPanelItem {
    background-color: $color-dark-five;
    border: 1px solid $color-dusk;

    div {
      img {
        vertical-align: middle;
      }
      .progressbarContainer {
        padding: 0px 30px;
        .barOptions {
          display: flex;
          justify-content: space-between;
          font-family: $font-family-ClanOT;
          font-weight: 500;
          p {
            font-size: 12px;
            flex: 1;
            &:first-child {
              text-align: left;
            }
            &:last-child {
              text-align: right;
            }
          }
        }
        .progressBar {
          background-color: $color-white;
          border-radius: 8px;
        }
        .percentage {
          border-radius: 8px;
          height: 8px;
          background-color: $color-lighter-purple;
        }
      }
    }
  }
}

.headerInfo {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.formWrapper {
  form {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
    margin-bottom: 0;
  }
}

.formWrapper > form > div {
  width: calc(50% - 5px);
}

.redRound {
  background-color: $color-coral-pink;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.purpleRound {
  background-color: $color-lighter-purple;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.duskRound {
  background-color: $color-cool-blue;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.temperatureHeader {
  display: flex;
  width: calc(100% - 80px);
  padding: 48px 40px 20px;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
  }

  h2 {
    font-family: $font-family-ClanOTBold;
    font-size: 18px;
  }

  .inputWrapper {
    width: 200px;
  }
}

.temperatureContentContainer {
  width: calc(100% - 40px);
  padding: 56px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    border: none;
  }

  .temperatureContentWrapper {
    position: relative;
    width: calc(33.33% - 41px);
    border-left: 1px solid $color-dusk;
    padding: 20px;
    &:first-child {
      border: none;
    }

    .textTop {
      font-size: 14px;
      font-family: $font-family-ClanOTBold;
      position: absolute;
      top: -40px;
      left: calc(50% - 22.5px);
    }

    .textRight {
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      color: $color-cool-grey;
      position: absolute;
      top: calc(50% - 14px);
      right: -50px;
    }

    .textBottom {
      font-size: 14px;
      font-family: $font-family-ClanOTBold;
      position: absolute;
      bottom: -40px;
      left: calc(50% - 12px);
    }

    .textLeft {
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      color: $color-cool-grey;
      position: absolute;
      top: calc(50% - 14px);
      left: -40px;
    }

    .horizontalLine {
      width: 204px;
      height: 4px;
      background-color: $color-dark-five;
      position: absolute;
      top: calc(50% - 2px);
    }

    .verticalLine {
      width: 4px;
      height: 204px;
      background-color: $color-dark-five;
      position: absolute;
      top: 0;
      left: calc(50% - 2px);
    }

    .temperatureContent {
      display: block;
      margin: 0 auto;
      width: 204px;
      height: 204px;
      background-color: $color-dusk;
      border-radius: 100%;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
      position: relative;

      .redRound {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }

      .purpleRound {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }

      .duskRound {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.backText {
  font-family: $font-family-ClanOTNews;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.86;
  text-align: center;
  // color: $color-white;
  margin: 0px 20px;
}
