.reportsCardContainer {
  display: flex;

  .reportsCard {
    width: 0;
    flex: 1 1 0;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    background-color: $color-dark-grey-blue;
    border: 1px solid $color-dusk;
    padding: 48px 30px 34px;
    margin: 0 12px;
    cursor: pointer;

    &:hover {
      background-color: $color-dusk;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    .cardIcons {
      display: flex;
      justify-content: center;
      margin: 32px 0;
    }

    .cardTitle {
      color: $color-white;
      font-family: $font-family-ClanOTBold;
      font-size: 18px;
      text-align: center;
      font-size: 18px;
    }

    .cardDescription {
      font-family: $font-family-ClanOTNews;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      max-width: 220px;
      margin: 0 auto;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 40px;
    }
  }
}
