.reportsCardContainer {
  display: flex;
  margin: 0 -12px;

  .reportsCard {
    width: 0;
    flex: 1 1 0;
    border-radius: 8px;
    // box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    // background-color: $color-dark-grey-blue;
    // border: 1px solid $color-dusk;
    padding: 48px 30px 34px;
    margin: 0 12px;
    cursor: pointer;
    position: relative;

    .cardIcons {
      display: flex;
      justify-content: center;
      margin: 32px 0;
    }

    .cardTitle {
      // color: $color-white;
      font-family: $font-family-ClanOTBold;
      font-size: 18px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }

    .cardDescription {
      font-family: $font-family-ClanOTNews;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      max-width: 220px;
      margin: 0 auto;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 40px;
    }

    .badge {
      background-color: $color-lighter-purple;
      box-shadow: 0 2px 4px 0 $color-dark-five;
      color: $color-white;
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      padding: 8px 14px;
      position: absolute;
      right: -16px;
      top: 8px;
      z-index: 3;

      &:after {
        content: '';
        border-right: 16px solid transparent;
        border-top: 20px solid $color-darker-purple;
        width: 0;
        height: 0;
        position: absolute;
        top: 34px;
        right: 0;
      }
    }

    &.disabled {
      pointer-events: none;
      .opacityBg {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0.6;
      }
    }
  }
}
