:global {
  .react-confirm-alert-blur {
    //filter: url(#gaussian-blur);
    //@include filter(blur(2px));
  }
  .react-confirm-alert-overlay {
    @include position( fixed, 0 0 0 0);
    z-index: 200;
    background: rgba($color-neutral-true-black, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .react-confirm-alert {
    font-family: $font-family-sans-serif;
    @include position( fixed, 10% null null null); //@include frame($color-primary-electric-yellow);
    @include grid-column(10); //height: 200px;
    padding-bottom: 60px;
    margin-left: 0;
    background: $color-neutral-white;
    border-radius: 4px;
    color: $color-neutral-charcoal;
    >h1 {
      margin-top: 0;
    }
    >h3 {
      margin: 60px auto;
      text-align: center;
      max-width: 320px;
      font-size: 16px;
      line-height: 1.4;
    }
  }
  .react-confirm-alert-button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    >button {
      @include qf-button($color-primary-electric-yellow);
      @include padding(6px 20px);
      border-radius: 2px;
    }
  }
  .cancel-alert {
    display: inline-block;
    width: 100%;
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      color: rgba($color-neutral-charcoal, 0.5);
    }
  }
}

.pane {
  display: flex;
  flex-direction: column;
  @media #{$medium-up} {
    flex-direction: row;
  }
  .descriptionPane,
  .imagePane {
    width: 100%;
    @media #{$medium-up} {
      width: 50%;
    }
  }
}

.dialog {
  position: relative;
  .dialogInner {
    height: 100%;
    header {
      text-align: center;
      padding-top: 30px;
      padding: 70px 24px 0;
      h3 {
      	color: $color-neutral-charcoal;
        font-size: 24px;
        font-family: $font-family-sans-serif-bold;
        padding-bottom: 24px;
      }
      .uploadStatus {
        padding: 24px 0 60px;
        .uploadedIcon {
          -webkit-text-stroke: initial;
          &:before {
            content: "\e95b";
            font-family: 'icomoon';
            font-size: 56px;
            display: inline-block;
            color: #31e05a;
          }
        }
      }
    }
  }
  button {
    margin: 16px auto -8px;
    width: max-content;
    padding: 0 24px;

    &:disabled {
      background-color: $color-neutral-sterling-grey;
    }
  }
}

.filesList {
  max-height: 340px;
  overflow-y: auto;
  li {
    padding: 0 20px;
    width: 75%;
    margin: 0 auto 16px;
    .label {
    	color: $color-neutral-charcoal;
      padding-bottom: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .progressContainer {
      position: relative;
      height: 5px;
      width: 100%;
      background-color: $color-neutral-sterling-grey;
      margin-bottom: 5px;
      border-radius: 2.5px;
      .progressBar {
        transition: width .3s;
        background-color: $color-accent-purple;
        border-radius: 2.5px;
        height: 5px;
      }
      &.complete {}
    }
    .percent {
      text-align: right;
      color: $color-neutral-medium-grey;
      font-size: 12px;
    }
    .completedText {
      color: $color-accent-purple;
    }
  }
}

.imagePane {
  background-color: $color-neutral-true-black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0;
  @media #{$medium-up} {
    padding: 0;
  }
  img {
    width: 240px;
  }
  p {
    color: white;
    width: 240px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 0;
  }
}

.descriptionPane {
  padding: 40px 32px 32px;
  @media #{$large-up} {
    padding: 64px 78px 64px;
  }
  h1 {
    color: $color-neutral-charcoal;
    font-size: 16px;
    font-weight: bold;
    width: 257px;
    margin: auto;
    margin-bottom: 25px;
  }
  fieldset {
    display: block;
    margin: 0;
    > div {
      margin-bottom: 40px;
    }
    textarea {
      max-height: 160px;
    }
  }

  footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    // @include margin(0px null 40px);
    button {
      width: 100px;
      margin-top: 16px;
    }
  }
}

.previewImg {
  display: flex;
  align-items: center;
  justify-content: center;

  .singleDropzone {
    width: auto !important;
    height: auto !important;
    min-height: 100px;
    padding: 10px;
    border: 2px dashed $color-neutral-sterling-grey !important;
    // margin-bottom: 10px;
    .dropzoneInstructions {
      color: $color-accent-mango;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(107, 107, 107, 0.4);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s;
      p {
        @include margin(10px null 0 null);
        font-family: $font-family-sans-serif-bold;
        font-size: 16px;
        color: inherit;
        margin: 0 auto;
      }
      &:before {
        content: "\e925";
        font-family: $font-family-qf-icons;
        display: flex;
        justify-content: center;
        font-size: 35px;
        margin-bottom: 10px;
      }
    }
    &:hover {
      border-color: $color-accent-mango !important;
      .dropzoneInstructions {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  video {
    width: 100%;
    // height: 100%;
    // max-height: 420px;
  }
}

.dropzoneEditArea.uploading {
  position: relative;
  transition: opacity .2s;
  >img {
    width: 20px;
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 9;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.33);
  }
}
