.moduleContainer {
  background-color: $color-dark-grey-blue;
  font-family: $font-family-ClanOT;
  margin-top: 35px;
  margin-bottom: 35px;
  // position: relative;
  // overflow: hidden;

  .moduleContainerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    font-size: 18px;
    font-family: $font-family-ClanOTBold;
    line-height: 42px;
    .headerTitle {
      display: flex;
      align-items: center;
      flex: 1;
      // flex-direction: column;

      .moduleInfo {
        color: #ffffff;
        border-radius: 50%;
        border: 2px solid #ffffff;
        width: 20px;
        height: 20px;
        position: relative;
        margin-left: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        cursor: pointer;
        box-sizing: border-box;
        margin-top: 2px;
      }

      h1,
      h2 {
        line-height: initial;
      }
      h1 {
        font-size: 18px;
      }
      h2 {
        font-size: 16px;
      }
    }
    .headerFilters {
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 12;
      > div {
        text-align: left;
        margin: 0 0 0 24px;
      }
    }

    .headerLegend {
      flex: 1;
      p{
        font-size: 14px;
        line-height: 1.8rem;
      }
      [class*="Dot"]{
        width: 16px;
        height: 16px;
        margin-right: 8px;
        display: inline-block;
        border-radius: 50%;
      }
      [class*="blueDot"] {
        background-color: $color-cool-blue;
      }
      [class*="redDot"] {
        background-color: #d0506c;
      }
    }
  }

  .moduleContainerBody {
    display: flex;
    padding: 8px 40px 40px;
  }
}
