.moduleContainer {
  background-color: $color-dark-grey-blue;
  font-family: $font-family-ClanOT;
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;
  // overflow: hidden;

  .moduleContainerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    font-size: 18px;
    font-family: $font-family-ClanOTBold;
    line-height: 42px;
    > div {
      flex: 1;
    }
    .headerTitle {
      display: flex;
      align-items: center;
      // flex-direction: column;

      .moduleInfo {
        color: #ffffff;
        border-radius: 50%;
        border: 2px solid #ffffff;
        width: 20px;
        height: 20px;
        position: relative;
        margin-left: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        cursor: pointer;
        box-sizing: border-box;
        margin-top: 2px;

        .moduleTooltip {
          text-align: center;
          box-sizing: border-box;
          width: 220px;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
          background-color: #5a6386;
          color: #ffffff;
          font-family: $font-family-ClanOTNews;
          font-size: 14px;
          padding: 16px;
          line-height: 26px;
          position: absolute;
          bottom: 38px;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          opacity: 0;
          visibility: hidden;
          &.show {
            opacity: 1;
            visibility: visible;
          }
          &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            left: calc(50%);
            top: calc(100% - 2px);
            box-sizing: border-box;
            border: 10px solid black;
            border-color: transparent transparent $color-dusk $color-dusk;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: rotate(-45deg) translate(-50%, -50%);
            transform: rotate(-45deg) translate(-50%, -50%);
            box-shadow: -3px 3px 4px -1px rgba(0, 0, 0, 0.5);
          }
        }
      }

      h1,
      h2 {
        line-height: initial;
      }
      h1 {
        font-size: 18px;
      }
      h2 {
        font-size: 16px;
      }
    }
    .headerLegend {
    }
    .headerFilters {
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 12;
      > div {
        text-align: left;
        margin: 0 0 0 24px;
      }
    }
  }

  .moduleContainerBody {
    display: flex;
    padding: 8px 40px 40px;
  }
}
