.cardContainer {
  border-radius: 8px;
  margin: 0px 12px 24px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  position: relative;

  box-sizing: content-box;
  clear: both;
  width: calc(25% - 24px);
  display: flex;
  flex-direction: column;

  @include grid-media($small-grid) {
    margin-top: 20px;
    @include grid-column(12);
  }

  .cardCornerInfo {
    background-color: $color-dark-six;
    border-color: $color-dusk-two;
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-radius: 0 7px 0 8px;
    color: $color-white;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.8;
    z-index: 1;
    padding-bottom: 8px;

    span {
      display: block;
      font-family: $font-family-primary;
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 5px;
      text-align: center;
    }

    .percentageWrapper {
      display: flex;
      margin-bottom: -10px;
    }
  }

  .cardInner {
    border-radius: 8px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    video {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }

  // .blurredImage {
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center;
  //   position: relative;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   box-sizing: border-box;
  // }

  .progressBar {
    height: 4px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: width 0.3s ease-in-out;
    opacity: 0;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.5);
  }
  .videoInner {
    border-radius: 8px 8px 0 0;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100% / 16 * 9;
    overflow: hidden;
    box-sizing: border-box;
    video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &:hover {
    z-index: 10;
    .progressBar {
      opacity: 1;
    }
    @-webkit-keyframes run {
      0% {
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 120px;
      }
      100% {
        left: -35px;
        right: -35px;
        bottom: -19px;
        top: -19px;
        width: calc(100% + 70px);
        box-shadow: 0 10px 20px 0 #000;
      }
    }
    .cardInner {
      border-radius: 8px;
      // transform: scale(1.2);
      -webkit-animation: ease-in-out;
      -webkit-animation-name: run;
      -webkit-animation-duration: 0.4s;
      position: absolute;
      left: -35px;
      right: -35px;
      bottom: -19px;
      top: -19px;
      width: calc(100% + 70px);
      height: calc(100% + 38px);
      box-shadow: 0 10px 20px 0 #000;
      .cardLink {
        // transform: scale(0.8);
      }
      video {
        object-fit: cover;
        // transform: scale(1);
      }
    }
    .cardBody {
      .cardLink {
        display: flex;
      }
      .cardInfo {
        display: none;
      }
    }
  }
  .cardBody {
    position: relative;
    border-radius: 0 0 6px 6px;
    .cardInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 50px;
    }
    .cardLink {
      display: none;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 100%;
      font-family: ClanOT;
      font-size: 14px;
      text-decoration: none;
      span {
        font-size: 20px;
      }
      .icon {
        margin-left: 8px;
      }
    }
    .bodyHeader {
      display: flex;
      align-items: center;
      padding: 0 12px;
      .title {
        flex: 9;
        font-family: $font-family-ClanOTBold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 50px;
        padding-right: 5px;
        text-transform: capitalize;
      }
      .dropdownButton {
        flex: 1;
        cursor: pointer;
      }
      .dropdownButton:after {
        color: $color-dark-grey-blue;
        content: '\2807';
        font-size: 20px;
        line-height: 50px;
      }
    }
    .dropdownList {
      display: none;
      position: absolute;
      z-index: 5;
      background-color: $color-white;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
      right: 20px;
      top: 35px;
      padding: 10px 20px;

      p {
        cursor: pointer;
        font-family: $font-family-ClanOT;
        font-size: 12px;
      }
    }
    .dropdownListDelete {
      background-color: $color-coral-pink;
      p {
        color: $color-white;
      }
      span {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 8px;
      }
    }
  }
  .dropdownOverlay {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    right: 0;
    z-index: 3;
  }
  .iconWrapper {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
  }
  .iconClass {
    font-size: 24px;
    color: $color-white;
  }
}
