.panopticHero {
	display: block;
	position: relative;
	padding-top: 60px;
}

.chartPanel {
	display: inline-block;
	position: relative;
	height: 45rem;

	figure {
		display: block;
		position: relative;
		margin-top: 30px;

		img {
			margin-left: 20px;
		}
	}
}

.resultsPanel {
	display: inline-block;
	position: relative;
	height: 45rem;
	// background: grey;

	.outerWrapFirst,
	.outerWrapSecond,
	.outerWrapThird,
	.outerWrapFourth {
		position: relative;
		height: 40px;
		width: 100%;
		overflow: hidden;
		border-left: 1px solid #1daac1;
		margin-top: 8px;

		.skewBarFirst,
		.skewBarSecond,
		.skewBarThird,
		.skewBarFourth {
			width: 300px;
			position: absolute;
			// left: -10%;
			top: 0;
			height: 40px;
			display: block;
			border: 1px solid #1daac1;
			transform: skewX(150deg);
			margin-bottom: 8px;
		}

		.skewBarFirst {
			left: -10%;
		}

		.skewBarSecond {
			left: -40%;
		}

		.skewBarThird {
			left: -65%;
		}

		.skewBarFourth {
			left: -80%;
		}
	}
}

.rightPanel {
	display: inline-block;
	position: relative;
	height: 45rem;
	background: pink;
}

.controlGroup {
	display: block;
	line-height: 34px;

	.control {
		// display: block;
		position: relative;
		padding-left: 39px;
		margin-right: 18px;
		cursor: pointer;
		font-size: 14px;
		letter-spacing: 0;
		font-family: $font-family-clanOTBook;
		color: white;
		display: inline-block;
	}

	.control input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	.controlIndicator {
		position: absolute;
		top: 2px;
		left: 0;
		height: 31px;
		width: 31px;
		background: #e6e6e6;

		&.first {
			background: red;
		}
	}

	.control:hover input ~ .controlIndicator,
	.control input:focus ~ .controlIndicator {
		background: #ccc;
	}

	.control input:checked ~ .controlIndicator {
		background: #2aa1c0;
	}

	.control:hover input:not([disabled]):checked ~ .controlIndicator,
	.control input:checked:focus ~ .controlIndicator {
		background: #0e647d;
	}

	.control input:disabled ~ .controlIndicator {
		background: #e6e6e6;
		opacity: 0.6;
		pointer-events: none;
	}

	.controlIndicator:after {
		content: "";
		position: absolute;
		display: none;
	}

	.control input:checked ~ .controlIndicator:after {
		display: block;
	}

	.controlCheckbox .controlIndicator:after {
		left: 8px;
		top: 4px;
		width: 3px;
		height: 8px;
		border: solid #fff;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
	}

	.controlCheckbox input:disabled ~ .controlIndicator:after {
		border-color: #7b7b7b;
	}
}

.outerWrapFirst {
	p {
		position: absolute;
		top: 0;
		left: -10px;
		z-index: 2;
	}
}

.buttonStyle {
	background: transparent;
	color: white;
	border: 0;
	font-size: 16px;
	box-shadow: 0 0 4px 2px rgba(33, 188, 213, 0.5), inset 0 0 4px 2px #21bcd5;
	padding: 16px 32px;
	font-family: $font-family-clanOT;
}
