//@import 'main';
.videoBackground {
	width: 100%;
}

.video {
	display: inline-flex;
	position: relative;
	margin: 16px 50px;

	&:hover {
		.infoContainer {
			// display: block;
		}

		.videoIcon {
			opacity: 1;
		}
	}
}

.videoContainer {
	position: relative;
}

.infoContainer {
	position: absolute;
	left: 100%;
	background: white;
	top: 0;
	z-index: 100;
	height: calc(100% + 100px);
	width: 100%;
	overflow: hidden;
	display: none;
}

.videoImage {}

.videoIcon {
	text-shadow: 0 0 6px $color-tealish;
	font-size: 56px;
	color: $color-pale-grey;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	opacity: 0;
}
