//@import 'main';
.videoBackground {
	margin-top: 32px;
	width: 100%;
}
.video {
	display: inline-flex;
}
.videoContainer {
	position: relative;
}
.infoContainer {
	left: 21.5%;
	position: absolute;
}

.videoImage {
}

.publishDate {
}
