//@import 'main';
.videoBackground {
	width: 100%;
}
.video {
	display: inline-flex;
	margin-top: 32px;
}
.videoContainer {
	position: relative;
}
.infoContainer {
	left: 21.5%;
	position: absolute;
}

.videoImage {
}

.publishDate {
}

.videoIcon {
	text-shadow: 0 0 6px $color-tealish;
	font-size: 56px;
	color: $color-pale-grey;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
