.radialChartsContainer {
  .doughnutTabs {
    border: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  .radialChart {
    text-align: center;
    padding: 30px 20px;
    border-left: 1px solid $color-dusk;
    list-style: none;
    position: relative;
    cursor: pointer;
    .cardInner {
      .cardTitle {
        font-family: $font-family-primary;
        font-weight: bold;
        font-size: 32px;
      }
    }
    .subtitle {
      background-color: $color-dark-five;
      padding: 4px 24px;
      border-radius: 22px;
      display: inline-flex;
      margin-top: 24px;
      position: relative;
      font-family: $font-family-ClanOTBold;
      font-weight: bold;
    }
    h1 {
      position: relative;
    }
    &:first-child {
      border: none;
    }
    .doughnutChartContainer {
      position: relative;
      margin-top: 40px;
      p {
        font-family: $font-family-ClanOTNews;
        font-size: 14px;
        width: 75%;
        display: block;
        margin: 0 auto;
        padding-top: 32px;
      }
      .textBold {
        font-family: $font-family-ClanOTBold;
        font-weight: bold;
      }
      canvas {
        margin: 0 auto;
      }
    }
  }
  .doughnutPanelTab {
    transition: 500ms;
    text-align: center;
    width: 100%;
    min-height: 400px;
    background-color: $color-dark-grey-blue;

    .doughnutPanelHeader {
      width: auto;
      height: 40px;
      padding: 12px 40px;
      background-color: $color-dusk;
      display: flex;
      color: $color-white;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

      div {
        i {
          background-color: #21243b;
          border-radius: 20px;
          padding: 8px;
          border: 2px solid #2fd7c4;
          margin-right: 20px;
        }
      }
      .panelTitle {
        font-family: $font-family-ClanOTBold;
        font-size: 14px;
        color: $color-white;
      }
    }
  }
}
