.section {
  border-left: 1px solid $color-dusk;
  padding: 0 30px 0 40px;
  .sectionTitle {
    font-size: 32px;
    font-weight: bold;
    min-height: 56px;
  }

  .sectionBadge {
    margin: 20px 0 32px;
    span {
      background-color: $color-dusk;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      border-radius: 50px;
      font-size: 14px;
      padding: 8px 24px;
    }
  }

  &.no_border {
    border-left: 1px solid transparent;
  }
}

.progressBarArea {
  margin-top: 24px;
  .progressBar {
    background-color: $color-dusk;
    border-radius: 10px;
  }
  .percentageBlue {
    border-radius: 10px;
    height: 10px;
    background-color: $color-cool-blue;
    -webkit-transition: width 0.5s, height 0.5s;
    transition: width 0.5s, height 0.5s;
  }
  .progressText {
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
    .leftTitle {
      float: left;
    }

    .rightTitle {
      float: right;
    }
    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }
}
.chartSectionBadge {
  display: block;
  margin: 40px 0 56px 24px;
  text-align: center;

  span {
    background-color: $color-dusk;
    border-radius: 17px;
    font-family: $font-family-ClanOT;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 24px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  }
}
