.chartLabels {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  .label {
    text-align: center;
    margin: 0 auto;
  }
}

.lineChartWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectedRadialTab {
  background: transparent;
  color: $color-white;
}

.dataWrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 56px;

  .panelChart {
    transition: 500ms;
    text-align: center;
    flex: 1;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;

    .panelHeader {
      font-family: $font-family-ClanOTBold;
      font-size: 18px;
    }

    &:nth-child(2) {
      border-left: 1px solid $color-dusk;
      border-right: 1px solid $color-dusk;
    }

    .doughnutChartContainer {
      position: relative;
      margin-top: 40px;

      p {
        font-family: $font-family-ClanOTNews;
        font-size: 14px;
        width: 50%;
        display: block;
        margin: 0 auto;
      }

      .textBold {
        font-family: $font-family-ClanOTBold;
        font-weight: bold;
      }
    }
  }
}

.emptyDoughnut {
  position: absolute;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
}

.radialChartsContainer {
  width: 100%;
  display: flex;
  margin-top: 72px;

  [class*='radialChartsContainer'] {
    margin-top: 0;
  }

  &_loading {
    display: flex;
    align-items: center;
    height: 460px;
    width: 100%;
  }

  &_empty {
    @extend .radialChartsContainer_loading;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-family: $font-family-ClanOTBold;
      font-size: 24px;
      margin: auto;
    }
  }

  .doughnutTabs {
    border: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  .radialChart {
    //transition: 500ms;
    text-align: center;
    width: calc(25% - 41px);
    float: left;
    margin: 56px 0;
    padding: 0px 20px;
    border-left: 1px solid $color-dusk;
    list-style: none;
    position: relative;
    // transition: all 1s ease-in-out;
    .cardTitle {
      font-family: $font-family-primary;
      font-size: 32px;
      font-weight: 800;
      line-height: 40px;
    }
    .subtitle {
      padding: 8px 24px;
      display: inline-flex;
      margin-top: 26px;
      position: relative;
      border-radius: 17px;
      line-height: 18px;
      font-family: $font-family-ClanOTBold;
      font-size: 14px;
      &.dark {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        color: #fff;
        background-color: #545b79;
      }
      &.light {
        color: #505050;
        box-shadow: 0 1px 2px 0 #bebebe;
        background-color: #fff;
      }
    }
    h1 {
      position: relative;
      font-size: 2rem;
    }

    &:first-child {
      border: none;
    }
    .doughnutChartContainer {
      position: relative;
      margin-top: 40px;
      p {
        font-family: $font-family-ClanOTNews;
        font-size: 14px;
        width: 75%;
        display: block;
        margin: 0 auto;
        padding-left: 4px;
        padding-top: 32px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 60px;
        height: 100%;
        position: relative;

        &:before {
          content: '';
          background-color: $color-cool-blue;
          border-radius: 50%;
          height: 16px;
          width: 16px;
          position: absolute;
          left: 7px;
          top: 37px;
        }
      }
      .textBold {
        font-family: $font-family-ClanOTBold;
        font-weight: bold;
      }
      canvas {
        margin: 0 auto;
      }
    }
    .doughnutChartFooter {
      display: none;
      align-items: center;
      justify-content: center;
      position: relative;
      bottom: -56px;
      left: -30px;
      width: calc(100% + 60px);
      height: 56px;
      background-color: rgba(255, 255, 255, 0.9);
      font-family: $font-family-ClanOT;
      font-size: 14px;
      font-weight: bold;
      color: $color-dusk;
      cursor: pointer;
    }
    // .icon-Arrow-Down:before {
    //   color: $color-dusk;
    // }
    .doughnutChartFooterIcon {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid #545b79;
      background: transparent;
      line-height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      span {
        font-size: 12px;
        margin-top: 2px;
        font-weight: bold;
        // &:before {
        //   color: $color-dusk;
        // }
      }
    }
    &:hover {
      // transform: scaleX(1.10) scaleY(1.22);
      margin: 28px 0;
      z-index: 1;
      .doughnutChartContainerHover {
        position: absolute;
        left: -10px;
        right: -10px;
        top: -56px;
        bottom: -56px;
        width: calc(100% + 20px);
      }
      .doughnutChartFooter {
        display: flex;
      }
    }
  }
  .doughnutPanelTab {
    // transition: 500ms;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 400px;
    background-color: $color-dark-grey-blue;

    .doughnutPanelHeader {
      width: auto;
      height: 40px;
      padding: 12px 40px;
      background-color: $color-dusk;
      display: flex;
      // color: $color-white;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);

      .iconWrapper {
        display: inline-block;
        cursor: pointer;
        span {
          font-size: 32px;
          display: inline-block;
        }
        .iconTitle {
          display: inline-block;
          vertical-align: bottom;
          font-family: $font-family-ClanOTBold;
          font-size: 14px;
          font-weight: 500;
          // color: $color-white;
          margin-left: 20px;
        }
      }
      .panelTitle {
        font-family: $font-family-ClanOTBold;
        font-size: 14px;
        color: $color-white;
      }
    }
  }
}

.icon {
  margin-left: 8px;
}

.dot {
  color: $color-white;
  font-size: 14px;
  margin-top: 24px;
  font-family: $font-family-ClanOTNews;
}
.sliderContainer {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 215px;

  .image {
    margin-top: 10px;
    .originalImage {
      padding: 5px 0px 5px 5px;
      background-color: $color-dark-five;
    }
    .hover {
      display: none;
    }
    &:hover {
      .hover {
        top: 10px;
        display: block;
        position: absolute;
        transform: scale(1.2);
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.tabList {
  background: $color-dusk;
  margin: 0;
  padding: 27px 23px;
  color: $color-cool-grey;
  font-family: $font-family-ClanOTNews;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.selectedTab {
  background: transparent;
  font-weight: bold;
  color: $color-white;
}
.radarChartContainer {
  margin: 0 auto;
  padding-top: 35px;
  background-color: $color-dark-grey-blue;
  height: 303px;
}
.cancelButton {
  float: right;
  cursor: pointer;
  background-color: #21243b;
  border-radius: 20px;
  padding: 8px;
  border: 2px solid #2fd7c4;
}
.tabPanel {
  background-color: $color-dark-grey-blue;
  padding: 10px 30px;
  height: 318px;
  overflow-y: scroll;

  .tabPanelItem {
    background-color: $color-dark-five;
    border: 1px solid $color-dusk;

    div {
      img {
        vertical-align: middle;
      }
      .progressbarContainer {
        padding: 0px 30px;
        .barOptions {
          display: flex;
          justify-content: space-between;
          font-family: $font-family-ClanOT;
          font-weight: 500;
          p {
            font-size: 12px;
            flex: 1;
            &:first-child {
              text-align: left;
            }
            &:last-child {
              text-align: right;
            }
          }
        }
        .progressBar {
          background-color: $color-white;
          border-radius: 8px;
        }
        .percentage {
          border-radius: 8px;
          height: 8px;
          background-color: $color-lighter-purple;
        }
      }
    }
  }
}

.headerInfo {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.formWrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  //width: 360px;
  margin-bottom: 0;
  text-align: left;
  position: relative;

  > div:last-child {
    margin-right: 24px;
  }
}

.formWrapper > form > div {
  width: calc(50% - 5px);
}

.redRound {
  background-color: $color-coral-pink;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.purpleRound {
  background-color: $color-lighter-purple;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.duskRound {
  background-color: $color-cool-blue;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.temperatureHeader {
  display: flex;
  width: calc(100% - 80px);
  padding: 48px 40px 20px;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
  }

  h2 {
    font-family: $font-family-ClanOTBold;
    font-size: 18px;
  }

  .inputWrapper {
    width: 200px;
  }
}

.temperatureContentContainer {
  width: calc(100% - 40px);
  padding: 56px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:first-child {
    border: none;
  }

  .temperatureContentWrapper {
    position: relative;
    width: calc(33.33% - 41px);
    border-left: 1px solid $color-dusk;
    padding: 20px;
    &:first-child {
      border: none;
    }

    .textTop {
      font-size: 14px;
      font-family: $font-family-ClanOTBold;
      position: absolute;
      top: -40px;
      left: calc(50% - 22.5px);
    }

    .textRight {
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      color: $color-cool-grey;
      position: absolute;
      top: calc(50% - 14px);
      right: -50px;
    }

    .textBottom {
      font-size: 14px;
      font-family: $font-family-ClanOTBold;
      position: absolute;
      bottom: -40px;
      left: calc(50% - 12px);
    }

    .textLeft {
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      color: $color-cool-grey;
      position: absolute;
      top: calc(50% - 14px);
      left: -40px;
    }

    .horizontalLine {
      width: 204px;
      height: 4px;
      background-color: $color-dark-five;
      position: absolute;
      top: calc(50% - 2px);
    }

    .verticalLine {
      width: 4px;
      height: 204px;
      background-color: $color-dark-five;
      position: absolute;
      top: 0;
      left: calc(50% - 2px);
    }

    .temperatureContent {
      display: block;
      margin: 0 auto;
      width: 204px;
      height: 204px;
      background-color: $color-dusk;
      border-radius: 100%;
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
      position: relative;

      .redRound {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }

      .purpleRound {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }

      .duskRound {
        width: 40px;
        height: 40px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        border: 1px solid $color-dark-five;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.emptyData {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 268px;
  margin-top: 17px;
  margin-bottom: 24px;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 24px;
  font-weight: bold;
  font-family: $font-family-ClanOT;
  background-color: rgba(255, 255, 255, 0.3);

  &--loading {
    background-color: unset;
  }
}

.infoLoading {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.chartLoading {
  opacity: 0.25;
}

.pageTitle {
  margin-top: 72px;
  margin-bottom: -8px;
  line-height: 24px;
  font-size: 18px;
  color: #505050;
  font-family: $font-family-ClanOT;
  font-weight: bold;
}
