.dayButton {
  background-color: transparent;
  border: 1px solid $color-dusk;
  border-radius: 8px;
  font-family: $font-family-ClanOTNews;
  font-size: 14px;
  text-align: center;
  color: $color-cool-grey;
  line-height: 56px;
  width: 100%;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0;

  &:not(:last-child) {
    margin-right: 18px;
  }

  &:hover,
  &.selected {
    background-color: $color-dusk;
    color: $color-white;
  }
  &.selected {
    font-weight: 700;
    font-family: $font-family-ClanOTBold;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: -24px;
}
