.section {
  position: relative;
  height: 480px;
  overflow: hidden;
  padding-top: 50px;
}

.pagination {
	display: flex;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 38px;

	div {
		display: inline-block;
		width: 104px;
		opacity: .5;
		transition: all .3s ease-in-out;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 28px;
		}

		img {
			width: 100%;
			height: auto;
			margin-bottom: 8px;
		}

		span {
			font-size: 14px;

			i {
				margin-right: 8px;
			}
		}
	}
}
