.blurredImageContainer{
  position: relative;
  display: block;
  overflow: hidden;
  :global {
    .jwplayer {
      background-color: transparent;
      .jw-preview {
        background-color: transparent;
      }
    }
  }
  .blurredImage {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -20px;
    right: -20px;
    filter: blur(5px);
  }
}