
	.checkList {
		display: flex;
		flex-direction: column;
		font-size: 14px;
		height: auto;
		background-color: $color-neutral-white;
	
		li {
			display: flex;
			width: 100%;
	
			&:nth-of-type(1) {
				margin-top: 0;
				label {
					border-top: 1px solid $color-neutral-sterling-grey;
				}
			}
	
			label {
				position: relative;
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				width: 100%;
				height: 56px;
				line-height: 56px;
				padding: 0 5px;
				margin: 0;
				border: 1px solid $color-neutral-sterling-grey;
				border-top: none;
	
				> div:last-child {
					cursor: pointer;
					position: absolute;
					height: 24px;
					width: 24px;
					font-family: $font-family-qf-icons;
					font-size: 24px;
					left: 16px;
	
					&:after {
						background-color: $color-neutral-white;
						border-radius: 100%;
						content: '\e968';
						color: $color-neutral-medium-grey;
					}
				}
	
				span {
					padding-left: 60px;
					font-size: 16px;
				}
			}
	
			.option_label {
				display: flex;
			}
	
			[type='checkbox'], [type='radio'] {
				visibility: hidden;
				position: absolute;
			}
	
			[type='checkbox']:checked ~ div:after, [type='radio']:checked ~ div:after {
				content: '\e968';
				border: none;
				background-color: $color-primary-cool-blue;
			}
		}
	}