html
    head
        != title
        != meta
        != link

        //- Prevent flash of content on initial load by displaying a gif until the DOM has been loaded
        style(type="text/css").
            body {
                opacity: 0;
                background: #21243B;
            }
        script(type="text/javascript").
            document.addEventListener("DOMContentLoaded", function(event) {
                document.body.style.opacity = 1;
            });

        if ENV == 'production' || ENV == 'staging'
            script(type="text/javascript").
                (function() {
                    var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/41e4c49f-3d83-47ab-87a1-d9a9b3bf4606.js';
                    var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
                })();

        if ENV == 'production' || ENV == 'staging'
            link(rel="stylesheet", href="bundle.min.css")

        link(rel="stylesheet" type="text/css" charset="UTF-8" async="true" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
        link(rel="stylesheet" type="text/css" async="true" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css")
        link(rel="stylesheet" type="text/css" charset="UTF-8" async="true" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")

    body
        #app!= content
        script(type="text/javascript") window.__INITIAL_STATE__ = !{state}
        if ENV == 'development'
            script(type="text/javascript" src="/lib/library.dll.js")
            script(type="text/javascript", src="https://lumiary-local.quickframe.com:9090/dist/bundle.js")
        if ENV == 'production' || ENV == 'staging'
            script(type="text/javascript" src="vendor.min.js")
            script(type="text/javascript" src="bundle.min.js")
