<html>
	<head>
		<title data-react-helmet="true"></title>
		<style type="text/css">
			body {
				opacity: 0;
				background: center no-repeat
					url("https://s3.amazonaws.com/quickframe-static-dev/homepage/measure-wheel-qf.gif");
			}
		</style>
		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded", function(event) {
				document.body.style.opacity = 1;
				document.body.style.background = "none";
			});
		</script>
		<link rel="stylesheet" href="bundle.min.css" />
		<link
			rel="stylesheet"
			type="text/css"
			charset="UTF-8"
			async="true"
			href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			async="true"
			href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
		/>
	</head>
	<body>
		<div id="app">
			<img
				src="https://s3.amazonaws.com/quickframe-static-dev/lucy-assets/Spinner-1s-200px.svg"
			/>
		</div>
		<script type="text/javascript">
			window.__INITIAL_STATE__ = {
				app: {
					config: {},
					breakpoints: null,
					isLoading: false,
					isMobile: false,
					location: { success: false, location: null },
					locationCurrent: null,
					locationHistory: [],
					metadata: {
						title: "Lumiary",
						meta: [
							{ "http-equiv": "X-UA-Compatible", content: "IE=edge" },
							{
								name: "viewport",
								content:
									"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
							},
							{ name: "description", content: "Quickframe Lumiary" }
						],
						script: [
							{
								type: "application/ld+json",
								innerHTML: '{ "@context": "http://schema.org" }'
							}
						]
					},
					position: { success: false, latitude: false, longitude: false }
				},
				home: {
					error: false,
					errorMessage: null,
					lumascape: null,
					measure: null,
					phoneSlider: null,
					priceSlider: null
				},
				dropzone: {
					files: [],
					tmp: [],
					progress: [],
					uploading: [],
					editItem: null,
					modalOpen: false
				},
				library: { video: null, compareVideos: [] },
				form: {}
			};</script
		><script
			type="text/javascript"
			src="//s3.amazonaws.com/quickframe-static-qa/bundles/lumiere/vendor.510321b0b1c8f07fd3c0.js"
		></script
		><script
			type="text/javascript"
			src="//s3.amazonaws.com/quickframe-static-qa/bundles/lumiere/main.48f41aa9bd5a225b7c30.js"
		></script>
	</body>
</html>
