.loading {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 300px;
	height: calc(100vh - 100px);
}

.message {
	color: $color-neutral-charcoal;
	display: block;
	font-family: $font-family-sans-serif-bold;
	font-size: 42px;
	line-height: 1.5;
}

.reloadMessage {
	color: $color-primary-electric-blue;
	cursor: pointer;
	display: block;
	font-size: 26px;
	line-height: 1.5;
	margin-top: 16px;

	&:hover {
		text-decoration: underline;
		text-decoration-color: $color-primary-electric-blue;
	}
}
