.quickviewCard {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 70px;
  margin-right: 20px;
  margin-left: 20px;

  .quickViewIcon {
    font-size: 22px;
    margin-right: 10px;
  }

  .quickviewCardHeader {
    display: flex;
    height: 56px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
  }

  .quickviewCardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 102px;

    @media only screen and (max-width: 1024px) {
      padding: 32px 51px;
    }
  }

  .quickviewCardContentInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: $color-white;
    padding: 0 30px;
  }

  .differenceType {
    color: $color-white;
    font-size: 24px;
    font-family: $font-family-primary;
    margin-bottom: 40px;
  }

  .differenceCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $color-dark-five;

    color: $color-white;
    font-size: 12px;
    font-family: $font-family-ClanOTNews;

    & > div > div {
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 4px;
    }
  }
}
