.header {
	float: left;
	font-size: 18px;
	color: $color-white;
	font-family: $font-family-sans-serif;
}
.addNewButton {
	float: right;
	font-size: 48px;
	color: $color-white;
	font-family: $font-family-sans-serif;
}
