.colorList {
  display: flex;
  flex-direction: column;
  padding-left: 40px;

  .colorListItem {
    display: flex;
    align-items: center;
    margin: 25px 0;
    font-size: 14px;
    font-family: $font-family-ClanOTNews;

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: black;
      margin-right: 5px;
    }

    &:nth-child(1):before {
      background-color: #2fd7c4;
    }

    &:nth-child(2):before {
      background-color: #8562f3;
    }

    &:nth-child(3):before {
      background-color: #5292e5;
    }

    &:nth-child(4):before {
      background-color: #acb0be;
    }

    &:nth-child(5):before {
      background-color: #5a6386;
    }

    &:nth-child(6):before {
      background-color: #ff556f;
    }
  }

  &.floatRight {
    float: right;
    .colorListItem {
      margin: 0 0 0 30px;
    }
  }
  &.colorListHorizontal {
    flex-direction: row;
    padding-left: 0;
    .colorListItem {
      margin: 0 15px;
    }

    &.minimizedLabels {
      [id='Bleacher Report']:before {
        background-color: #2fd7c4;
      }

      [id='Barstool Sports']:before {
        background-color: #8562f3;
      }

      [id='Complex']:before {
        background-color: #5292e5;
      }

      [id='Fox Sports']:before {
        background-color: #acb0be;
      }

      [id="The Players' Tribune"]:before {
        background-color: #5a6386;
      }

      [id='ESPN']:before {
        background-color: #ff556f;
      }
      .colorListItem {
        font-size: 13px;
        margin: 0 10px;
      }
    }
  }

  &.colorListSmall {
    justify-content: center;
    padding-left: 0;
    margin: 40px 0;

    .colorListItem {
      font-size: 12px;
      margin-right: 12px;
    }

    &:before {
      width: 7px;
      height: 7px;
      margin-right: 2.5px;
    }
  }
}
