.colorList {
  display: flex;
  flex-direction: column;
  padding-left: 40px;

  .colorListItem {
    display: flex;
    align-items: center;
    margin: 25px 0;
    font-size: 14px;
    font-family: $font-family-ClanOTNews;

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: black;
      margin-right: 5px;
    }

    &:nth-child(1):before {
      background-color: #51adc0;
    }

    &:nth-child(2):before {
      background-color: #8567f0;
    }

    &:nth-child(3):before {
      background-color: #5292e5;
    }

    &:nth-child(4):before {
      background-color: #acb0be;
    }

    &:nth-child(5):before {
      background-color: #5a6386;
    }
  }

  &.floatRight {
    float: right;
    .colorListItem {
      margin: 0 0 0 30px;
    }
  }
  &.colorListHorizontal {
    flex-direction: row;
    padding-left: 0;
    .colorListItem {
      margin: 0 15px;
    }
  }

  &.colorListSmall {
    justify-content: center;
    padding-left: 0;
    margin: 40px 0;

    .colorListItem {
      font-size: 12px;
      margin-right: 12px;
    }

    &:before {
      width: 7px;
      height: 7px;
      margin-right: 2.5px;
    }
  }
}

.barChartContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .moduleBodyColorList {
    margin: 48px 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    .colorItem {
      display: flex;
      font-size: 14px;
      font-family: $font-family-ClanOTNews;
      align-items: center;
      justify-content: center;
      text-align: center;
      span {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-bottom: -2px;
        margin-right: 5px;
        border-radius: 10px;
      }
    }
    :not(:first-child) {
      margin-left: 45px;
    }
  }
}
