.lineChartContainer {
  background-color: $color-dark-grey-blue;

  .lineChartHeader{
    .title {
      font-family: $font-family-ClanOTBold;
      font-size: 18px;
    }

    .references {
      div {
        font-size: 12px;
        line-height: 1.8rem;
        span {
          width: 8px;
          height: 8px;
          display: inline-block;
          margin-right: 5px;
          border-radius: 10px;
        }
      }
    }
  }
}

.lineChartWrapper{
	canvas{
		margin: 0 auto;
	}
}
