.section {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.nextButton,
.prevButton {
  position: absolute;
  cursor: pointer;
  border-radius: 20px;
  right: 40px;
  top: 119%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.prevButton {
  left: 40px;
  right: auto;
}

.disabled {
  opacity: 0.5;
  cursor: initial;
}

video {
  width: 100%;
  height: 100%;
}

.videoEmpty {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 100%;
  width: 100%;
}
