.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 451px;
  min-height: 250px;
  border: 1px solid $color-dusk;
  background-color: $color-dark-five;

  .marketCardHeader {
    padding-top: 48px;
    text-align: center;
    font-family: $font-family-primary;
    font-size: 32px;
  }
  .progressArea {
    margin: 0 48px;
    .title {
      text-align: center;
      font-family: $font-family-ClanOT;
      font-size: 14px;
      padding-top: 34px;
      padding-bottom: 16px;
    }
    .progressBar {
      background-color: $color-dusk;
      border-radius: 10px;
    }
    .percentageBlue {
      border-radius: 10px;
      height: 10px;
      background-color: $color-cool-blue;
      -webkit-transition: width 0.5s, height 0.5s;
      transition: width 0.5s, height 0.5s;
    }
    .percentageRed {
      border-radius: 10px;
      height: 10px;
      background-color: $color-coral-pink;
      -webkit-transition: width 0.5s, height 0.5s;
      transition: width 0.5s, height 0.5s;
    }
    .progressText {
      font-size: 14px;

      font-family: $font-family-ClanOTNews;
      .leftTitle {
        float: left;
      }

      .rightTitle {
        float: right;
      }
      &::after {
        content: '';
        clear: both;
        display: table;
      }
    }
  }
}

.cardDescription {
  margin: 0 48px;
  padding-top: 34px;
  font-family: $font-family-ClanOTNews;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 85px;
  height: 100%;
}

.sliderModuleContainer {
  display: flex;
}

.sliderModuleContainer,
.sliderModuleContainerBody {
  flex-direction: column;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.sliderGrid {
  display: grid;
  margin-top: 56px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 40px;
}

.sliderLoader {
  display: flex;
  align-items: center;
  min-height: 496px;
}

.cardEmpty {
  display: flex;
  align-items: center;
  margin: auto;
  font-size: 24px;
  font-weight: bold;
}

.sliderEmpty {
  height: 496px !important;
}
