.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.chartContainer {
  flex: 1;
  &:last-child {
    flex: initial;
    margin-left: 56px;
  }
}

.headerLabel {
  p {
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
  }
}

.redRound {
  background-color: $color-coral-pink;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.duskRound {
  background-color: $color-cool-blue;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}
