.container {
  display: flex;
  // padding: 8px 40px 40px;
  width: 100%;
  height: 300px;
  justify-content: space-between;
  padding-bottom: 45px;

  .legends {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 30px;
    .legend {
      border-radius: 17px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      background-color: $color-dusk;
      color: #ffffff;
      font-family: $font-family-ClanOTBold;
      font-size: 14px;
      padding: 8px 28px;
      text-align: center;
    }
  }
}
