.letterBar {
  margin: 72px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-cool-grey;
  border-bottom: 1px solid $color-cool-grey;
  .letter {
    width: 45px;
    font-family: $font-family-ClanOT;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
    border-left: 1px solid $color-cool-grey;
    background-color: $color-dark-grey-blue;
    padding: 21px 12px;
    text-decoration: none;
    &:last-child {
      border-right: 1px solid $color-cool-grey;
    }
  }
  .activeLetter {
    background-color: #2fd7c4;
    font-weight: 700;
  }
}

.glossaryBodyContainer {
  display: flex;
  
  .glossarySidebar {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    font-family: $font-family-ClanOTNews;
    font-size: 14px;
    width: calc(30% - 40px);
    margin-right: 40px;
    .inputContainer{
      background-color: $color-dark-grey-blue;
      padding: 23px 32px;
      .searchIcon{
        margin-right: 8px;
      }
      .searchInput{
        background-color: transparent;
        border: none;
        color: $color-cool-grey;
        padding: 5px;
        &::placeholder{
          color: $color-cool-grey;
          font-size: 14px;
        }
        &:before{
          content: '',
        }
      }
    }

    .sideBarMenu{
      background-color: $color-dusk-two;
      height: 824px;
      overflow-y: auto;
      padding: 24px 32px;
      .menuLink{
        color: #fff;
        display: block;
        font-family: $font-family-ClanOTNews;
        font-size: 14px;
        margin-bottom: 32px;
        text-decoration: none;
        &.active{
          font-weight: bold;
          .menuText{
            position: relative;
            &:after{
              content: '';
              background-color: $color-cool-blue;
              position: absolute;
              width: 100%;
              height: 4px;
              bottom: -8px;
              left: 0;
            }
          }
        }
      }

      &::-webkit-scrollbar{
          background-color: transparent;
          position: relative;
          margin-right: 10px;
          width: 30px;
      }
      &::-webkit-scrollbar-thumb{
        background-clip: padding-box;
        background-color: $color-dark-five;
        border: 12px solid transparent;
        border-radius: 20px;
      }
    }
  }
  .glossaryMain {
    width: 70%;
  }
}