.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.reverse {
  flex-direction: row-reverse;
}

.chartContainer {
  flex: 1;
  // &:last-child {
  //   flex: initial;
  //   margin-left: 56px;
  // }
}

.headerLabel {
  p {
    font-size: 14px;
    font-family: $font-family-ClanOTNews;
  }
}

.redRound {
  background-color: $color-coral-pink;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.duskRound {
  background-color: $color-cool-blue;
  width: 16px;
  height: 16px;
  display: inline-flex;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

.doughnutChartContainer {
  margin: 0px -8px 0px 0px !important;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.labels {
  display: flex;
  padding-left: 53px;

  .label {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    margin-top: 10px;

    font-size: 12px;
    font-family: $font-family-ClanOTNews;

    &:before {
      content: attr(data-text);
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      display: none;
    }

    &:hover:before {
      display: block;
    }
  }
}
