.formatItems {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  // margin-top: 47px;
  margin-bottom: 30px;

  .formatItem {
    flex: 1;
    &:nth-child(1) {
      .formatItemIcon span {
        background-color: $color-cool-blue;
      }
    }
    &:nth-child(2) {
      .formatItemIcon span {
        background-color: $color-lighter-purple;
      }
    }
    &:nth-child(3) {
      .formatItemIcon span {
        background-color: $color-coral-pink;
      }
    }
    &:nth-child(4) {
      .formatItemIcon span {
        background-color: $color-cool-grey;
      }
    }

    .formatItemIcon {
      display: flex;
      justify-content: center;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-color: #000;
        color: #fff;
        font-family: 'Futura';
        font-size: 1em;
        margin-bottom: 6px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
      }
    }
    .formatItemText {
      // margin-top: 20px;
      margin-top: 16px;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      span {
        display: block;
        text-align: center;

        &:nth-child(1) {
          font-family: $font-family-ClanOTBold;
          font-size: 12px;
          font-weight: bold;
          margin-bottom: 4px;
        }
        &:nth-child(2) {
          font-family: $font-family-ClanOTNews;
          font-size: 12px;
        }
      }
    }
  }
}
