ul.radioButtonGroup {
  @include position(relative);
  display: flex;
  @include align-items(flex-end);
  @include margin(20px 0);
  @include flex-wrap(wrap);
  justify-content: space-between;

  [type="radio"]{
    visibility: hidden;
    position: absolute;
  }

  &.phone {
    justify-content: center;

    li {
      margin-bottom: 60px;
      color: $color-neutral-charcoal;
      @media #{$medium-up} {
        &:first-of-type {
          margin-top: 12px;
        }
        &:nth-child(3) {
          margin-bottom: 24px;
        }
      }

      span {
        padding-top: 4px;
      }

      &.selected {
        .inner {
          background-color: $color-primary-electric-yellow;
        }
      }

      &:hover {
        .inner {
          background-color: $color-primary-electric-yellow;
        }
      }
    }

    .inner {
      position: absolute;
      left: 13px;
      width: 21px;
      height: 36px;
      background-color: $color-neutral-sterling-grey;
    }

    .phone916, .phone11, .phone45, .phone169 {
      &:before {
        font-family: $font-family-qf-icons;
        font-size: 48px;
        content: "\e91e";
      }
    }

    .phone169 {
      transform: rotate(90deg);
      transform-origin: 16px 17px;
    }

    .phone916 {
      .inner {
        top: -10px;
        left: 13px;
      }
    }

    .phone11 {
      .inner {
        top: -2px;
        height: 21px
      }
    }

    .phone45 {
      .inner {
        top: 2px;
        height: 15px;
      }
    }

    .phone169{
      .inner {
        top: -10px;
      }
    }
  }

  &.age {
    margin-bottom: 20px;
    margin-top: 40px;
    &:before {
      font-family: $font-family-qf-icons;
      font-size: 120px;
    }

    span {
      margin-top: 20px;
      color: $color-neutral-charcoal;
    }

    .age-both-up-to-10, .age-both-11-17, .age-both-18-24,
    .age-both-25-34, .age-both-35-64, .age-both-over-65,
    .age-women-up-to-10, .age-women-11-17, .age-women-18-24,
    .age-women-25-34, .age-women-35-64, .age-women-over-65,
    .age-men-up-to-10, .age-men-11-17, .age-men-18-24,
    .age-men-25-34, .age-men-35-64, .age-men-over-65,
    {
      &:before {
        font-family: $font-family-qf-icons;
        font-size: 120px;
      }
    }

    //gender neutral
    .age-both-up-to-10 {
      &:before {
        content: "\e901";
        font-size: 80px;
      }
    }

    .age-both-11-17 {
      &:before {
        content: "\e908";
        font-size: 100px;
      }
    }

    .age-both-18-24 {
      &:before {
        content: "\e903";
        font-size: 110px;
      }
    }

    .age-both-25-34 {
      &:before {
        content: "\e90a";
      }
    }

    .age-both-35-64 {
      &:before {
        content: "\e905";
        font-size: 115px;
      }
    }

    .age-both-over-65 {
      &:before {
        content: "\e90c";
        font-size: 110px;
      }
    }

    //women
    .age-women-up-to-10 {
      &:before {
        content: "\e901";
        font-size: 80px;
      }
    }

    .age-women-11-17 {
      &:before {
        content: "\e902";
        font-size: 100px;
      }
    }

    .age-women-18-24 {
      &:before {
        content: "\e903";
      }
    }

    .age-women-25-34 {
      &:before {
        content: "\e904";
      }
    }

    .age-women-35-64 {
      &:before {
        content: "\e905";
      }
    }

    .age-women-over-65 {
      &:before {
        content: "\e906";
        font-size: 110px;
      }
    }

    //men
    .age-men-up-to-10 {
      &:before {
        content: "\e907";
        font-size: 80px;
      }
    }

    .age-men-11-17 {
      &:before {
        content: "\e908";
        font-size: 100px;
      }
    }

    .age-men-18-24 {
      &:before {
        content: "\e909";
      }
    }

    .age-men-25-34 {
      &:before {
        content: "\e90a";
      }
    }

    .age-men-35-64 {
      &:before {
        content: "\e90b";
      }
    }

    .age-men-over-65 {
      &:before {
        content: "\e90c";
        font-size: 110px;
      }
    }







  }
  li {
    position: relative;
    display: flex;
    justify-content: center;

    label {
      display: flex;
      @include flex-direction(column);
      @include align-items(center);
      font-weight: normal;
      position: relative;
      cursor: pointer;
      @include transition(0.1s linear);

      &:hover {
        color: $color-neutral-charcoal;
      }

      .selected & {
        color: red;
      }
    }

    color: $color-neutral-sterling-grey;

    &.selected {
      color: $color-neutral-charcoal;
    }

    .sex {
      @include size(130px);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      border: 1px solid $color-neutral-sterling-grey;

      @media #{$medium-only}{
        @include size(150px);
      }

      @media #{$large-up} {
        @include size(200px);
      }


      &:hover{
        background-color: $color-primary-electric-yellow;
      }
    }

    .men {
      &:before {
        content: url("#{$s3_static}img/gender/men.svg");
      }
    }

    .women {
      &:before {
        content: url("#{$s3_static}img/gender/women.svg");
      }
    }

    .both {
      &:before {
        content: url("#{$s3_static}img/gender/gender-neutral.svg");
      }
    }

    .age {

    }

    .social {
      display: flex;
      flex-wrap: wrap;
      font-size: 32px;
    }
  }
}

svg {
  margin-bottom: 5px;
  color: inherit;
  font-size: 30px;
}



