.percentageCol {
  position: relative;
  margin-top: 40px;
  padding: 0 54px;
  margin-bottom: 40px;

  .chartSectionBadge {
    display: block;
    margin: 40px 0 56px;
    text-align: center;
    white-space: nowrap;

    span {
      background-color: $color-dusk;
      border-radius: 17px;
      font-family: $font-family-ClanOT;
      font-size: 14px;
      font-weight: bold;
      padding: 8px 24px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    }
  }

  &:not(:last-child):after {
    content: '';
    position: absolute;
    right: -1px;
    bottom: 40px;
    height: 120px;
    width: 1px;
    background: $color-dusk;
  }
}
.overflowHidden {
  overflow: hidden;
}
.percentageGraphContainer {
  display: flex;
}
