.percentageCol {
  position: relative;
  margin-top: 40px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  display: flex;

  .legend {
    border-radius: 17px;
    background-color: $color-dusk;
    color: #ffffff;
    font-family: $font-family-ClanOTBold;
    font-size: 14px;
    padding: 8px 24px;
    margin: 15px 0 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .colorBubble {
      width: 14px;
      height: 14px;
      border-radius: 14px;
      margin-right: 8px;
    }

    &.dark {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);

      .colorBubble {
        border: 1px solid #fff;
      }
    }

    &.light {
      box-shadow: 0 1px 2px 0 #bebebe;
    }
  }

  .divider {
    width: 1px;
    height: 100%;
    background-color: #c6c9d7;
    position: absolute;
    right: -1px;
  }
}
.overflowHidden {
  overflow: hidden;
}
.percentageGraphContainer {
  display: flex;
}

.contentVitalityChart {
  position: relative;
  margin-left: -20px;
  &:before {
    font-size: 12px;
    z-index: 4;
    position: absolute;
    left: 0;
    transform: rotateZ(-90deg) translateX(-40%);
    transform-origin: 0 0;
  }

  &:before {
    content: attr(data-legend);
    top: 50%;
    left: 41px;
    font-family: $font-family-ClanOTBold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 12px;
  }
}
.doughnutChartText {
  width: 218px;
  height: 78px;
  margin-top: 32px;
  font-family: $font-family-ClanOTNews;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #505050;
  &.average {
    width: 236px;
    height: 104px;
  }
}
.centerText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .bigText {
      font-size: 15px;
      font-family: Futura;
      font-size: 24px;
      font-weight: 800;
      text-align: center;
    }
    .averageText {
      &.dark {
        color: #fff;
      }
      &.light {
        color: #fff;
      }
    }
    .littleText {
      font-family: $font-family-ClanOT;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #505050;
    }
  }
}
.container {
  display: flex;
  justify-content: center;
  .percentageCol:last-child {
    .divider {
      display: none;
    }
  }
  margin-bottom: 16px;
}
.sortText {
  height: 23px;
  font-family: $font-family-ClanOT;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  &.dark {
    color: #fff;
  }
  &.light {
    color: #505050;
  }
}
