

@mixin checkboxgroup($color: $color-primary-electric-yellow, $border: 2px, $height: 20px, $width: 20px) {
	[type="checkbox"]{
	  	visibility: hidden;
	}

	[type="checkbox"]:checked ~ .check::before{
	  background: $color;
	}

	ul {
		position: relative;
		
		li {
			position: relative;

			label {
				position: relative;
			    font-weight: normal;
				cursor: pointer;
				@include transition(0.1s linear);

				.check {
					position: relative;
					border: $border solid $color-neutral-true-black;
					height: $height;
					width: $width;
					@include transition(0.1s linear);

					&:before {
						display: block;
						position: absolute;
						content: '';
						height: 100%;
						width: 100%;
						@include transition(0.1s linear);
					}
				}
			}

			&:hover {
				.check {
					border: $border solid $color-neutral-medium-grey;
				}
			}
		}
	}
}

.checkboxgroup-container {
	@include checkboxgroup;

	ul {
		@include grid-collapse;
		display: flex;
		flex-wrap: wrap;
		@include margin(20px null 20px null);

		li {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20%;
			margin-bottom: 30px;
			label {
				display: flex;
			    flex-direction: column;
			    align-items: center;

			}
		}
	}

}