.label {
  display: block;
  color: $color-white;
  margin-bottom: 16px;
}

.input {
  font-family: $font-family-ClanOTNews;
  outline: 0;
  border: 1px solid;
  padding: 10px 20px;
  box-sizing: border-box;
  height: 40px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.dark {
  color: #fff;
  border-color: #545b79;
  background: #373f5b;
  &:focus {
    border-color: #acb0be;
  }
  &::placeholder {
    color: #545b79;
  }
}
.light {
  color: #505050;
  border-color: #c6c9d7;
  background: #f3f6f9;
  &:focus {
    border-color: #acb0be;
  }
  &::placeholder {
    color: #c6c9d7;
  }
}
.typing {
  border: 1px solid #acb0be;
}

.error {
  border: 1px solid $color-coral-pink;
  .label {
    color: $color-coral-pink;
  }
}
