// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)
@mixin meyer-reset {

	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	b,
	u,
	i,
	center,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td,
	article,
	aside,
	canvas,
	details,
	embed,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	menu,
	nav,
	output,
	ruby,
	section,
	summary,
	time,
	mark,
	audio,
	video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	// HTML5 display-role reset for older browsers
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol,
	ul {
		list-style: none;
	}

	blockquote,
	q {
		quotes: none;
	}

	blockquote {

		&:before,
		&:after {
			content: "";
			content: none;
		}
	}

	q {

		&:before,
		&:after {
			content: "";
			content: none;
		}
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
}

:global {
	@include meyer-reset;
}

html {
	font-size: 16px;
	font-family: $font-family-sans-serif;
}

body {
	-webkit-overflow-scrolling: touch;
	background: $color-dark;
}

@font-face {
	font-family: "Glyphicons Halflings";
	font-weight: normal;
	src: url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/fonts/glyphicons-halflings-regular.woff2");
}

@font-face {
	font-family: "icomoon";
	src: url("#{$s3_static}fonts/lumiary/icomoon.eot?tzinal");
	src: url("#{$s3_static}fonts/lumiary/icomoon.eot?tzinal#iefix") format("embedded-opentype"),
	url("#{$s3_static}fonts/lumiary/icomoon.woff2?tzinal") format("woff2"),
	url("#{$s3_static}fonts/lumiary/icomoon.ttf?tzinal") format("truetype"),
	url("#{$s3_static}fonts/lumiary/icomoon.woff?tzinal") format("woff"),
	url("#{$s3_static}fonts/lumiary/icomoon.svg?tzinal#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="qf-icon"],
[class*=" qf-icon"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:global {
	@import "./../../scss/helpers.scss";

	.qf-iconRight-Arrow:before {
		content: "\e987";
	}

	.qf-iconLeft-Arrow:before {
		content: "\e988";
	}

	.qf-iconFacebook:before {
		content: "\e97d";
	}

	.qf-iconInstagram:before {
		content: "\e984";
	}

	.qf-iconSnapchat:before {
		content: "\e985";
	}

	.qf-iconTwitter:before {
		content: "\e986";
	}

	.qf-iconPinterest:before {
		content: "\e989";
	}

	.qf-iconYotube:before {
		content: "\e98a";
	}

	.qf-iconAdd:before {
		content: "\e97c";
	}

	.qf-iconPlay .path1:before {
		content: "\e97e";
		color: rgb(255, 255, 255);
	}

	.qf-iconPlay .path2:before {
		content: "\e97f";
		margin-left: -0.849609375em;
		color: rgb(68, 68, 68);
	}

	.qf-iconPlay .path3:before {
		content: "\e980";
		margin-left: -0.849609375em;
		color: rgb(255, 255, 255);
	}

	.qf-iconPlay .path4:before {
		content: "\e981";
		margin-left: -0.849609375em;
		color: rgb(68, 68, 68);
	}

	.qf-iconPlay .path5:before {
		content: "\e982";
		margin-left: -0.849609375em;
		color: rgb(255, 255, 255);
	}

	.qf-iconPlay .path6:before {
		content: "\e983";
		margin-left: -0.849609375em;
		color: rgb(68, 68, 68);
	}

	.qf-iconX:before {
		content: "\e942";
	}

	.qf-iconInformation:before {
		content: "\e977";
	}

	.qf-iconMale:before {
		content: "\e979";
	}

	.qf-iconDrag:before {
		content: "\e97a";
	}

	.qf-iconDrag--Drop:before {
		content: "\e97b";
	}

	.qf-iconFemale:before {
		content: "\e978";
	}


	.yellow {
		@include qf-button($color-primary-electric-yellow);
	}

	.blue {
		@include qf-button($color-primary-electric-blue);
	}

	.green {
		@include qf-button($color-primary-electric-green);
	}
}

// AnonymousPro
@font-face {
	font-family: "AnonymousPro";
	src: url("#{$s3_static}fonts/AnonymousPro.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AnonymousProBold";
	src: url("#{$s3_static}fonts/circular/AnonymousProB.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AnonymousProBI";
	src: url("#{$s3_static}fonts/circular/AnonymousProBI.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AnonymousProI";
	src: url("#{$s3_static}fonts/circular/AnonymousProI.ttf");
	font-weight: normal;
	font-style: normal;
}

// ClanOT
@font-face {
	font-family: "ClanOT";
	src: url("./../../assets/fonts/ClanOT/ClanOT-Medium.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ClanOTBook";
	src: url("./../../assets/fonts/ClanOT/ClanOT-Book.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "ClanOTNews";
	src: url("./../../assets/fonts/ClanOT/ClanOT-News.ttf");
	font-weight: normal;
	font-style: normal;
}
