.Select {
	font-family: $font-family-ClanOTNews;
	font-size: 14px;
	margin: 10px 0;
	div {
		background-image: none;
		border-radius: 8px;
		border: 0;
	}
	&:nth-last-child(2){
		background-color: $color-dusk;
	}
	span{
		visibility: hidden;
	}
	svg{
		visibility: hidden;
	}
}
