{
	"presets": ["env", "react", "stage-2"],
	"plugins": [
		"react-hot-loader/babel",
		"syntax-dynamic-import",
		"transform-runtime",
		"transform-object-rest-spread",
		[
			"module-resolver",
			{
				"root": "../",
				"cwd": "babelrc",
				"alias": {
					"Api": "./client/api",
					"Components": "./client/components",
					"Containers": "./client/containers",
					"Selectors": "./client/selectors",
					"Scss": "./client/scss",
					"Reducers": "./client/reducers",
					"Utils": "./client/utils",
					"Sagas": "./client/sagas"
				}
			}
		]
	]
}
