.legend {
  @include margin(80px null 21px null);

  .main {
    font-size: 22px;
    font-family: $font-family-sans-serif-bold;
    text-align: center;
    @include position(relative);
    @include frame($color-primary-electric-yellow, 12px, 32px, -30px, -20px);
    display: inline-block;
    line-height: 24px;
    color: $color-neutral-charcoal;

    @media #{$small-up} {
      font-size: 32px;
      line-height: 32px;

      @include frame($color-primary-electric-yellow, 12px, 32px, -40px, -20px);
    }
  }

  .secondary {
    font-size: 16px;
    margin-top: 16px;
  }
}
