:global {
  @import './scss/_misc/misc';

  .customRangeSlider {
    margin-bottom: 40px;
    .rc-slider-step {
      span:first-child {
        display: none;
      }
      span:last-child {
        display: none;
      }
    }
    .rc-slider-mark {
      margin-top: 15px;
      span {
        color: white !important;
      }
    }
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    color: #505050;
    background: #e8ecf0;
  }

  .ReactModal__Body--open {
    overflow: hidden;
  }

  .QuickviewVideoCard {
    width: 384px;
  }
  .marketViewSlickSlider {
    max-height: 100%;

    .item {
      position: relative;
      opacity: 0.2;
      margin: 49px 0;
      width: 634px;
      height: 248px;
      &:focus {
        outline: none;
      }
      img {
        width: 100%;
        height: 100%;
      }
      p {
        font-family: $font-family-ClanOT;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        background: rgba($color: $color-dark-grey-blue, $alpha: 0.8);
        width: 100%;
        line-height: 52px;
        .icon {
          span {
            vertical-align: middle;
            padding: 4px;
            font-size: 25px;
            margin: 0 8px 0 15px;
          }
        }
        .secondTitle {
          float: right;
          margin-right: 15px;
        }
      }
    }

    .slick-prev {
      width: 40px;
      height: 40px;
      display: block;
      background: white;
      border-radius: 20px;
      left: 15%;
      top: 35%;
      z-index: 11;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        font-family: $font-family-qf-icons;
        content: '\E988';
        color: black;
        line-height: 40px;
      }

      &:hover {
        background: #fff;
      }
    }

    .slick-next {
      width: 40px;
      height: 40px;
      display: block;
      background: white;
      border-radius: 20px;
      right: 15%;
      top: 35%;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '\E987';
        color: $color-black;
        font-family: $font-family-qf-icons;
        line-height: 40px;
      }

      &:hover {
        background: #fff;
      }
    }

    .slick-slide {
      padding: 0 20px;
    }
    .slick-current {
      .item {
        // transition: all .2s ease;
        opacity: 1;
        margin: 0px;
        width: 634px;
        height: 346px;
      }
      img {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
      }
    }
    .slick-thumb {
      z-index: 10;
      top: 390px;
      .slick-active {
        opacity: 1;
        font-weight: bold;
      }
      li {
        width: 100px;
        margin: 0 14px;
        opacity: 0.2;
        transition: all 0.3s ease;

        a {
          img {
            width: 100%;
            position: relative;
          }
          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            font-family: $font-family-ClanOTNews;
            text-align: left;
            .icon {
              span {
                vertical-align: middle;
                padding: 4px;
                font-size: 20px;
                margin-right: 5px;
              }
            }
          }
        }
      }
      li:last-child {
        // display: none;
      }
    }
  }

  .audienceThumbSlider {
    width: calc(100% - 230px);
    height: 110px;
    margin: 40px auto;

    .item {
      box-sizing: border-box;
      position: relative;
      color: $color-dusk;
      font-family: $font-family-primary;
      font-size: 40px;
      padding: 2px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0.6;

      &.swiper-slide-prev,
      &.swiper-slide-next {
        opacity: 0.8;
      }

      p {
        position: relative;
        width: 75px;
        height: 86px;
        border-radius: 8px;
        box-shadow: 0;
        background-color: transparent;
        box-sizing: border-box;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: 300ms;

        span {
          font-family: $font-family-primary;
          font-size: 40px;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          font-style: normal;
          font-stretch: condensed;
          line-height: normal;
          letter-spacing: normal;
        }

        &:before {
          /*
          content: "";
          position: absolute;
          top: 65%;
          height: 2px;
          width: 0;
          background-color: #fff;
          transition: 300ms;
          */
        }

        &:after {
          content: 'Age';
          font-size: 12px;
          position: absolute;
          width: 100%;
          text-align: center;
          bottom: 0px;
          font-family: $font-family-ClanOTNews;
          opacity: 0;
          transition: 300ms;
        }
      }

      &:before {
        content: '';
        width: 1px;
        background-color: $color-dusk;
        height: 24px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-top: -10px;
      }

      &:last-child:after {
        content: '';
        width: 1px;
        background-color: $color-dusk;
        height: 24px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-top: -10px;
      }

      &.swiper-slide-thumb-active {
        opacity: 1;
        p {
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
          border-width: 1px;

          span {
            text-decoration: underline;
          }

          &:before {
            width: 50px;
          }
          &:after {
            opacity: 1;
          }
        }
      }
    }
  }

  .audienceSlider,
  .marketViewSlider {
    height: 366px;

    .swiper-container {
      overflow: visible;
    }

    .itemWrapper {
      width: 100%;
      height: 100%;
      display: flex;
    }

    .item {
      width: 634px;
      position: relative;
      opacity: 0.2;
      margin: 49px 0;
      height: 248px;

      .percentageWrapper {
        opacity: 0.8;
        position: absolute;
        right: 80px;
        top: 17px;
      }

      .libraryPercentageGraph {
        opacity: 0.8;
      }

      &:focus {
        outline: none;
      }
      img {
        width: 100%;
        height: 100%;
      }
      p {
        font-family: $font-family-ClanOT;
        font-size: 14px;
        position: absolute;
        bottom: -1px;
        left: -1px;
        right: -1px;
        box-sizing: border-box;
        background: rgba($color: $color-dark-grey-blue, $alpha: 0.8);
        width: 100%;
        line-height: 52px;
        .icon {
          span {
            vertical-align: middle;
            padding: 4px;
            font-size: 25px;
            margin: 0 8px 0 15px;
          }
        }
        .secondTitle {
          float: right;
          margin-right: 15px;
        }
      }

      &.swiper-slide-active {
        opacity: 1;
        margin: 0px;
        height: 346px;

        img {
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
        }
      }
    }
  }

  .marketViewSlider {
    .swiper-button-prev,
    .swiper-button-next {
      width: 32px;
      height: 32px;
      top: 35%;
    }

    .active {
      opacity: 1;
    }
  }

  .custom-select {
    height: 40px;
    //width: 130px;

    // max-width: 230px;
    // border-radius: 8px;
    // border: 1px solid $color-dusk;
    // background-color: $color-dark-five;

    // > div,
    // > div > div,
    // [aria-hidden='true'] {
    //   border-radius: 8px !important;
    // }
  }

  .custom-select.combine-select {
    //width: 220px;
  }

  .headerRight {
    position: relative;
    display: flex;
    justify-content: flex-end;
    & > div {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }

    .custom-select {
      margin-left: 30px;
    }
  }

  .poa-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bold;
    font-family: $font-family-ClanOT;
  }

  .video-wrapper {
    position: relative;
  }

  .video-wrapper > video {
    width: 100%;
    vertical-align: middle;
  }

  .video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
  }

  .video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 calc(50% - 50px) 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: linear-gradient(transparent, #000);
    transition: opacity 150ms;
    z-index: 10;
  }

  .video-overlay-play-button:hover {
    opacity: 1;
  }

  .video-overlay-play-button.is-hidden {
    opacity: 0;
  }
  .video-overlay-play-button.is-visible {
    opacity: 1;
  }
}
