%absolute {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container {
	@extend %absolute;
	height: 472px;
	overflow: hidden;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
	border: 1px solid $color-dusk;
	box-sizing: border-box;
}

.video {
	@extend %absolute;
	height: 472px;
	background: black;
}

.barOpacity {
	position: absolute;
	bottom: -1px; // -1px for container border
	left: -1px; // -1px for container border
	right: -1px; // -1px for container border
	height: 52px;
  // background-color: rgba($color-dark-grey-blue, 0.8);
  background-color: $color-dark-grey-blue;
  opacity: .8;
	z-index: 11;
	padding: 0 24px;
}

.percentageWrapper {
  opacity: .8;
  position: absolute;
  right: 80px;
  top: 15px;
}

.bar {
	position: absolute;
	bottom: -1px; // -1px for container border
	left: -1px; // -1px for container border
	right: -1px; // -1px for container border
	height: 52px;
	background-color: transparent;
	z-index: 11;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 24px;
	font-family: $font-family-ClanOT;
	font-weight: bold;
	color: #ffffff;
	font-size: 14px;

	.barTitle{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.barChart{
		float:right;
	}
}

.icon {
	font-size: 24px;
	margin-right: 10px;
}

.barChartInfo {
	background-color: transparent;
	border: none;
	color: $color-white;
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		font-family: $font-family-primary;
		font-size: 24px;
		font-weight: bold;
		font-weight: 800;
		font-style: normal;
		font-stretch: condensed;
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
	}
}

.libraryPercentageGraph {
	opacity: 0.8;
	.percentageContainer {
		color: yellow;
		background-color: #fff !important;
	}
}
