%absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  @extend %absolute;
  overflow: hidden;
}

.video {
  @extend %absolute;
  background: black;
}

.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba($color-dark-grey-blue, 0.8);
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-family: $font-family-ClanOTNews;
  color: #ffffff;
  font-size: 14px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}
