.header {
	float: right;
	font-size: 18px;
	color: $color-white;
	font-family: $font-family-sans-serif;
}

.rankList {
	vertical-align: top;
<<<<<<< HEAD
	width:440px;
=======
	border: 1px dashed #ccc;
	width: 440px;
>>>>>>> origin/weekend-master
}

.sliderCell {
	width: 130px;
	height: 130px;
}

.info_fb {
<<<<<<< HEAD
    font-family: $font-family-icons;
    font-size: 15px;
    content:"\e013";
    display: inline-block;
    color: #fff;
    position: absolute;
    right: -20px;
    top: 30px;
}
.infoBlock {
	height: 110px;
}
=======
	font-family: $font-family-icons;
	font-size: 15px;
	content: "\e013";
	display: inline-block;
	color: #fff;
	// position: absolute;
	right: -20px;
	top: 30px;
}
>>>>>>> origin/weekend-master
