.header {
	float: right;
	font-size: 18px;
	color: $color-white;
	font-family: $font-family-sans-serif;
}
.rankList {
	vertical-align: top;
	border: 1px dashed #ccc;
	width:440px;
}
.sliderCell {
	width:130px;
	height:130px;
}
.info_fb {
    font-family: $font-family-icons;
    font-size: 15px;
    content:"\e013";
    display: inline-block;
    color: #fff;
    position: absolute;
    right: -20px;
    top: 30px;
}