.header {
	float: right;
	margin-right:50px;
	color: $color-white;
	font-family: $font-family-sans-serif;
	height: 29px;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: var(--pale-grey);
}
.container {
	padding-top:18px;
}
.rankList {
	vertical-align: top;
	width:440px;
}
.sliderCell {
	width: 130px;
	height: 130px;
}
.icon_fb {
    font-family: $font-family-icons;
    font-size: 15px;
    content:"\e013";
    display: inline-block;
    color: #fff;
    position: absolute;
    right: -20px;
    top: 30px;
}
.infoBlock {
	height: 110px;
	width:440px;
	background-color: #2f2e3c;
}
