.rankingsHeader {
	font-family: $font-family-sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: right;
	color: $color-white;
	clear: both;
	margin-top: 10px;
}

.rankList {
	height: 230px;
}
.sliderCell {
	div {
		video {
			width: 120px !important;
		}
	}
}
.iconCircle {
	position: relative;
	border-radius: 50%;
	background-color: $color-dark-two;
	margin-right: 20px;
	width: 54px;
	height: 54px;
}

.infoBlock {
	padding: 30px 10px;
	background-color: $color-charcoal-grey;
}

.iconCircle > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-size: 28px;
	color: $color-white;
}
.versusShadowed {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: hidden;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.slidecontainer {
	width: 100%;
}

/* The slider itself */
.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 5px;
	background: transparent;
	outline: none;
	opacity: 1;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
	box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 5px;
	background: $color-dark-three;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}
.bestToWorst {
	display: flex;
	font-size: 14px;
	padding: 10px 0;
	font-family: $font-family-sans-serif;
	.bestToWorstWord {
		flex: 1;
	}
	.line {
		flex: 5;
		border-top: 1px dashed $color-pale-grey;
		margin-top: 8px;
	}
}
